In [23]:
import requests
import pandas as pd
import csv

import json
import numpy as np

import overpass
import OSMPythonTools

In [34]:
api = overpass.API()
response = api.Get('relation["name"="London,"]', responseformat="json")

In [35]:
response

{u'elements': [],
 u'generator': u'Overpass API',
 u'osm3s': {u'copyright': u'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.',
  u'timestamp_osm_base': u'2017-05-13T13:58:43Z'},
 u'version': 0.6}

In [31]:
amenities = api.Get('node[amenity]', responseformat = "json")

TimeoutError:

In [14]:
way_query = overpass.WayQuery('[name="London"]')
response = api.Get(way_query, responseformat = ("json"))

In [18]:
import nominatim

In [19]:
nominatim = Nominatim()
areaId = nominatim.query('London').areaId()

NameError: name 'Nominatim' is not defined

In [34]:
json_list_data = response['elements']

In [35]:
labels = ['id', 'lat', 'lon', 'tags' ]
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,lat,lon,tags
0,107775,51.507322,-0.127647,"{u'name:cy': u'Llundain', u'name:ko': u'런던', u..."
1,25679272,13.105453,123.699602,"{u'is_in:state': u'Albay', u'place': u'hamlet'..."
2,29809707,59.333516,18.061036,"{u'website': u'http://restauranglondon.se/', u..."
3,89123697,60.236841,25.084874,"{u'amenity': u'pub', u'name': u'London'}"
4,150938750,36.476062,-119.443179,"{u'gnis:ST_alpha': u'CA', u'gnis:County_num': ..."
5,150946975,43.634276,-123.090975,"{u'gnis:ST_alpha': u'OR', u'gnis:County_num': ..."
6,151363281,30.677194,-99.577140,"{u'gnis:ST_alpha': u'TX', u'gnis:County_num': ..."
7,151379108,32.230989,-94.944384,"{u'gnis:ST_alpha': u'TX', u'gnis:County_num': ..."
8,151421387,35.328973,-93.252955,"{u'gnis:ST_alpha': u'AR', u'gnis:County_num': ..."
9,151435352,43.526073,-93.062697,"{u'gnis:ST_alpha': u'MN', u'gnis:County_num': ..."
10,151641414,40.444995,-95.234978,"{u'gnis:ST_alpha': u'MO', u'gnis:County_num': ..."
11,151813068,47.202704,-91.569617,"{u'gnis:ST_alpha': u'MN', u'gnis:County_num': ..."
12,153408665,43.047778,-89.012888,"{u'gnis:ST_alpha': u'WI', u'gnis:County_num': ..."
13,153530510,31.297671,-87.087752,"{u'gnis:ST_alpha': u'AL', u'gnis:County_num': ..."
14,153587103,32.273198,-86.050237,"{u'gnis:ST_alpha': u'AL', u'gnis:County_num': ..."
15,153802229,39.625602,-85.920259,"{u'gnis:ST_alpha': u'IN', u'gnis:County_num': ..."
16,153861158,35.869823,-83.002092,"{u'gnis:ST_alpha': u'TN', u'gnis:County_num': ..."
17,153940737,39.886449,-83.448253,"{u'website': u'http://www.ci.london.oh.us/', u..."
18,154001519,41.143671,-80.148672,"{u'gnis:ST_alpha': u'PA', u'gnis:County_num': ..."
19,154069758,42.020044,-83.613270,"{u'gnis:ST_alpha': u'MI', u'gnis:County_num': ..."
20,154083583,40.910334,-82.629341,"{u'gnis:ST_alpha': u'OH', u'gnis:County_num': ..."
21,154301303,38.194357,-81.368694,"{u'gnis:ST_alpha': u'WV', u'gnis:County_num': ..."
22,154363264,37.128977,-84.083265,"{u'gnis:ST_alpha': u'KY', u'gnis:County_num': ..."
23,174278497,-33.858370,151.184599,"{u'amenity': u'pub', u'name': u'London', u'cre..."
24,262708760,-24.817778,31.047222,"{u'source': u'sagns', u'sagns_id': u'100777', ..."
25,294145135,-25.751990,28.203790,"{u'amenity': u'bar', u'name': u'London'}"
26,385732547,63.682011,22.712378,"{u'name:fi': u'Lontoo', u'place': u'village', ..."
27,442117705,32.330145,34.852799,"{u'wheelchair': u'yes', u'diet:kosher': u'no',..."
28,459654600,51.601489,-0.111696,"{u'amenity': u'cafe', u'name': u'London'}"
29,485248691,42.988576,-81.246643,"{u'name:en': u'London', u'name': u'London', u'..."
...,...,...,...,...
41,1827771047,0.381890,9.453997,"{u'place': u'neighbourhood', u'name': u'London'}"
42,1854394922,43.869108,10.242691,"{u'tourism': u'hotel', u'name': u'London'}"
43,2081769897,38.527041,68.554004,"{u'amenity': u'fast_food', u'name': u'London',..."
44,2103906075,56.231008,93.554869,"{u'shop': u'beauty', u'opening_hours': u'09:00..."
45,2175332269,59.924453,30.311827,"{u'smoking': u'yes', u'amenity': u'pub', u'nam..."
46,2246548683,42.352239,-3.670654,"{u'amenity': u'cafe', u'name': u'London'}"
47,2342169350,-33.911158,18.389507,"{u'shelter': u'yes', u'name': u'London', u'hig..."
48,2407371105,46.032578,14.530525,"{u'place': u'neighbourhood', u'name': u'London'}"
49,2511882281,39.474711,-0.379807,"{u'addr:housenumber': u'20', u'amenity': u'pub..."
50,2543351260,42.894171,20.865796,"{u'amenity': u'cafe', u'addr:city': u'Mitrovic..."
51,2669978625,40.431860,-3.712841,"{u'addr:housenumber': u'44', u'cuisine': u'reg..."
52,2673014278,-33.911356,18.389631,"{u'name': u'London', u'highway': u'bus_stop'}"
53,2841687006,3.373990,9.834770,"{u'place': u'village', u'name': u'London'}"
54,3150276015,49.966731,22.028712,"{u'amenity': u'bar', u'name': u'London', u'add..."
55,3285395254,48.612056,22.300448,"{u'addr:housenumber': u'11', u'amenity': u'pub..."
56,3424449418,55.677012,37.505330,"{u'amenity': u'pub', u'name': u'London'}"
57,3536032500,40.367574,49.830197,"{u'amenity': u'restaurant', u'name': u'London'}"
58,3541624802,59.344677,18.111165,"{u'place': u'city_block', u'name': u'London'}"
59,3686766003,-22.588095,17.077047,"{u'amenity': u'nightclub', u'name': u'London'}"
60,3710181748,39.766381,3.152909,"{u'amenity': u'pub', u'name': u'London'}"
61,3751543707,49.537315,8.354143,"{u'amenity': u'pub', u'name': u'London'}"
62,4233004794,53.728562,78.052557,"{u'tourism': u'hotel', u'name': u'London'}"
63,4240008383,46.632650,5.098175,{u'source': u'cadastre-dgi-fr source : Directi...
64,4255245190,42.291417,18.850295,"{u'cuisine': u'italian_pizza', u'amenity': u'c..."
65,4282463789,54.720342,20.484750,"{u'amenity': u'restaurant', u'name': u'London'}"
66,4330495724,39.752207,64.428425,"{u'amenity': u'bar', u'name': u'London'}"
67,4331422249,41.641140,-0.896677,"{u'addr:housenumber': u'5', u'cuisine': u'sand..."
68,4336624291,44.538443,18.675821,"{u'addr:housenumber': u'16', u'amenity': u'fas..."
69,4371620903,42.102395,-8.557328,"{u'addr:postcode': u'37470', u'amenity': u'pub..."
70,4602247639,41.331185,19.817375,"{u'amenity': u'cafe', u'name': u'London'}"