Task of this notebook:
1. interpolate data (use tdal data as example... function)

In [1]:
# libraries
import json
import pandas as pd
import os
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
from scipy import interpolate

In [2]:
# read in PTAL data.
PTAL = pd.read_csv("/Users/June/urbanDNA/Ele-June/June's Data/COA2011 AvPTAI2015.csv")
PTAL.head()

     COA2011  AvPTAI2015 PTAL  PTAIHigh  PTAILow
0  E00000001     51.8576   6b   51.8576  51.8576
1  E00000003     49.8750   6b   49.8750  49.8750
2  E00000005     59.1269   6b   59.1269  59.1269
3  E00000007     82.9036   6b   97.4435  68.2293
4  E00000010     43.0317   6b   43.0317  43.0317

In [5]:
# well.. the grid version is more poised for interpolation
PTAL.grid =pd.read_csv("/Users/June/urbanDNA/Ele-June/June's Data/2015  PTALs Grid Values 280515.csv")
PTAL.grid
# use the Accessiility Index 2015 (AI2015) bc it is numerical variable. 
# PTAL.grid.dtypes
PTAL.grid.describe()

                 ID              X              Y        AI2015
count  65499.000000   65499.000000   65499.000000  65499.000000
mean   32750.000000  531527.316005  169456.165483      7.233324
std    18908.076978   11592.483381    5327.660434      8.506547
min        1.000000  503596.000000  155898.000000      0.000000
25%    16375.500000  522845.000000  165352.000000      1.793474
50%    32750.000000  532145.000000  170152.000000      4.852556
75%    49124.500000  541345.000000  174052.000000      9.885432
max    65499.000000  553654.000000  177452.000000     92.987122

In [7]:
min(PTAL.grid['X']) #

503596

In [ ]:
# x = np.arange(min(PTAL.grid['X'])-1, max(PTAL.grid['X'])+1, 1)
# y = np.arange(min(PTAL.grid['Y'])-1, max(PTAL.grid['Y'])+1, 1)
# xx, yy = np.meshgrid(PTAL.grid['X'], PTAL.grid['Y'])
x = PTAL.grid['X']
y = PTAL.grid['Y']
z = PTAL.grid['AI2015']
f = interpolate.RectBivariateSpline(x, y, z)