# 3a1m

## Overpass API to extract amenity, shopping, tourism, and leisure nodes for London

http://wiki.openstreetmap.org/wiki/API_v0.6

http://python-overpy.readthedocs.io/en/latest/example.html#parse-json-or-xml-responses

https://github.com/datadesk/overpass-turbo-turorial

http://wiki.openstreetmap.org/wiki/Overpass_API/Overpass_API_by_Example

In [1]:
# I M P O R T  L I B R A R I E S 
import pandas as pd
import requests
import json
import geojson
import overpy
import os
import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Choose Directory
os.chdir('/Users/mercedeslanda/Documents/urbanDNA/data')
api = overpy.Overpass()

In [ ]:
/*
This has been generated by the overpass-turbo wizard.
The original search was:
“amenity = *”
*/
[out:json][timeout:25];
// gather results
area[name="City of London"]->.a;
(
  // query part for: “amenity=*”
  
  node(area.a)["amenity"]["amenity"!="bench"]["amenity"!="waste_basket"]["amenity"!="telephone"]["amenity"!="post_box"]["amenity"!="toilets"]
["amenity"!="bicycle_parking"]
["amenity"!="amusements"]
["amenity"!="bandstand"]
["amenity"!="clock"]
["amenity"!="court"]
["amenity"!="design"]
["amenity"!="disused"]["amenity"!="yes"]
["amenity"!="no"]
["amenity"!="e-cigarette"]
["amenity"!="information"]
["amenity"!="mall"]
["amenity"!="natural_reserve"]
["amenity"!="notice_board"]
["amenity"!="picnic_site"]
["amenity"!="sauna"]
["amenity"!="spa"]
["amenity"!="recycling"]
["amenity"!="motorcycle_parking"]
["amenity"!="car_sharing"]
["amenity"!="news_agent"]  
["amenity"!="pitch"]  
["amenity"!="vacant"]  
["amenity"!="picnic_table"]  
["amenity"!="parking_space"]  
["amenity"!="taxi"]  
["amenity"!="studio"]  
["amenity"!="unknown"]  
["amenity"!="slipway"]  
["amenity"!="garden_centre"] 
["amenity"!="kiosk"]
["amenity"!="charging_station"]  
["amenity"!="parking_entrance"]  
["amenity"!="trade"]  
["amenity"!="office"]  
["amenity"!="drinking_water"]  
["amenity"!="recreation"]  
["amenity"!="waste"]  
["amenity"!="catalogue"]  
["amenity"!="glaziery"]  
["amenity"!="frame"]
["amenity"!="marina"]
["amenity"!="general"]
["amenity"!="closed"]
["amenity"!="bus_garage"]
["amenity"!="job_centre"]
["amenity"!="dead_pub"]
["amenity"!="attraction"]
["amenity"!="vending_machine"]
["amenity"!="public_building"]  
  ;
  
  node(area.a)["shop"]
["shop"!="bench"]
["shop"!="waste_basket"]
["shop"!="telephone"]
["shop"!="post_box"]
["shop"!="toilets"]
["shop"!="bicycle_parking"]
["shop"!="amusements"]
["shop"!="bandstand"]
["shop"!="clock"]
["shop"!="court"]
["shop"!="design"]
["shop"!="disused"]["shop"!="yes"]
["shop"!="no"]
["shop"!="e-cigarette"]
["shop"!="information"]
["shop"!="mall"]
["shop"!="natural_reserve"]
["shop"!="notice_board"]
["shop"!="picnic_site"]
["shop"!="sauna"]
["shop"!="spa"]
["shop"!="recycling"]
["shop"!="motorcycle_parking"]
["shop"!="car_sharing"]
["shop"!="news_agent"]  
["shop"!="pitch"]  
["shop"!="vacant"]  
["shop"!="picnic_table"]  
["shop"!="parking_space"]  
["shop"!="taxi"]  
["shop"!="studio"]  
["shop"!="unknown"]  
["shop"!="slipway"]  
["shop"!="garden_centre"] 
["shop"!="kiosk"]
["shop"!="charging_station"]  
["shop"!="parking_entrance"]  
["shop"!="trade"]  
["shop"!="office"]  
["shop"!="drinking_water"]  
["shop"!="recreation"]  
["shop"!="waste"]  
["shop"!="catalogue"]  
["shop"!="glaziery"]  
["shop"!="frame"]
["shop"!="marina"]
["shop"!="general"]
["shop"!="closed"]
["shop"!="bus_garage"]
["shop"!="job_centre"]
["shop"!="dead_pub"]
["shop"!="attraction"]
["shop"!="vending_machine"]
["shop"!="public_building"] ;
  
  node(area.a)["tourism"]
  ["tourism"!="bench"]
["tourism"!="waste_basket"]
["tourism"!="telephone"]
["tourism"!="post_box"]
["tourism"!="toilets"]
["tourism"!="bicycle_parking"]
["tourism"!="amusements"]
["tourism"!="bandstand"]
["tourism"!="clock"]
["tourism"!="court"]
["tourism"!="design"]
["tourism"!="disused"]["tourism"!="yes"]
["tourism"!="no"]
["tourism"!="e-cigarette"]
["tourism"!="information"]
["tourism"!="mall"]
["tourism"!="natural_reserve"]
["tourism"!="notice_board"]
["tourism"!="picnic_site"]
["tourism"!="sauna"]
["tourism"!="spa"]
["tourism"!="recycling"]
["tourism"!="motorcycle_parking"]
["tourism"!="car_sharing"]
["tourism"!="news_agent"]  
["tourism"!="pitch"]  
["tourism"!="vacant"]  
["tourism"!="picnic_table"]  
["tourism"!="parking_space"]  
["tourism"!="taxi"]  
["tourism"!="studio"]  
["tourism"!="unknown"]  
["tourism"!="slipway"]  
["tourism"!="garden_centre"] 
["tourism"!="kiosk"]
["tourism"!="charging_station"]  
["tourism"!="parking_entrance"]  
["tourism"!="trade"]  
["tourism"!="office"]  
["tourism"!="drinking_water"]  
["tourism"!="recreation"]  
["tourism"!="waste"]  
["tourism"!="catalogue"]  
["tourism"!="glaziery"]  
["tourism"!="frame"]
["tourism"!="marina"]
["tourism"!="general"]
["tourism"!="closed"]
["tourism"!="bus_garage"]
["tourism"!="job_centre"]
["tourism"!="dead_pub"]
["tourism"!="attraction"]
["tourism"!="vending_machine"]
["tourism"!="public_building"] ;
  
  node(area.a)["leisure"]
   ["leisure"!="bench"]
["leisure"!="waste_basket"]
["leisure"!="telephone"]
["leisure"!="post_box"]
["leisure"!="toilets"]
["leisure"!="bicycle_parking"]
["leisure"!="amusements"]
["leisure"!="bandstand"]
["leisure"!="clock"]
["leisure"!="court"]
["leisure"!="design"]
["leisure"!="disused"]["leisure"!="yes"]
["leisure"!="no"]
["leisure"!="e-cigarette"]
["leisure"!="information"]
["leisure"!="mall"]
["leisure"!="natural_reserve"]
["leisure"!="notice_board"]
["leisure"!="picnic_site"]
["leisure"!="sauna"]
["leisure"!="spa"]
["leisure"!="recycling"]
["leisure"!="motorcycle_parking"]
["leisure"!="car_sharing"]
["leisure"!="news_agent"]  
["leisure"!="pitch"]  
["leisure"!="vacant"]  
["leisure"!="picnic_table"]  
["leisure"!="parking_space"]  
["leisure"!="taxi"]  
["leisure"!="studio"]  
["leisure"!="unknown"]  
["leisure"!="slipway"]  
["leisure"!="garden_centre"] 
["leisure"!="kiosk"]
["leisure"!="charging_station"]  
["leisure"!="parking_entrance"]  
["leisure"!="trade"]  
["leisure"!="office"]  
["leisure"!="drinking_water"]  
["leisure"!="recreation"]  
["leisure"!="waste"]  
["leisure"!="catalogue"]  
["leisure"!="glaziery"]  
["leisure"!="frame"]
["leisure"!="marina"]
["leisure"!="general"]
["leisure"!="closed"]
["leisure"!="bus_garage"]
["leisure"!="job_centre"]
["leisure"!="dead_pub"]
["leisure"!="attraction"]
["leisure"!="vending_machine"]
["leisure"!="public_building"];
);

// print results
out body;
>;
out skel qt;

In [ ]:
/*
This has been generated by the overpass-turbo wizard.
The original search was:
“amenity = *”
*/
[out:json][timeout:25];
// gather results
area[name="City of London"]->.a;
(
  // query part for: “amenity=*”
  
  way(area.a)["amenity"]["amenity"!="bench"]["amenity"!="waste_basket"]["amenity"!="telephone"]["amenity"!="post_box"]["amenity"!="toilets"]
["amenity"!="bicycle_parking"]
["amenity"!="amusements"]
["amenity"!="bandstand"]
["amenity"!="clock"]
["amenity"!="court"]
["amenity"!="design"]
["amenity"!="disused"]["amenity"!="yes"]
["amenity"!="no"]
["amenity"!="e-cigarette"]
["amenity"!="information"]
["amenity"!="mall"]
["amenity"!="natural_reserve"]
["amenity"!="notice_board"]
["amenity"!="picnic_site"]
["amenity"!="sauna"]
["amenity"!="spa"]
["amenity"!="recycling"]
["amenity"!="motorcycle_parking"]
["amenity"!="car_sharing"]
["amenity"!="news_agent"]  
["amenity"!="pitch"]  
["amenity"!="vacant"]  
["amenity"!="picnic_table"]  
["amenity"!="parking_space"]  
["amenity"!="taxi"]  
["amenity"!="studio"]  
["amenity"!="unknown"]  
["amenity"!="slipway"]  
["amenity"!="garden_centre"] 
["amenity"!="kiosk"]
["amenity"!="charging_station"]  
["amenity"!="parking_entrance"]  
["amenity"!="trade"]  
["amenity"!="office"]  
["amenity"!="drinking_water"]  
["amenity"!="recreation"]  
["amenity"!="waste"]  
["amenity"!="catalogue"]  
["amenity"!="glaziery"]  
["amenity"!="frame"]
["amenity"!="marina"]
["amenity"!="general"]
["amenity"!="closed"]
["amenity"!="bus_garage"]
["amenity"!="job_centre"]
["amenity"!="dead_pub"]
["amenity"!="attraction"]
["amenity"!="vending_machine"]
["amenity"!="public_building"]  
  ;
  
  way(area.a)["shop"]
["shop"!="bench"]
["shop"!="waste_basket"]
["shop"!="telephone"]
["shop"!="post_box"]
["shop"!="toilets"]
["shop"!="bicycle_parking"]
["shop"!="amusements"]
["shop"!="bandstand"]
["shop"!="clock"]
["shop"!="court"]
["shop"!="design"]
["shop"!="disused"]["shop"!="yes"]
["shop"!="no"]
["shop"!="e-cigarette"]
["shop"!="information"]
["shop"!="mall"]
["shop"!="natural_reserve"]
["shop"!="notice_board"]
["shop"!="picnic_site"]
["shop"!="sauna"]
["shop"!="spa"]
["shop"!="recycling"]
["shop"!="motorcycle_parking"]
["shop"!="car_sharing"]
["shop"!="news_agent"]  
["shop"!="pitch"]  
["shop"!="vacant"]  
["shop"!="picnic_table"]  
["shop"!="parking_space"]  
["shop"!="taxi"]  
["shop"!="studio"]  
["shop"!="unknown"]  
["shop"!="slipway"]  
["shop"!="garden_centre"] 
["shop"!="kiosk"]
["shop"!="charging_station"]  
["shop"!="parking_entrance"]  
["shop"!="trade"]  
["shop"!="office"]  
["shop"!="drinking_water"]  
["shop"!="recreation"]  
["shop"!="waste"]  
["shop"!="catalogue"]  
["shop"!="glaziery"]  
["shop"!="frame"]
["shop"!="marina"]
["shop"!="general"]
["shop"!="closed"]
["shop"!="bus_garage"]
["shop"!="job_centre"]
["shop"!="dead_pub"]
["shop"!="attraction"]
["shop"!="vending_machine"]
["shop"!="public_building"] ;
  
  way(area.a)["tourism"]
  ["tourism"!="bench"]
["tourism"!="waste_basket"]
["tourism"!="telephone"]
["tourism"!="post_box"]
["tourism"!="toilets"]
["tourism"!="bicycle_parking"]
["tourism"!="amusements"]
["tourism"!="bandstand"]
["tourism"!="clock"]
["tourism"!="court"]
["tourism"!="design"]
["tourism"!="disused"]["tourism"!="yes"]
["tourism"!="no"]
["tourism"!="e-cigarette"]
["tourism"!="information"]
["tourism"!="mall"]
["tourism"!="natural_reserve"]
["tourism"!="notice_board"]
["tourism"!="picnic_site"]
["tourism"!="sauna"]
["tourism"!="spa"]
["tourism"!="recycling"]
["tourism"!="motorcycle_parking"]
["tourism"!="car_sharing"]
["tourism"!="news_agent"]  
["tourism"!="pitch"]  
["tourism"!="vacant"]  
["tourism"!="picnic_table"]  
["tourism"!="parking_space"]  
["tourism"!="taxi"]  
["tourism"!="studio"]  
["tourism"!="unknown"]  
["tourism"!="slipway"]  
["tourism"!="garden_centre"] 
["tourism"!="kiosk"]
["tourism"!="charging_station"]  
["tourism"!="parking_entrance"]  
["tourism"!="trade"]  
["tourism"!="office"]  
["tourism"!="drinking_water"]  
["tourism"!="recreation"]  
["tourism"!="waste"]  
["tourism"!="catalogue"]  
["tourism"!="glaziery"]  
["tourism"!="frame"]
["tourism"!="marina"]
["tourism"!="general"]
["tourism"!="closed"]
["tourism"!="bus_garage"]
["tourism"!="job_centre"]
["tourism"!="dead_pub"]
["tourism"!="attraction"]
["tourism"!="vending_machine"]
["tourism"!="public_building"] ;
  
  way(area.a)["leisure"]
   ["leisure"!="bench"]
["leisure"!="waste_basket"]
["leisure"!="telephone"]
["leisure"!="post_box"]
["leisure"!="toilets"]
["leisure"!="bicycle_parking"]
["leisure"!="amusements"]
["leisure"!="bandstand"]
["leisure"!="clock"]
["leisure"!="court"]
["leisure"!="design"]
["leisure"!="disused"]["leisure"!="yes"]
["leisure"!="no"]
["leisure"!="e-cigarette"]
["leisure"!="information"]
["leisure"!="mall"]
["leisure"!="natural_reserve"]
["leisure"!="notice_board"]
["leisure"!="picnic_site"]
["leisure"!="sauna"]
["leisure"!="spa"]
["leisure"!="recycling"]
["leisure"!="motorcycle_parking"]
["leisure"!="car_sharing"]
["leisure"!="news_agent"]  
["leisure"!="pitch"]  
["leisure"!="vacant"]  
["leisure"!="picnic_table"]  
["leisure"!="parking_space"]  
["leisure"!="taxi"]  
["leisure"!="studio"]  
["leisure"!="unknown"]  
["leisure"!="slipway"]  
["leisure"!="garden_centre"] 
["leisure"!="kiosk"]
["leisure"!="charging_station"]  
["leisure"!="parking_entrance"]  
["leisure"!="trade"]  
["leisure"!="office"]  
["leisure"!="drinking_water"]  
["leisure"!="recreation"]  
["leisure"!="waste"]  
["leisure"!="catalogue"]  
["leisure"!="glaziery"]  
["leisure"!="frame"]
["leisure"!="marina"]
["leisure"!="general"]
["leisure"!="closed"]
["leisure"!="bus_garage"]
["leisure"!="job_centre"]
["leisure"!="dead_pub"]
["leisure"!="attraction"]
["leisure"!="vending_machine"]
["leisure"!="public_building"];
);

// print results
out center;
out body;
>;
out skel qt;

## Overpy and Overpass-Turbo

In [8]:
api = overpy.Overpass()

### Query for nodes (amenities, shops, tourism, and leisure)

In [25]:
amenity_nodes = api.query("""[out:json];area[name="London"]->.a; node(area.a)["amenity"]["amenity"!="bench"]["amenity"!="waste_basket"]["amenity"!="telephone"]["amenity"!="post_box"]["amenity"!="toilets"]
["amenity"!="bicycle_parking"]["amenity"!="atm"];out;""") #this is the overpass.turbo query as a string

In [7]:
with open('city_node_amenity.json') as geojson_data: 
    json_dic_data = geojson.load(geojson_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'lat', 'lon', 'amenity','classification', 'tags' ]
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,lat,lon,amenity,classification,tags
0,21392280,51.515484,-0.104929,NaN,NaN,"{u'addr:housenumber': u'80', u'source:name': u..."
1,21685700,51.516825,-0.104184,NaN,NaN,"{u'amenity': u'atm', u'name': u'Tesco'}"
2,21686579,51.515403,-0.104335,NaN,NaN,"{u'addr:housenumber': u'20', u'website': u'htt..."
3,21693791,51.515074,-0.099733,NaN,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
4,25473538,51.509682,-0.078508,NaN,NaN,"{u'addr:housenumber': u'15', u'toilets': u'yes..."
5,25474641,51.519776,-0.093756,NaN,NaN,"{u'amenity': u'cinema', u'name': u'Barbican Ce..."
6,25475187,51.511417,-0.077698,NaN,NaN,"{u'addr:housenumber': u'48', u'amenity': u'pub..."
7,25496840,51.516754,-0.110371,NaN,NaN,"{u'operator': u'Young's', u'amenity': u'pub', ..."
8,32921722,51.513788,-0.109219,NaN,NaN,"{u'amenity': u'pub', u'name': u'Serjeants'}"
9,32921723,51.513639,-0.109035,NaN,NaN,"{u'amenity': u'parking', u'created_by': u'JOSM'}"
10,116097320,51.514929,-0.077875,NaN,NaN,"{u'addr:housenumber': u'133', u'website': u'ww..."
11,116097730,51.514828,-0.078119,NaN,NaN,"{u'addr:housenumber': u'31', u'addr:postcode':..."
12,180391012,51.518873,-0.078600,NaN,NaN,"{u'amenity': u'cafe', u'name': u'Starbucks'}"
13,248074287,51.512429,-0.104016,NaN,NaN,"{u'addr:housenumber': u'30', u'toilets': u'yes..."
14,251952329,51.511351,-0.104095,NaN,NaN,{u'amenity': u'fountain'}
15,255396262,51.517820,-0.109078,NaN,NaN,"{u'wheelchair': u'yes', u'amenity': u'bank', u..."
16,255396266,51.514647,-0.098110,NaN,NaN,"{u'amenity': u'bank', u'name': u'Citi'}"
17,255396267,51.514642,-0.098229,NaN,NaN,"{u'amenity': u'bank', u'atm': u'yes', u'name':..."
18,259246781,51.515859,-0.102402,NaN,NaN,"{u'amenity': u'pub', u'name': u'Firefly'}"
19,259247147,51.514016,-0.102142,NaN,NaN,"{u'addr:housenumber': u'42', u'amenity': u'pub..."
20,259247148,51.514044,-0.102310,NaN,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
21,259248888,51.510891,-0.081185,NaN,NaN,"{u'wheelchair': u'no', u'amenity': u'pub', u'n..."
22,259253467,51.511014,-0.084766,NaN,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
23,263679615,51.513045,-0.091298,NaN,NaN,"{u'operator': u'Wetherspoons', u'toilets': u'y..."
24,266560384,51.509393,-0.091624,NaN,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
25,276920899,51.515713,-0.089445,NaN,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
26,277906484,51.513200,-0.087178,NaN,NaN,"{u'addr:housenumber': u'24', u'website': u'htt..."
27,280546902,51.511697,-0.081985,NaN,NaN,"{u'addr:housenumber': u'135', u'website': u'ht..."
28,280547869,51.512255,-0.080059,NaN,NaN,"{u'operator': u'Barclays Bank PLC', u'amenity'..."
29,280547870,51.512045,-0.079483,NaN,NaN,"{u'amenity': u'bank', u'atm': u'yes', u'name':..."
...,...,...,...,...,...,...
861,4683826102,51.515676,-0.107837,NaN,NaN,"{u'amenity': u'cafe', u'name': u'Paul'}"
862,4683826103,51.515462,-0.109164,NaN,NaN,"{u'amenity': u'restaurant', u'name': u'Tas Res..."
863,4683826104,51.515692,-0.108980,NaN,NaN,"{u'amenity': u'cafe', u'name': u'Coco Di Mama'}"
864,4684785733,51.514746,-0.109465,NaN,NaN,"{u'amenity': u'bar', u'name': u'The Slug and L..."
865,4684958736,51.511207,-0.083762,NaN,NaN,"{u'addr:housenumber': u'20', u'amenity': u'res..."
866,4684958737,51.511171,-0.083771,NaN,NaN,"{u'addr:housenumber': u'20', u'amenity': u'res..."
867,4684958738,51.511135,-0.083783,NaN,NaN,"{u'addr:housenumber': u'20', u'amenity': u'caf..."
868,4684958739,51.515297,-0.082712,NaN,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
869,4685078689,51.512332,-0.093058,NaN,NaN,"{u'addr:housenumber': u'61', u'amenity': u'fas..."
870,4685241493,51.514477,-0.109745,NaN,NaN,"{u'amenity': u'restaurant', u'name': u'28-50 W..."
871,4687696983,51.512160,-0.104804,NaN,NaN,"{u'addr:housenumber': u'19', u'cuisine': u'sic..."
872,4687696984,51.512121,-0.104803,NaN,NaN,"{u'addr:housenumber': u'19', u'amenity': u'res..."
873,4691514036,51.513804,-0.110360,NaN,NaN,"{u'addr:housenumber': u'24', u'cuisine': u'sea..."
874,4691826689,51.514945,-0.075941,NaN,NaN,"{u'amenity': u'courthouse', u'name:en': u'Fina..."
875,4705711288,51.516873,-0.078732,NaN,NaN,"{u'addr:housenumber': u'9a', u'cuisine': u'sco..."
876,4711974953,51.513059,-0.083474,NaN,NaN,"{u'amenity': u'cafe', u'name': u'Coffeeworks P..."
877,4718553520,51.511911,-0.079171,NaN,NaN,"{u'addr:housenumber': u'5', u'cuisine': u'pizz..."
878,4718553523,51.511716,-0.079170,NaN,NaN,"{u'cuisine': u'burger', u'addr:unit': u'Retail..."
879,4718553524,51.511836,-0.079810,NaN,NaN,"{u'addr:housenumber': u'20', u'cuisine': u'med..."
880,4719617987,51.513961,-0.105033,NaN,NaN,"{u'amenity': u'bar', u'name': u'City Of London..."
881,4719617988,51.513907,-0.105059,NaN,NaN,"{u'amenity': u'restaurant', u'name': u'SHOT'}"
882,4719617989,51.513871,-0.104801,NaN,NaN,"{u'amenity': u'bar', u'name': u'Merchant House..."
883,4721890759,51.513281,-0.104748,NaN,NaN,"{u'amenity': u'pub', u'name': u'St Brides Tave..."
884,4728684961,51.512704,-0.107076,NaN,NaN,"{u'amenity': u'restaurant', u'name': u'Natural..."
885,4746785586,51.513943,-0.092570,NaN,NaN,"{u'addr:housenumber': u'100', u'amenity': u'ca..."
886,4769774464,51.514318,-0.107969,NaN,NaN,"{u'amenity': u'cafe', u'name': u'Java Java Cof..."
887,4773897755,51.511113,-0.077972,NaN,NaN,"{u'note': u'Rooftop Bar', u'amenity': u'bar', ..."
888,4776719573,51.511272,-0.075905,NaN,NaN,"{u'amenity': u'bar', u'name': u'Revolution'}"
889,4802012330,51.511804,-0.083926,NaN,NaN,"{u'amenity': u'fast_food', u'name': u'Wasabi',..."
890,4809773663,51.513188,-0.097040,NaN,NaN,{u'amenity': u'fountain'}

In [8]:
length_list = len(json_list_data)

for i in range(length_list): 
    new = json_list_data[i]['tags']['amenity'] 
    df['amenity'][i] = new 
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890

In [9]:
df

,id,lat,lon,amenity,classification,tags
0,21392280,51.515484,-0.104929,pub,NaN,"{u'addr:housenumber': u'80', u'source:name': u..."
1,21685700,51.516825,-0.104184,atm,NaN,"{u'amenity': u'atm', u'name': u'Tesco'}"
2,21686579,51.515403,-0.104335,pub,NaN,"{u'addr:housenumber': u'20', u'website': u'htt..."
3,21693791,51.515074,-0.099733,pub,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
4,25473538,51.509682,-0.078508,pub,NaN,"{u'addr:housenumber': u'15', u'toilets': u'yes..."
5,25474641,51.519776,-0.093756,cinema,NaN,"{u'amenity': u'cinema', u'name': u'Barbican Ce..."
6,25475187,51.511417,-0.077698,pub,NaN,"{u'addr:housenumber': u'48', u'amenity': u'pub..."
7,25496840,51.516754,-0.110371,pub,NaN,"{u'operator': u'Young's', u'amenity': u'pub', ..."
8,32921722,51.513788,-0.109219,pub,NaN,"{u'amenity': u'pub', u'name': u'Serjeants'}"
9,32921723,51.513639,-0.109035,parking,NaN,"{u'amenity': u'parking', u'created_by': u'JOSM'}"
10,116097320,51.514929,-0.077875,pub,NaN,"{u'addr:housenumber': u'133', u'website': u'ww..."
11,116097730,51.514828,-0.078119,pub,NaN,"{u'addr:housenumber': u'31', u'addr:postcode':..."
12,180391012,51.518873,-0.078600,cafe,NaN,"{u'amenity': u'cafe', u'name': u'Starbucks'}"
13,248074287,51.512429,-0.104016,pub,NaN,"{u'addr:housenumber': u'30', u'toilets': u'yes..."
14,251952329,51.511351,-0.104095,fountain,NaN,{u'amenity': u'fountain'}
15,255396262,51.517820,-0.109078,bank,NaN,"{u'wheelchair': u'yes', u'amenity': u'bank', u..."
16,255396266,51.514647,-0.098110,bank,NaN,"{u'amenity': u'bank', u'name': u'Citi'}"
17,255396267,51.514642,-0.098229,bank,NaN,"{u'amenity': u'bank', u'atm': u'yes', u'name':..."
18,259246781,51.515859,-0.102402,pub,NaN,"{u'amenity': u'pub', u'name': u'Firefly'}"
19,259247147,51.514016,-0.102142,pub,NaN,"{u'addr:housenumber': u'42', u'amenity': u'pub..."
20,259247148,51.514044,-0.102310,pub,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
21,259248888,51.510891,-0.081185,pub,NaN,"{u'wheelchair': u'no', u'amenity': u'pub', u'n..."
22,259253467,51.511014,-0.084766,pub,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
23,263679615,51.513045,-0.091298,pub,NaN,"{u'operator': u'Wetherspoons', u'toilets': u'y..."
24,266560384,51.509393,-0.091624,pub,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
25,276920899,51.515713,-0.089445,pub,NaN,"{u'toilets:access': u'customers', u'toilets': ..."
26,277906484,51.513200,-0.087178,pub,NaN,"{u'addr:housenumber': u'24', u'website': u'htt..."
27,280546902,51.511697,-0.081985,bank,NaN,"{u'addr:housenumber': u'135', u'website': u'ht..."
28,280547869,51.512255,-0.080059,bank,NaN,"{u'operator': u'Barclays Bank PLC', u'amenity'..."
29,280547870,51.512045,-0.079483,bank,NaN,"{u'amenity': u'bank', u'atm': u'yes', u'name':..."
...,...,...,...,...,...,...
861,4683826102,51.515676,-0.107837,cafe,NaN,"{u'amenity': u'cafe', u'name': u'Paul'}"
862,4683826103,51.515462,-0.109164,restaurant,NaN,"{u'amenity': u'restaurant', u'name': u'Tas Res..."
863,4683826104,51.515692,-0.108980,cafe,NaN,"{u'amenity': u'cafe', u'name': u'Coco Di Mama'}"
864,4684785733,51.514746,-0.109465,bar,NaN,"{u'amenity': u'bar', u'name': u'The Slug and L..."
865,4684958736,51.511207,-0.083762,restaurant,NaN,"{u'addr:housenumber': u'20', u'amenity': u'res..."
866,4684958737,51.511171,-0.083771,restaurant,NaN,"{u'addr:housenumber': u'20', u'amenity': u'res..."
867,4684958738,51.511135,-0.083783,cafe,NaN,"{u'addr:housenumber': u'20', u'amenity': u'caf..."
868,4684958739,51.515297,-0.082712,pharmacy,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
869,4685078689,51.512332,-0.093058,fast_food,NaN,"{u'addr:housenumber': u'61', u'amenity': u'fas..."
870,4685241493,51.514477,-0.109745,restaurant,NaN,"{u'amenity': u'restaurant', u'name': u'28-50 W..."
871,4687696983,51.512160,-0.104804,restaurant,NaN,"{u'addr:housenumber': u'19', u'cuisine': u'sic..."
872,4687696984,51.512121,-0.104803,restaurant,NaN,"{u'addr:housenumber': u'19', u'amenity': u'res..."
873,4691514036,51.513804,-0.110360,fast_food,NaN,"{u'addr:housenumber': u'24', u'cuisine': u'sea..."
874,4691826689,51.514945,-0.075941,courthouse,NaN,"{u'amenity': u'courthouse', u'name:en': u'Fina..."
875,4705711288,51.516873,-0.078732,restaurant,NaN,"{u'addr:housenumber': u'9a', u'cuisine': u'sco..."
876,4711974953,51.513059,-0.083474,cafe,NaN,"{u'amenity': u'cafe', u'name': u'Coffeeworks P..."
877,4718553520,51.511911,-0.079171,restaurant,NaN,"{u'addr:housenumber': u'5', u'cuisine': u'pizz..."
878,4718553523,51.511716,-0.079170,fast_food,NaN,"{u'cuisine': u'burger', u'addr:unit': u'Retail..."
879,4718553524,51.511836,-0.079810,fast_food,NaN,"{u'addr:housenumber': u'20', u'cuisine': u'med..."
880,4719617987,51.513961,-0.105033,bar,NaN,"{u'amenity': u'bar', u'name': u'City Of London..."
881,4719617988,51.513907,-0.105059,restaurant,NaN,"{u'amenity': u'restaurant', u'name': u'SHOT'}"
882,4719617989,51.513871,-0.104801,bar,NaN,"{u'amenity': u'bar', u'name': u'Merchant House..."
883,4721890759,51.513281,-0.104748,pub,NaN,"{u'amenity': u'pub', u'name': u'St Brides Tave..."
884,4728684961,51.512704,-0.107076,restaurant,NaN,"{u'amenity': u'restaurant', u'name': u'Natural..."
885,4746785586,51.513943,-0.092570,cafe,NaN,"{u'addr:housenumber': u'100', u'amenity': u'ca..."
886,4769774464,51.514318,-0.107969,cafe,NaN,"{u'amenity': u'cafe', u'name': u'Java Java Cof..."
887,4773897755,51.511113,-0.077972,bar,NaN,"{u'note': u'Rooftop Bar', u'amenity': u'bar', ..."
888,4776719573,51.511272,-0.075905,bar,NaN,"{u'amenity': u'bar', u'name': u'Revolution'}"
889,4802012330,51.511804,-0.083926,fast_food,NaN,"{u'amenity': u'fast_food', u'name': u'Wasabi',..."
890,4809773663,51.513188,-0.097040,fountain,NaN,{u'amenity': u'fountain'}

In [10]:
df.to_csv('city_node_amenity.csv')

In [30]:
shop_nodes = api.query("""[out:json];area[name="London"]->.a; node(area.a)["shop"];out;""")

In [11]:
with open('city_node_shop.json') as geojson_data: 
    json_dic_data = geojson.load(geojson_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'lat', 'lon', 'amenity','classification', 'tags' ]
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,lat,lon,amenity,classification,tags
0,26659113,51.517587,-0.108760,NaN,NaN,"{u'addr:housenumber': u'33', u'shop': u'conven..."
1,295975600,51.512623,-0.087495,NaN,NaN,"{u'shop': u'convenience', u'name': u'Sainsbury..."
2,296610106,51.513366,-0.092561,NaN,NaN,"{u'shop': u'doityourself', u'name': u'Robert D..."
3,296610596,51.511920,-0.084672,NaN,NaN,"{u'addr:housenumber': u'168', u'shop': u'depar..."
4,306136163,51.514943,-0.085310,NaN,NaN,"{u'addr:housenumber': u'120', u'addr:postcode'..."
5,350404899,51.513250,-0.103927,NaN,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
6,377508719,51.517010,-0.080646,NaN,NaN,"{u'shop': u'optician', u'name': u'Specsavers'}"
7,385707542,51.514424,-0.100827,NaN,NaN,"{u'shop': u'hairdresser', u'name': u'Vidal Sas..."
8,390073172,51.521163,-0.097114,NaN,NaN,"{u'shop': u'laundry', u'name': u'Barbican Laun..."
9,390073174,51.520574,-0.097717,NaN,NaN,"{u'addr:housenumber': u'131', u'shop': u'conve..."
10,439447912,51.515068,-0.082593,NaN,NaN,"{u'shop': u'newsagent', u'name': u'BK News'}"
11,441966150,51.515143,-0.098737,NaN,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
12,471488483,51.512210,-0.082512,NaN,NaN,"{u'shop': u'dry_cleaning', u'craft': u'shoemak..."
13,471488491,51.511813,-0.082027,NaN,NaN,"{u'shop': u'bookmaker', u'amenity': u'betting_..."
14,471488493,51.511644,-0.082257,NaN,NaN,"{u'addr:housenumber': u'138-140', u'shop': u'c..."
15,471488494,51.511730,-0.081824,NaN,NaN,"{u'addr:housenumber': u'135', u'shop': u'cosme..."
16,471488495,51.511766,-0.081616,NaN,NaN,"{u'note': u'Approximate location', u'shop': u'..."
17,471488496,51.511832,-0.081432,NaN,NaN,"{u'shop': u'jewelry', u'name': u'Mappin & Webb'}"
18,472754033,51.514784,-0.078047,NaN,NaN,"{u'shop': u'bookmaker', u'amenity': u'betting_..."
19,475396911,51.517201,-0.088935,NaN,NaN,"{u'shop': u'mobile_phone', u'name': u'Vodafone'}"
20,475396915,51.516873,-0.087367,NaN,NaN,"{u'shop': u'books', u'name': u'Waterstones'}"
21,475868738,51.517213,-0.104973,NaN,NaN,"{u'shop': u'alcohol', u'website': u'http://the..."
22,479121690,51.513677,-0.101157,NaN,NaN,"{u'addr:housenumber': u'3', u'shop': u'gift', ..."
23,479151681,51.513986,-0.100424,NaN,NaN,"{u'shop': u'convenience', u'postal_code': u'EC..."
24,488443291,51.514242,-0.099686,NaN,NaN,"{u'shop': u'outdoor', u'name': u'Blacks'}"
25,560717334,51.513546,-0.091528,NaN,NaN,"{u'operator': u'Tesco', u'shop': u'supermarket..."
26,567843761,51.515859,-0.079852,NaN,NaN,"{u'addr:housenumber': u'59-60', u'shop': u'che..."
27,571287279,51.516649,-0.083310,NaN,NaN,"{u'shop': u'clothes', u'name': u'Hackett London'}"
28,577559481,51.518595,-0.079299,NaN,NaN,"{u'shop': u'department_store', u'name': u'T. M..."
29,609956569,51.513966,-0.104077,NaN,NaN,"{u'addr:housenumber': u'1', u'shop': u'conveni..."
...,...,...,...,...,...,...
322,4566433452,51.512430,-0.083512,NaN,NaN,"{u'shop': u'clothes', u'name': u'Hobbs'}"
323,4566475410,51.512487,-0.083719,NaN,NaN,"{u'shop': u'photo', u'name': u'Snappy Snaps'}"
324,4566874103,51.512467,-0.083812,NaN,NaN,"{u'shop': u'clothes', u'name': u'Knots & Socks'}"
325,4566889578,51.512510,-0.084048,NaN,NaN,"{u'shop': u'optician', u'name': u'The Glass Ho..."
326,4576855306,51.510478,-0.083861,NaN,NaN,"{u'shop': u'electronics', u'name': u'Maplin'}"
327,4582595092,51.513255,-0.086540,NaN,NaN,"{u'shop': u'clothes', u'name': u'TM Lewin'}"
328,4584963340,51.512934,-0.085768,NaN,NaN,"{u'shop': u'jewelry', u'name': u'John Haynes &..."
329,4599266077,51.511962,-0.089201,NaN,NaN,"{u'shop': u'tailor', u'name': u'John W Hooke'}"
330,4599301604,51.511459,-0.089008,NaN,NaN,"{u'shop': u'cosmetics', u'name': u'L'Occitane'}"
331,4601684016,51.513153,-0.093326,NaN,NaN,"{u'shop': u'hairdresser', u'name': u'Khops'}"
332,4603155359,51.513304,-0.093035,NaN,NaN,"{u'shop': u'tailor', u'name': u'Graham Browne'}"
333,4617766390,51.510065,-0.086834,NaN,NaN,"{u'shop': u'supermarket', u'name:en': u'Waitro..."
334,4621845441,51.510958,-0.087344,NaN,NaN,"{u'shop': u'gift', u'name': u'Cards Galore'}"
335,4628672425,51.511735,-0.080971,NaN,NaN,"{u'shop': u'travel_agency', u'name': u'Flight ..."
336,4628672426,51.511777,-0.080842,NaN,NaN,"{u'shop': u'optician', u'name': u'Chatoo & Son'}"
337,4681223855,51.514448,-0.104774,NaN,NaN,"{u'shop': u'hairdresser', u'name': u'The Groom..."
338,4683826096,51.516107,-0.108339,NaN,NaN,"{u'shop': u'clothes', u'name': u'Oliver Bonas'}"
339,4683826099,51.515883,-0.108418,NaN,NaN,"{u'shop': u'clothes', u'name': u'TM Lewin'}"
340,4683826101,51.516004,-0.108015,NaN,NaN,{u'shop': u'convenience'}
341,4684958739,51.515297,-0.082712,NaN,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
342,4685242185,51.514262,-0.109636,NaN,NaN,"{u'shop': u'farm', u'name': u'Holland & Barrett'}"
343,4691514033,51.513843,-0.110187,NaN,NaN,"{u'shop': u'jewelry', u'payment:american_expre..."
344,4691514038,51.513784,-0.110486,NaN,NaN,"{u'addr:housenumber': u'23', u'shop': u'tailor..."
345,4713360280,51.517399,-0.082977,NaN,NaN,"{u'shop': u'cosmetics', u'addr:city': u'London..."
346,4718553521,51.511553,-0.079252,NaN,NaN,"{u'shop': u'chemist', u'entrance': u'yes', u'a..."
347,4718553522,51.511595,-0.079155,NaN,NaN,"{u'shop': u'convenience', u'addr:unit': u'Reta..."
348,4718553525,51.510566,-0.080150,NaN,NaN,"{u'addr:housenumber': u'55', u'shop': u'bicycl..."
349,4746785642,51.513789,-0.091781,NaN,NaN,"{u'addr:housenumber': u'86', u'shop': u'clothe..."
350,4781014848,51.515740,-0.078935,NaN,NaN,"{u'shop': u'hairdresser', u'name': u'Bolatti'}"
351,4789950321,51.517074,-0.094380,NaN,NaN,"{u'shop': u'computer', u'name': u'HP inc. UK'..."

In [12]:
length_list = len(json_list_data)

for i in range(length_list): 
    new = json_list_data[i]['tags']['shop'] 
    df['amenity'][i] = new 
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351

In [13]:
df

,id,lat,lon,amenity,classification,tags
0,26659113,51.517587,-0.108760,convenience,NaN,"{u'addr:housenumber': u'33', u'shop': u'conven..."
1,295975600,51.512623,-0.087495,convenience,NaN,"{u'shop': u'convenience', u'name': u'Sainsbury..."
2,296610106,51.513366,-0.092561,doityourself,NaN,"{u'shop': u'doityourself', u'name': u'Robert D..."
3,296610596,51.511920,-0.084672,department_store,NaN,"{u'addr:housenumber': u'168', u'shop': u'depar..."
4,306136163,51.514943,-0.085310,convenience,NaN,"{u'addr:housenumber': u'120', u'addr:postcode'..."
5,350404899,51.513250,-0.103927,chemist,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
6,377508719,51.517010,-0.080646,optician,NaN,"{u'shop': u'optician', u'name': u'Specsavers'}"
7,385707542,51.514424,-0.100827,hairdresser,NaN,"{u'shop': u'hairdresser', u'name': u'Vidal Sas..."
8,390073172,51.521163,-0.097114,laundry,NaN,"{u'shop': u'laundry', u'name': u'Barbican Laun..."
9,390073174,51.520574,-0.097717,convenience,NaN,"{u'addr:housenumber': u'131', u'shop': u'conve..."
10,439447912,51.515068,-0.082593,newsagent,NaN,"{u'shop': u'newsagent', u'name': u'BK News'}"
11,441966150,51.515143,-0.098737,chemist,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
12,471488483,51.512210,-0.082512,dry_cleaning,NaN,"{u'shop': u'dry_cleaning', u'craft': u'shoemak..."
13,471488491,51.511813,-0.082027,bookmaker,NaN,"{u'shop': u'bookmaker', u'amenity': u'betting_..."
14,471488493,51.511644,-0.082257,chemist,NaN,"{u'addr:housenumber': u'138-140', u'shop': u'c..."
15,471488494,51.511730,-0.081824,cosmetics,NaN,"{u'addr:housenumber': u'135', u'shop': u'cosme..."
16,471488495,51.511766,-0.081616,clothes,NaN,"{u'note': u'Approximate location', u'shop': u'..."
17,471488496,51.511832,-0.081432,jewelry,NaN,"{u'shop': u'jewelry', u'name': u'Mappin & Webb'}"
18,472754033,51.514784,-0.078047,bookmaker,NaN,"{u'shop': u'bookmaker', u'amenity': u'betting_..."
19,475396911,51.517201,-0.088935,mobile_phone,NaN,"{u'shop': u'mobile_phone', u'name': u'Vodafone'}"
20,475396915,51.516873,-0.087367,books,NaN,"{u'shop': u'books', u'name': u'Waterstones'}"
21,475868738,51.517213,-0.104973,alcohol,NaN,"{u'shop': u'alcohol', u'website': u'http://the..."
22,479121690,51.513677,-0.101157,gift,NaN,"{u'addr:housenumber': u'3', u'shop': u'gift', ..."
23,479151681,51.513986,-0.100424,convenience,NaN,"{u'shop': u'convenience', u'postal_code': u'EC..."
24,488443291,51.514242,-0.099686,outdoor,NaN,"{u'shop': u'outdoor', u'name': u'Blacks'}"
25,560717334,51.513546,-0.091528,supermarket,NaN,"{u'operator': u'Tesco', u'shop': u'supermarket..."
26,567843761,51.515859,-0.079852,chemist,NaN,"{u'addr:housenumber': u'59-60', u'shop': u'che..."
27,571287279,51.516649,-0.083310,clothes,NaN,"{u'shop': u'clothes', u'name': u'Hackett London'}"
28,577559481,51.518595,-0.079299,department_store,NaN,"{u'shop': u'department_store', u'name': u'T. M..."
29,609956569,51.513966,-0.104077,convenience,NaN,"{u'addr:housenumber': u'1', u'shop': u'conveni..."
...,...,...,...,...,...,...
322,4566433452,51.512430,-0.083512,clothes,NaN,"{u'shop': u'clothes', u'name': u'Hobbs'}"
323,4566475410,51.512487,-0.083719,photo,NaN,"{u'shop': u'photo', u'name': u'Snappy Snaps'}"
324,4566874103,51.512467,-0.083812,clothes,NaN,"{u'shop': u'clothes', u'name': u'Knots & Socks'}"
325,4566889578,51.512510,-0.084048,optician,NaN,"{u'shop': u'optician', u'name': u'The Glass Ho..."
326,4576855306,51.510478,-0.083861,electronics,NaN,"{u'shop': u'electronics', u'name': u'Maplin'}"
327,4582595092,51.513255,-0.086540,clothes,NaN,"{u'shop': u'clothes', u'name': u'TM Lewin'}"
328,4584963340,51.512934,-0.085768,jewelry,NaN,"{u'shop': u'jewelry', u'name': u'John Haynes &..."
329,4599266077,51.511962,-0.089201,tailor,NaN,"{u'shop': u'tailor', u'name': u'John W Hooke'}"
330,4599301604,51.511459,-0.089008,cosmetics,NaN,"{u'shop': u'cosmetics', u'name': u'L'Occitane'}"
331,4601684016,51.513153,-0.093326,hairdresser,NaN,"{u'shop': u'hairdresser', u'name': u'Khops'}"
332,4603155359,51.513304,-0.093035,tailor,NaN,"{u'shop': u'tailor', u'name': u'Graham Browne'}"
333,4617766390,51.510065,-0.086834,supermarket,NaN,"{u'shop': u'supermarket', u'name:en': u'Waitro..."
334,4621845441,51.510958,-0.087344,gift,NaN,"{u'shop': u'gift', u'name': u'Cards Galore'}"
335,4628672425,51.511735,-0.080971,travel_agency,NaN,"{u'shop': u'travel_agency', u'name': u'Flight ..."
336,4628672426,51.511777,-0.080842,optician,NaN,"{u'shop': u'optician', u'name': u'Chatoo & Son'}"
337,4681223855,51.514448,-0.104774,hairdresser,NaN,"{u'shop': u'hairdresser', u'name': u'The Groom..."
338,4683826096,51.516107,-0.108339,clothes,NaN,"{u'shop': u'clothes', u'name': u'Oliver Bonas'}"
339,4683826099,51.515883,-0.108418,clothes,NaN,"{u'shop': u'clothes', u'name': u'TM Lewin'}"
340,4683826101,51.516004,-0.108015,convenience,NaN,{u'shop': u'convenience'}
341,4684958739,51.515297,-0.082712,chemist,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
342,4685242185,51.514262,-0.109636,farm,NaN,"{u'shop': u'farm', u'name': u'Holland & Barrett'}"
343,4691514033,51.513843,-0.110187,jewelry,NaN,"{u'shop': u'jewelry', u'payment:american_expre..."
344,4691514038,51.513784,-0.110486,tailor,NaN,"{u'addr:housenumber': u'23', u'shop': u'tailor..."
345,4713360280,51.517399,-0.082977,cosmetics,NaN,"{u'shop': u'cosmetics', u'addr:city': u'London..."
346,4718553521,51.511553,-0.079252,chemist,NaN,"{u'shop': u'chemist', u'entrance': u'yes', u'a..."
347,4718553522,51.511595,-0.079155,convenience,NaN,"{u'shop': u'convenience', u'addr:unit': u'Reta..."
348,4718553525,51.510566,-0.080150,bicycle,NaN,"{u'addr:housenumber': u'55', u'shop': u'bicycl..."
349,4746785642,51.513789,-0.091781,clothes,NaN,"{u'addr:housenumber': u'86', u'shop': u'clothe..."
350,4781014848,51.515740,-0.078935,hairdresser,NaN,"{u'shop': u'hairdresser', u'name': u'Bolatti'}"
351,4789950321,51.517074,-0.094380,computer,NaN,"{u'shop': u'computer', u'name': u'HP inc. UK'..."

In [14]:
df.to_csv('city_node_shop.csv')

In [4]:
tourism_nodes = api.query("""[out:json];area[name="London"]->.a; node(area.a)["tourism"];out;""")

In [15]:
with open('city_node_tourism.json') as geojson_data: 
    json_dic_data = geojson.load(geojson_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'lat', 'lon', 'amenity','classification', 'tags' ]
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,lat,lon,amenity,classification,tags
0,249471729,51.519671,-0.080453,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Broadgate ..."
1,306680347,51.513074,-0.100366,NaN,NaN,"{u'tourism': u'hostel', u'addr:postcode': u'EC..."
2,441958984,51.513204,-0.097189,NaN,NaN,"{u'tourism': u'artwork', u'name': u'The Young ..."
3,675734360,51.512101,-0.075694,NaN,NaN,"{u'addr:housenumber': u'130-135', u'website': ..."
4,692162507,51.512706,-0.084937,NaN,NaN,"{u'addr:city': u'London', u'url': u'www.clubqu..."
5,725258685,51.513500,-0.089000,NaN,NaN,"{u'name': u'Cosmos', u'url': u'http://www.elep..."
6,725258700,51.513479,-0.088904,NaN,NaN,"{u'name': u'Elephant Race Against Time', u'url..."
7,748072092,51.514348,-0.100422,NaN,NaN,{u'source': u'bing;note#69575;http://commons.w...
8,795788290,51.510558,-0.079376,NaN,NaN,"{u'addr:housenumber': u'1', u'website': u'http..."
9,1109339085,51.514048,-0.085487,NaN,NaN,"{u'tourism': u'hotel', u'name': u'Threadneedle'}"
10,1150003519,51.518273,-0.083828,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Fulcrum'}"
11,1163955043,51.514646,-0.098913,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
12,1163955070,51.514172,-0.097707,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
13,1668135508,51.520144,-0.082154,NaN,NaN,{u'tourism': u'artwork'}
14,1668135509,51.520157,-0.082181,NaN,NaN,{u'tourism': u'artwork'}
15,1668135511,51.520166,-0.082203,NaN,NaN,"{u'tourism': u'artwork', u'name': u'The Broad ..."
16,1719875319,51.512808,-0.093086,NaN,NaN,{u'note': u'Sculpture of figure sitting on a s...
17,1731225613,51.520061,-0.079192,NaN,NaN,"{u'tourism': u'artwork', u'name': u'I Eye'}"
18,1779504042,51.518210,-0.078158,NaN,NaN,"{u'source': u'owner', u'tourism': u'guest_hous..."
19,1816038202,51.515868,-0.109240,NaN,NaN,"{u'historic': u'memorial', u'tourism': u'artwo..."
20,1816959439,51.516279,-0.098733,NaN,NaN,"{u'source': u'survey', u'artwork_type': u'stat..."
21,1832240563,51.515533,-0.106180,NaN,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
22,2137260103,51.512884,-0.105189,NaN,NaN,"{u'addr:housenumber': u'1-2', u'website': u'ht..."
23,2294047321,51.513816,-0.108900,NaN,NaN,"{u'addr:housenumber': u'1-2', u'name': u'Apex ..."
24,2496836267,51.519286,-0.084674,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Rush Hour'..."
25,2624665870,51.517237,-0.101584,NaN,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
26,2642857205,51.513909,-0.086572,NaN,NaN,"{u'memorial:type': u'statue', u'historic': u'm..."
27,2929114896,51.516030,-0.081950,NaN,NaN,{u'tourism': u'artwork'}
28,2952883084,51.509513,-0.083630,NaN,NaN,"{u'tourism': u'hotel', u'name': u'Premier Inn ..."
29,2990716997,51.517300,-0.092583,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
30,3094555298,51.519606,-0.092990,NaN,NaN,"{u'wikidata': u'Q18122622', u'artwork_type': u..."
31,3095361515,51.513451,-0.097544,NaN,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
32,3768819268,51.514349,-0.086170,NaN,NaN,{u'tourism': u'artwork'}
33,3804685596,51.517660,-0.078217,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Street Art'}"
34,3894948101,51.516816,-0.077722,NaN,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
35,3904368936,51.514805,-0.079662,NaN,NaN,{u'tourism': u'artwork'}
36,4062923527,51.513870,-0.101156,NaN,NaN,"{u'addr:housenumber': u'24', u'tourism': u'hot..."
37,4340748003,51.509352,-0.080819,NaN,NaN,"{u'addr:housenumber': u'28', u'addr:city': u'L..."
38,4354554594,51.517663,-0.100471,NaN,NaN,"{u'opening_hours': u'Tu-Fr 10:00-16:00', u'tou..."
39,4402633263,51.512861,-0.081896,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
40,4428613300,51.514531,-0.081563,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
41,4502146356,51.514625,-0.089224,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Sir John S..."
42,4513341393,51.514299,-0.088251,NaN,NaN,"{u'opening_hours': u'Mo-Fr 10:00-17:00', u'nam..."
43,4517065148,51.520848,-0.079869,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Ganapathi ..."
44,4518472566,51.518882,-0.085126,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Belleropho..."
45,4518483452,51.518521,-0.083260,NaN,NaN,"{u'tourism': u'artwork', u'name': u'Leaping Ha..."
46,4579454593,51.510287,-0.084023,NaN,NaN,"{u'tourism': u'hotel', u'name': u'Fraser Resid..."
47,4599254833,51.511913,-0.088953,NaN,NaN,"{u'tourism': u'hotel', u'name': u'Travelodge L..."
48,4627445242,51.512268,-0.101185,NaN,NaN,"{u'note': u'A crucified Christ sculpture', u'a..."
49,4627491653,51.511889,-0.100945,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
50,4661317342,51.511269,-0.106267,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
51,4663312747,51.511911,-0.104472,NaN,NaN,{u'note': u'Sculpture/statue with horse and tw...
52,4684898311,51.514852,-0.108753,NaN,NaN,"{u'tourism': u'hotel', u'name': u'SACO St Paul..."
53,4684899173,51.514388,-0.109146,NaN,NaN,"{u'tourism': u'hotel', u'name': u'Crane Court ..."
54,4686831452,51.514240,-0.098588,NaN,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
55,4690117428,51.514725,-0.080561,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
56,4690120487,51.513583,-0.083741,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
57,4697493173,51.512023,-0.082897,NaN,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."

In [16]:
length_list = len(json_list_data)

for i in range(length_list): 
    new = json_list_data[i]['tags']['tourism'] 
    df['amenity'][i] = new 
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57

In [17]:
df

,id,lat,lon,amenity,classification,tags
0,249471729,51.519671,-0.080453,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Broadgate ..."
1,306680347,51.513074,-0.100366,hostel,NaN,"{u'tourism': u'hostel', u'addr:postcode': u'EC..."
2,441958984,51.513204,-0.097189,artwork,NaN,"{u'tourism': u'artwork', u'name': u'The Young ..."
3,675734360,51.512101,-0.075694,hotel,NaN,"{u'addr:housenumber': u'130-135', u'website': ..."
4,692162507,51.512706,-0.084937,hotel,NaN,"{u'addr:city': u'London', u'url': u'www.clubqu..."
5,725258685,51.513500,-0.089000,artwork,NaN,"{u'name': u'Cosmos', u'url': u'http://www.elep..."
6,725258700,51.513479,-0.088904,artwork,NaN,"{u'name': u'Elephant Race Against Time', u'url..."
7,748072092,51.514348,-0.100422,artwork,NaN,{u'source': u'bing;note#69575;http://commons.w...
8,795788290,51.510558,-0.079376,hotel,NaN,"{u'addr:housenumber': u'1', u'website': u'http..."
9,1109339085,51.514048,-0.085487,hotel,NaN,"{u'tourism': u'hotel', u'name': u'Threadneedle'}"
10,1150003519,51.518273,-0.083828,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Fulcrum'}"
11,1163955043,51.514646,-0.098913,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
12,1163955070,51.514172,-0.097707,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
13,1668135508,51.520144,-0.082154,artwork,NaN,{u'tourism': u'artwork'}
14,1668135509,51.520157,-0.082181,artwork,NaN,{u'tourism': u'artwork'}
15,1668135511,51.520166,-0.082203,artwork,NaN,"{u'tourism': u'artwork', u'name': u'The Broad ..."
16,1719875319,51.512808,-0.093086,artwork,NaN,{u'note': u'Sculpture of figure sitting on a s...
17,1731225613,51.520061,-0.079192,artwork,NaN,"{u'tourism': u'artwork', u'name': u'I Eye'}"
18,1779504042,51.518210,-0.078158,guest_house,NaN,"{u'source': u'owner', u'tourism': u'guest_hous..."
19,1816038202,51.515868,-0.109240,artwork,NaN,"{u'historic': u'memorial', u'tourism': u'artwo..."
20,1816959439,51.516279,-0.098733,artwork,NaN,"{u'source': u'survey', u'artwork_type': u'stat..."
21,1832240563,51.515533,-0.106180,artwork,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
22,2137260103,51.512884,-0.105189,hotel,NaN,"{u'addr:housenumber': u'1-2', u'website': u'ht..."
23,2294047321,51.513816,-0.108900,hotel,NaN,"{u'addr:housenumber': u'1-2', u'name': u'Apex ..."
24,2496836267,51.519286,-0.084674,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Rush Hour'..."
25,2624665870,51.517237,-0.101584,artwork,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
26,2642857205,51.513909,-0.086572,artwork,NaN,"{u'memorial:type': u'statue', u'historic': u'm..."
27,2929114896,51.516030,-0.081950,artwork,NaN,{u'tourism': u'artwork'}
28,2952883084,51.509513,-0.083630,hotel,NaN,"{u'tourism': u'hotel', u'name': u'Premier Inn ..."
29,2990716997,51.517300,-0.092583,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
30,3094555298,51.519606,-0.092990,artwork,NaN,"{u'wikidata': u'Q18122622', u'artwork_type': u..."
31,3095361515,51.513451,-0.097544,artwork,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
32,3768819268,51.514349,-0.086170,artwork,NaN,{u'tourism': u'artwork'}
33,3804685596,51.517660,-0.078217,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Street Art'}"
34,3894948101,51.516816,-0.077722,artwork,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
35,3904368936,51.514805,-0.079662,artwork,NaN,{u'tourism': u'artwork'}
36,4062923527,51.513870,-0.101156,hotel,NaN,"{u'addr:housenumber': u'24', u'tourism': u'hot..."
37,4340748003,51.509352,-0.080819,hotel,NaN,"{u'addr:housenumber': u'28', u'addr:city': u'L..."
38,4354554594,51.517663,-0.100471,museum,NaN,"{u'opening_hours': u'Tu-Fr 10:00-16:00', u'tou..."
39,4402633263,51.512861,-0.081896,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
40,4428613300,51.514531,-0.081563,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
41,4502146356,51.514625,-0.089224,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Sir John S..."
42,4513341393,51.514299,-0.088251,museum,NaN,"{u'opening_hours': u'Mo-Fr 10:00-17:00', u'nam..."
43,4517065148,51.520848,-0.079869,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Ganapathi ..."
44,4518472566,51.518882,-0.085126,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Belleropho..."
45,4518483452,51.518521,-0.083260,artwork,NaN,"{u'tourism': u'artwork', u'name': u'Leaping Ha..."
46,4579454593,51.510287,-0.084023,hotel,NaN,"{u'tourism': u'hotel', u'name': u'Fraser Resid..."
47,4599254833,51.511913,-0.088953,hotel,NaN,"{u'tourism': u'hotel', u'name': u'Travelodge L..."
48,4627445242,51.512268,-0.101185,artwork,NaN,"{u'note': u'A crucified Christ sculpture', u'a..."
49,4627491653,51.511889,-0.100945,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
50,4661317342,51.511269,-0.106267,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
51,4663312747,51.511911,-0.104472,artwork,NaN,{u'note': u'Sculpture/statue with horse and tw...
52,4684898311,51.514852,-0.108753,hotel,NaN,"{u'tourism': u'hotel', u'name': u'SACO St Paul..."
53,4684899173,51.514388,-0.109146,hotel,NaN,"{u'tourism': u'hotel', u'name': u'Crane Court ..."
54,4686831452,51.514240,-0.098588,artwork,NaN,"{u'artwork_type': u'statue', u'tourism': u'art..."
55,4690117428,51.514725,-0.080561,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
56,4690120487,51.513583,-0.083741,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."
57,4697493173,51.512023,-0.082897,artwork,NaN,"{u'artwork_type': u'sculpture', u'tourism': u'..."

In [18]:
df.to_csv('city_node_tourism.csv')

In [58]:
leisure_nodes = api.query("""[out:json];area[name="London"]->.a; node(area.a)["leisure"];out;""") #it was divided into different queries to make smaller extractions of data

In [19]:
with open('city_node_leisure.json') as geojson_data: 
    json_dic_data = geojson.load(geojson_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'lat', 'lon', 'amenity','classification', 'tags' ]
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,lat,lon,amenity,classification,tags
0,666918630,51.511876,-0.074605,NaN,NaN,"{u'addr:housenumber': u'1', u'name': u'Virgin ..."
1,668842793,51.512664,-0.078879,NaN,NaN,"{u'addr:housenumber': u'106', u'name': u'Fitne..."
2,694471389,51.511247,-0.076255,NaN,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
3,697037338,51.509958,-0.075637,NaN,NaN,{u'leisure': u'playground'}
4,1141415201,51.519728,-0.085068,NaN,NaN,"{u'sport': u'fitness', u'name': u'Slim Jim's',..."
5,1150003439,51.519957,-0.081858,NaN,NaN,"{u'sport': u'fitness', u'name': u'Virgin Activ..."
6,1268874626,51.511738,-0.097037,NaN,NaN,"{u'name': u'Fitness First Gym', u'leisure': u'..."
7,1685281116,51.519259,-0.091825,NaN,NaN,"{u'access': u'private', u'source': u'Bing;phot..."
8,1713257252,51.509675,-0.091483,NaN,NaN,"{u'phone': u'0845 2413836', u'name': u'Nuffiel..."
9,1787108615,51.514732,-0.085371,NaN,NaN,"{u'operator': u'Virgin Active', u'sport': u'fi..."
10,1990694628,51.509777,-0.092933,NaN,NaN,"{u'name': u'Little Ship Club', u'club': u'spor..."
11,2389890389,51.514894,-0.084197,NaN,NaN,"{u'name': u'Bannatyne's Health Club', u'leisur..."
12,2545451248,51.518569,-0.084027,NaN,NaN,"{u'sport': u'fitness', u'name': u'Fitness Firs..."
13,2793892926,51.513267,-0.084890,NaN,NaN,"{u'sport': u'fitness', u'name': u'Matt Roberts..."
14,2914392296,51.516972,-0.078804,NaN,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
15,3018116500,51.515042,-0.082971,NaN,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
16,3061197975,51.511570,-0.086307,NaN,NaN,"{u'addr:housenumber': u'8', u'name': u'Cyclebe..."
17,3164383488,51.515532,-0.079915,NaN,NaN,"{u'addr:housenumber': u'63', u'website': u'htt..."
18,3248473472,51.511188,-0.084675,NaN,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
19,3596425484,51.511709,-0.090266,NaN,NaN,"{u'sport': u'fitness', u'name': u'Virgin Activ..."
20,3794345288,51.517502,-0.080786,NaN,NaN,"{u'entrance': u'yes', u'name': u'Fitness First..."
21,3906391799,51.515173,-0.079798,NaN,NaN,"{u'name': u'No1 Fitness', u'leisure': u'sports..."
22,3936798451,51.518357,-0.090725,NaN,NaN,"{u'addr:housenumber': u'1', u'website': u'http..."
23,3998968424,51.517855,-0.097464,NaN,NaN,"{u'addr:housenumber': u'200', u'name': u'Virgi..."
24,4061331467,51.515492,-0.078740,NaN,NaN,"{u'name': u'Crossfit Aldgate', u'leisure': u's..."
25,4075042399,51.518561,-0.083692,NaN,NaN,"{u'name': u'1Rebel', u'leisure': u'sports_cent..."
26,4136266962,51.514519,-0.077114,NaN,NaN,"{u'sport': u'fitness', u'name': u'Pure Gym', u..."
27,4369519196,51.517128,-0.098451,NaN,NaN,"{u'name': u'Puregym', u'leisure': u'fitness_ce..."
28,4378043280,51.514839,-0.100430,NaN,NaN,"{u'name': u'Fitness First', u'leisure': u'fitn..."
29,4513696612,51.512757,-0.086076,NaN,NaN,"{u'description': u'Escape game experience', u'..."
30,4569700105,51.514506,-0.104243,NaN,NaN,"{u'name': u'Tanning Shop', u'leisure': u'tanni..."

In [20]:
length_list = len(json_list_data)

for i in range(length_list): 
    new = json_list_data[i]['tags']['leisure'] 
    df['amenity'][i] = new 
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [21]:
df

,id,lat,lon,amenity,classification,tags
0,666918630,51.511876,-0.074605,sports_centre,NaN,"{u'addr:housenumber': u'1', u'name': u'Virgin ..."
1,668842793,51.512664,-0.078879,sports_centre,NaN,"{u'addr:housenumber': u'106', u'name': u'Fitne..."
2,694471389,51.511247,-0.076255,sports_centre,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
3,697037338,51.509958,-0.075637,playground,NaN,{u'leisure': u'playground'}
4,1141415201,51.519728,-0.085068,sports_centre,NaN,"{u'sport': u'fitness', u'name': u'Slim Jim's',..."
5,1150003439,51.519957,-0.081858,sports_centre,NaN,"{u'sport': u'fitness', u'name': u'Virgin Activ..."
6,1268874626,51.511738,-0.097037,sports_centre,NaN,"{u'name': u'Fitness First Gym', u'leisure': u'..."
7,1685281116,51.519259,-0.091825,playground,NaN,"{u'access': u'private', u'source': u'Bing;phot..."
8,1713257252,51.509675,-0.091483,sports_centre,NaN,"{u'phone': u'0845 2413836', u'name': u'Nuffiel..."
9,1787108615,51.514732,-0.085371,sports_centre,NaN,"{u'operator': u'Virgin Active', u'sport': u'fi..."
10,1990694628,51.509777,-0.092933,club,NaN,"{u'name': u'Little Ship Club', u'club': u'spor..."
11,2389890389,51.514894,-0.084197,sports_centre,NaN,"{u'name': u'Bannatyne's Health Club', u'leisur..."
12,2545451248,51.518569,-0.084027,sports_centre,NaN,"{u'sport': u'fitness', u'name': u'Fitness Firs..."
13,2793892926,51.513267,-0.084890,sports_centre,NaN,"{u'sport': u'fitness', u'name': u'Matt Roberts..."
14,2914392296,51.516972,-0.078804,sports_centre,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
15,3018116500,51.515042,-0.082971,sports_centre,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
16,3061197975,51.511570,-0.086307,fitness_centre,NaN,"{u'addr:housenumber': u'8', u'name': u'Cyclebe..."
17,3164383488,51.515532,-0.079915,sports_centre,NaN,"{u'addr:housenumber': u'63', u'website': u'htt..."
18,3248473472,51.511188,-0.084675,sports_centre,NaN,"{u'name': u'Fitness First', u'leisure': u'spor..."
19,3596425484,51.511709,-0.090266,sports_centre,NaN,"{u'sport': u'fitness', u'name': u'Virgin Activ..."
20,3794345288,51.517502,-0.080786,sports_centre,NaN,"{u'entrance': u'yes', u'name': u'Fitness First..."
21,3906391799,51.515173,-0.079798,sports_centre,NaN,"{u'name': u'No1 Fitness', u'leisure': u'sports..."
22,3936798451,51.518357,-0.090725,sports_centre,NaN,"{u'addr:housenumber': u'1', u'website': u'http..."
23,3998968424,51.517855,-0.097464,sports_centre,NaN,"{u'addr:housenumber': u'200', u'name': u'Virgi..."
24,4061331467,51.515492,-0.078740,sports_centre,NaN,"{u'name': u'Crossfit Aldgate', u'leisure': u's..."
25,4075042399,51.518561,-0.083692,sports_centre,NaN,"{u'name': u'1Rebel', u'leisure': u'sports_cent..."
26,4136266962,51.514519,-0.077114,sports_centre,NaN,"{u'sport': u'fitness', u'name': u'Pure Gym', u..."
27,4369519196,51.517128,-0.098451,fitness_centre,NaN,"{u'name': u'Puregym', u'leisure': u'fitness_ce..."
28,4378043280,51.514839,-0.100430,fitness_centre,NaN,"{u'name': u'Fitness First', u'leisure': u'fitn..."
29,4513696612,51.512757,-0.086076,escape_game,NaN,"{u'description': u'Escape game experience', u'..."
30,4569700105,51.514506,-0.104243,tanning_salon,NaN,"{u'name': u'Tanning Shop', u'leisure': u'tanni..."

In [22]:
df.to_csv('city_node_leisure.csv')

### This is the sum of the lenght of the queries to see how many amenities exist in our study

In [6]:
len(amenity_nodes.nodes) + len(shop_nodes.nodes) + len(tourism_nodes.nodes) + len(leisure_nodes.nodes)

34782

### Query for ways (amenities, shops, tourism, and leisure). The output of "ways" is a list of nodes, we will need to reverse the geocode to extract the coordiantes of one of these nodes

In [59]:
amenity_ways = api.query("""[out:json];area[name="London"]->.a; way(area.a)["amenity"]["amenity"!="bench"]["amenity"!="waste_basket"]["amenity"!="telephone"]["amenity"!="post_box"]["amenity"!="toilets"]
["amenity"!="bicycle_parking"];out;""")

In [23]:
with open('city_way_amenity.json') as json_data: 
    json_dic_data = json.load(json_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'center','lat','lon', 'amenity','classification', 'tags']
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,center,lat,lon,amenity,classification,tags
0,4076420,"{u'lat': 51.5137865, u'lon': -0.1054708}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'religion': u'christian..."
1,23107374,"{u'lat': 51.5197287, u'lon': -0.0806294}",NaN,NaN,NaN,NaN,"{u'amenity': u'fountain', u'natural': u'water'}"
2,23263836,"{u'lat': 51.5175862, u'lon': -0.0829672}",NaN,NaN,NaN,NaN,"{u'amenity': u'bus_station', u'maxspeed': u'20..."
3,23988892,"{u'lat': 51.5129643, u'lon': -0.0824257}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'building:colour': u'8C..."
4,26183027,"{u'lat': 51.515462, u'lon': -0.1017694}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'loc_name': u'The Old B..."
5,30610281,"{u'lat': 51.5172647, u'lon': -0.1066078}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
6,30610289,"{u'lat': 51.5177859, u'lon': -0.1068288}",NaN,NaN,NaN,NaN,"{u'amenity': u'fountain', u'area': u'yes'}"
7,31755869,"{u'lat': 51.5166722, u'lon': -0.102233}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
8,31755876,"{u'lat': 51.5188923, u'lon': -0.0994083}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
9,34038668,"{u'lat': 51.5186868, u'lon': -0.0938519}",NaN,NaN,NaN,NaN,"{u'building': u'church', u'amenity': u'place_o..."
10,34038669,"{u'lat': 51.5191439, u'lon': -0.0944929}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'school', u..."
11,34038687,"{u'lat': 51.5198152, u'lon': -0.0939419}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'website': u'http://www..."
12,35409660,"{u'lat': 51.5129567, u'lon': -0.0919681}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'operator': u'HSBC', u'..."
13,59213570,"{u'lat': 51.5092995, u'lon': -0.0792593}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
14,59541201,"{u'lat': 51.510054, u'lon': -0.0837172}",NaN,NaN,NaN,NaN,"{u'building': u'church', u'amenity': u'place_o..."
15,60186067,"{u'lat': 51.5143311, u'lon': -0.1071766}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'145', u'building': u'y..."
16,60393508,"{u'lat': 51.5130148, u'lon': -0.1094984}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'source': u'OS_OpenData..."
17,60856565,"{u'lat': 51.5126047, u'lon': -0.109008}",NaN,NaN,NaN,NaN,"{u'amenity': u'parking', u'surface': u'asphalt..."
18,60890308,"{u'lat': 51.5140511, u'lon': -0.1051921}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'95', u'building': u'ye..."
19,60890329,"{u'lat': 51.5136958, u'lon': -0.1071725}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'35', u'building': u'ye..."
20,62066926,"{u'lat': 51.5215776, u'lon': -0.0975536}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'fast_food'..."
21,64659697,"{u'lat': 51.5158629, u'lon': -0.0919945}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'townhall',..."
22,65086093,"{u'lat': 51.5105001, u'lon': -0.0756575}",NaN,NaN,NaN,NaN,"{u'access': u'permissive', u'amenity': u'parki..."
23,77739560,"{u'lat': 51.5084205, u'lon': -0.1048024}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'1', u'building': u'yes..."
24,85478887,"{u'lat': 51.5153198, u'lon': -0.0847529}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'111', u'building': u'y..."
25,85478889,"{u'lat': 51.5154557, u'lon': -0.0855866}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
26,89678816,"{u'lat': 51.516672, u'lon': -0.0816095}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'religion': u'christian..."
27,89968893,"{u'lat': 51.5170743, u'lon': -0.0789938}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'pub', u'na..."
28,89970677,"{u'lat': 51.5174559, u'lon': -0.0794395}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'amenity': u'police', u..."
29,89970679,"{u'lat': 51.5178322, u'lon': -0.0787624}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'125', u'building': u'y..."
...,...,...,...,...,...,...,...
4362,1753138660,NaN,51.518043,-0.077770,NaN,NaN,NaN
4363,1753138662,NaN,51.518046,-0.077893,NaN,NaN,NaN
4364,1753138729,NaN,51.518047,-0.077932,NaN,NaN,NaN
4365,1753138731,NaN,51.518052,-0.078085,NaN,NaN,NaN
4366,2140125012,NaN,51.515952,-0.077271,NaN,NaN,NaN
4367,2140125018,NaN,51.515985,-0.076537,NaN,NaN,NaN
4368,2140125020,NaN,51.515989,-0.077218,NaN,NaN,NaN
4369,2140125026,NaN,51.516010,-0.077380,NaN,NaN,NaN
4370,2140125028,NaN,51.516015,-0.076593,NaN,NaN,NaN
4371,2140125040,NaN,51.516059,-0.076435,NaN,NaN,NaN
4372,2140125045,NaN,51.516086,-0.076483,NaN,NaN,NaN
4373,2140125069,NaN,51.516163,-0.077021,NaN,NaN,NaN
4374,2140125079,NaN,51.516201,-0.076972,NaN,NaN,NaN
4375,2918365199,NaN,51.515485,-0.077006,NaN,NaN,NaN
4376,2918365200,NaN,51.515596,-0.077228,NaN,NaN,NaN
4377,2918365401,NaN,51.515528,-0.077357,NaN,NaN,NaN
4378,2918365402,NaN,51.515612,-0.076920,NaN,NaN,NaN
4379,2918365403,NaN,51.515689,-0.076812,NaN,NaN,NaN
4380,2918365404,NaN,51.515487,-0.076688,NaN,NaN,NaN
4381,3208075908,NaN,51.518175,-0.078177,NaN,NaN,NaN
4382,3208075909,NaN,51.518105,-0.078181,NaN,NaN,NaN
4383,3208075910,NaN,51.518176,-0.078112,NaN,NaN,NaN
4384,3208075911,NaN,51.518105,-0.078110,NaN,NaN,NaN
4385,3215682614,NaN,51.515224,-0.078641,NaN,NaN,NaN
4386,3357584407,NaN,51.517970,-0.077924,NaN,NaN,NaN
4387,3735886879,NaN,51.518056,-0.078270,NaN,NaN,NaN
4388,3735886880,NaN,51.517985,-0.078269,NaN,NaN,NaN
4389,3735886881,NaN,51.517936,-0.078327,NaN,NaN,NaN
4390,3984132036,NaN,51.515573,-0.076848,NaN,NaN,NaN
4391,4422007928,NaN,51.515536,-0.076607,NaN,NaN,NaN

In [24]:
length_list = 800

for i in range(length_list): 
    new1 = json_list_data[i]['center']['lat']
    new2 = json_list_data[i]['center']['lon']
    new3 = json_list_data[i]['tags']['amenity']
    df['lat'][i] = new1
    df['lon'][i] = new2
    df['amenity'][i] = new3
    
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431

KeyError: 'center'

In [25]:
df

,id,center,lat,lon,amenity,classification,tags
0,4076420,"{u'lat': 51.5137865, u'lon': -0.1054708}",51.513787,-0.105471,place_of_worship,NaN,"{u'building': u'yes', u'religion': u'christian..."
1,23107374,"{u'lat': 51.5197287, u'lon': -0.0806294}",51.519729,-0.080629,fountain,NaN,"{u'amenity': u'fountain', u'natural': u'water'}"
2,23263836,"{u'lat': 51.5175862, u'lon': -0.0829672}",51.517586,-0.082967,bus_station,NaN,"{u'amenity': u'bus_station', u'maxspeed': u'20..."
3,23988892,"{u'lat': 51.5129643, u'lon': -0.0824257}",51.512964,-0.082426,bank,NaN,"{u'building': u'yes', u'building:colour': u'8C..."
4,26183027,"{u'lat': 51.515462, u'lon': -0.1017694}",51.515462,-0.101769,courthouse,NaN,"{u'building': u'yes', u'loc_name': u'The Old B..."
5,30610281,"{u'lat': 51.5172647, u'lon': -0.1066078}",51.517265,-0.106608,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
6,30610289,"{u'lat': 51.5177859, u'lon': -0.1068288}",51.517786,-0.106829,fountain,NaN,"{u'amenity': u'fountain', u'area': u'yes'}"
7,31755869,"{u'lat': 51.5166722, u'lon': -0.102233}",51.516672,-0.102233,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
8,31755876,"{u'lat': 51.5188923, u'lon': -0.0994083}",51.518892,-0.099408,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
9,34038668,"{u'lat': 51.5186868, u'lon': -0.0938519}",51.518687,-0.093852,place_of_worship,NaN,"{u'building': u'church', u'amenity': u'place_o..."
10,34038669,"{u'lat': 51.5191439, u'lon': -0.0944929}",51.519144,-0.094493,school,NaN,"{u'building': u'yes', u'amenity': u'school', u..."
11,34038687,"{u'lat': 51.5198152, u'lon': -0.0939419}",51.519815,-0.093942,theatre,NaN,"{u'building': u'yes', u'website': u'http://www..."
12,35409660,"{u'lat': 51.5129567, u'lon': -0.0919681}",51.512957,-0.091968,bank,NaN,"{u'building': u'yes', u'operator': u'HSBC', u'..."
13,59213570,"{u'lat': 51.5092995, u'lon': -0.0792593}",51.509299,-0.079259,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
14,59541201,"{u'lat': 51.510054, u'lon': -0.0837172}",51.510054,-0.083717,place_of_worship,NaN,"{u'building': u'church', u'amenity': u'place_o..."
15,60186067,"{u'lat': 51.5143311, u'lon': -0.1071766}",51.514331,-0.107177,pub,NaN,"{u'addr:housenumber': u'145', u'building': u'y..."
16,60393508,"{u'lat': 51.5130148, u'lon': -0.1094984}",51.513015,-0.109498,library,NaN,"{u'building': u'yes', u'source': u'OS_OpenData..."
17,60856565,"{u'lat': 51.5126047, u'lon': -0.109008}",51.512605,-0.109008,parking,NaN,"{u'amenity': u'parking', u'surface': u'asphalt..."
18,60890308,"{u'lat': 51.5140511, u'lon': -0.1051921}",51.514051,-0.105192,pub,NaN,"{u'addr:housenumber': u'95', u'building': u'ye..."
19,60890329,"{u'lat': 51.5136958, u'lon': -0.1071725}",51.513696,-0.107173,pub,NaN,"{u'addr:housenumber': u'35', u'building': u'ye..."
20,62066926,"{u'lat': 51.5215776, u'lon': -0.0975536}",51.521578,-0.097554,fast_food,NaN,"{u'building': u'yes', u'amenity': u'fast_food'..."
21,64659697,"{u'lat': 51.5158629, u'lon': -0.0919945}",51.515863,-0.091995,townhall,NaN,"{u'building': u'yes', u'amenity': u'townhall',..."
22,65086093,"{u'lat': 51.5105001, u'lon': -0.0756575}",51.510500,-0.075658,parking,NaN,"{u'access': u'permissive', u'amenity': u'parki..."
23,77739560,"{u'lat': 51.5084205, u'lon': -0.1048024}",51.508420,-0.104802,pub,NaN,"{u'addr:housenumber': u'1', u'building': u'yes..."
24,85478887,"{u'lat': 51.5153198, u'lon': -0.0847529}",51.515320,-0.084753,bank,NaN,"{u'addr:housenumber': u'111', u'building': u'y..."
25,85478889,"{u'lat': 51.5154557, u'lon': -0.0855866}",51.515456,-0.085587,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
26,89678816,"{u'lat': 51.516672, u'lon': -0.0816095}",51.516672,-0.081610,place_of_worship,NaN,"{u'building': u'yes', u'religion': u'christian..."
27,89968893,"{u'lat': 51.5170743, u'lon': -0.0789938}",51.517074,-0.078994,pub,NaN,"{u'building': u'yes', u'amenity': u'pub', u'na..."
28,89970677,"{u'lat': 51.5174559, u'lon': -0.0794395}",51.517456,-0.079439,police,NaN,"{u'building': u'yes', u'amenity': u'police', u..."
29,89970679,"{u'lat': 51.5178322, u'lon': -0.0787624}",51.517832,-0.078762,pub,NaN,"{u'addr:housenumber': u'125', u'building': u'y..."
...,...,...,...,...,...,...,...
4362,1753138660,NaN,51.518043,-0.077770,NaN,NaN,NaN
4363,1753138662,NaN,51.518046,-0.077893,NaN,NaN,NaN
4364,1753138729,NaN,51.518047,-0.077932,NaN,NaN,NaN
4365,1753138731,NaN,51.518052,-0.078085,NaN,NaN,NaN
4366,2140125012,NaN,51.515952,-0.077271,NaN,NaN,NaN
4367,2140125018,NaN,51.515985,-0.076537,NaN,NaN,NaN
4368,2140125020,NaN,51.515989,-0.077218,NaN,NaN,NaN
4369,2140125026,NaN,51.516010,-0.077380,NaN,NaN,NaN
4370,2140125028,NaN,51.516015,-0.076593,NaN,NaN,NaN
4371,2140125040,NaN,51.516059,-0.076435,NaN,NaN,NaN
4372,2140125045,NaN,51.516086,-0.076483,NaN,NaN,NaN
4373,2140125069,NaN,51.516163,-0.077021,NaN,NaN,NaN
4374,2140125079,NaN,51.516201,-0.076972,NaN,NaN,NaN
4375,2918365199,NaN,51.515485,-0.077006,NaN,NaN,NaN
4376,2918365200,NaN,51.515596,-0.077228,NaN,NaN,NaN
4377,2918365401,NaN,51.515528,-0.077357,NaN,NaN,NaN
4378,2918365402,NaN,51.515612,-0.076920,NaN,NaN,NaN
4379,2918365403,NaN,51.515689,-0.076812,NaN,NaN,NaN
4380,2918365404,NaN,51.515487,-0.076688,NaN,NaN,NaN
4381,3208075908,NaN,51.518175,-0.078177,NaN,NaN,NaN
4382,3208075909,NaN,51.518105,-0.078181,NaN,NaN,NaN
4383,3208075910,NaN,51.518176,-0.078112,NaN,NaN,NaN
4384,3208075911,NaN,51.518105,-0.078110,NaN,NaN,NaN
4385,3215682614,NaN,51.515224,-0.078641,NaN,NaN,NaN
4386,3357584407,NaN,51.517970,-0.077924,NaN,NaN,NaN
4387,3735886879,NaN,51.518056,-0.078270,NaN,NaN,NaN
4388,3735886880,NaN,51.517985,-0.078269,NaN,NaN,NaN
4389,3735886881,NaN,51.517936,-0.078327,NaN,NaN,NaN
4390,3984132036,NaN,51.515573,-0.076848,NaN,NaN,NaN
4391,4422007928,NaN,51.515536,-0.076607,NaN,NaN,NaN

In [26]:
df[:400]

,id,center,lat,lon,amenity,classification,tags
0,4076420,"{u'lat': 51.5137865, u'lon': -0.1054708}",51.513787,-0.105471,place_of_worship,NaN,"{u'building': u'yes', u'religion': u'christian..."
1,23107374,"{u'lat': 51.5197287, u'lon': -0.0806294}",51.519729,-0.080629,fountain,NaN,"{u'amenity': u'fountain', u'natural': u'water'}"
2,23263836,"{u'lat': 51.5175862, u'lon': -0.0829672}",51.517586,-0.082967,bus_station,NaN,"{u'amenity': u'bus_station', u'maxspeed': u'20..."
3,23988892,"{u'lat': 51.5129643, u'lon': -0.0824257}",51.512964,-0.082426,bank,NaN,"{u'building': u'yes', u'building:colour': u'8C..."
4,26183027,"{u'lat': 51.515462, u'lon': -0.1017694}",51.515462,-0.101769,courthouse,NaN,"{u'building': u'yes', u'loc_name': u'The Old B..."
5,30610281,"{u'lat': 51.5172647, u'lon': -0.1066078}",51.517265,-0.106608,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
6,30610289,"{u'lat': 51.5177859, u'lon': -0.1068288}",51.517786,-0.106829,fountain,NaN,"{u'amenity': u'fountain', u'area': u'yes'}"
7,31755869,"{u'lat': 51.5166722, u'lon': -0.102233}",51.516672,-0.102233,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
8,31755876,"{u'lat': 51.5188923, u'lon': -0.0994083}",51.518892,-0.099408,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
9,34038668,"{u'lat': 51.5186868, u'lon': -0.0938519}",51.518687,-0.093852,place_of_worship,NaN,"{u'building': u'church', u'amenity': u'place_o..."
10,34038669,"{u'lat': 51.5191439, u'lon': -0.0944929}",51.519144,-0.094493,school,NaN,"{u'building': u'yes', u'amenity': u'school', u..."
11,34038687,"{u'lat': 51.5198152, u'lon': -0.0939419}",51.519815,-0.093942,theatre,NaN,"{u'building': u'yes', u'website': u'http://www..."
12,35409660,"{u'lat': 51.5129567, u'lon': -0.0919681}",51.512957,-0.091968,bank,NaN,"{u'building': u'yes', u'operator': u'HSBC', u'..."
13,59213570,"{u'lat': 51.5092995, u'lon': -0.0792593}",51.509299,-0.079259,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
14,59541201,"{u'lat': 51.510054, u'lon': -0.0837172}",51.510054,-0.083717,place_of_worship,NaN,"{u'building': u'church', u'amenity': u'place_o..."
15,60186067,"{u'lat': 51.5143311, u'lon': -0.1071766}",51.514331,-0.107177,pub,NaN,"{u'addr:housenumber': u'145', u'building': u'y..."
16,60393508,"{u'lat': 51.5130148, u'lon': -0.1094984}",51.513015,-0.109498,library,NaN,"{u'building': u'yes', u'source': u'OS_OpenData..."
17,60856565,"{u'lat': 51.5126047, u'lon': -0.109008}",51.512605,-0.109008,parking,NaN,"{u'amenity': u'parking', u'surface': u'asphalt..."
18,60890308,"{u'lat': 51.5140511, u'lon': -0.1051921}",51.514051,-0.105192,pub,NaN,"{u'addr:housenumber': u'95', u'building': u'ye..."
19,60890329,"{u'lat': 51.5136958, u'lon': -0.1071725}",51.513696,-0.107173,pub,NaN,"{u'addr:housenumber': u'35', u'building': u'ye..."
20,62066926,"{u'lat': 51.5215776, u'lon': -0.0975536}",51.521578,-0.097554,fast_food,NaN,"{u'building': u'yes', u'amenity': u'fast_food'..."
21,64659697,"{u'lat': 51.5158629, u'lon': -0.0919945}",51.515863,-0.091995,townhall,NaN,"{u'building': u'yes', u'amenity': u'townhall',..."
22,65086093,"{u'lat': 51.5105001, u'lon': -0.0756575}",51.510500,-0.075658,parking,NaN,"{u'access': u'permissive', u'amenity': u'parki..."
23,77739560,"{u'lat': 51.5084205, u'lon': -0.1048024}",51.508420,-0.104802,pub,NaN,"{u'addr:housenumber': u'1', u'building': u'yes..."
24,85478887,"{u'lat': 51.5153198, u'lon': -0.0847529}",51.515320,-0.084753,bank,NaN,"{u'addr:housenumber': u'111', u'building': u'y..."
25,85478889,"{u'lat': 51.5154557, u'lon': -0.0855866}",51.515456,-0.085587,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
26,89678816,"{u'lat': 51.516672, u'lon': -0.0816095}",51.516672,-0.081610,place_of_worship,NaN,"{u'building': u'yes', u'religion': u'christian..."
27,89968893,"{u'lat': 51.5170743, u'lon': -0.0789938}",51.517074,-0.078994,pub,NaN,"{u'building': u'yes', u'amenity': u'pub', u'na..."
28,89970677,"{u'lat': 51.5174559, u'lon': -0.0794395}",51.517456,-0.079439,police,NaN,"{u'building': u'yes', u'amenity': u'police', u..."
29,89970679,"{u'lat': 51.5178322, u'lon': -0.0787624}",51.517832,-0.078762,pub,NaN,"{u'addr:housenumber': u'125', u'building': u'y..."
...,...,...,...,...,...,...,...
370,405405095,"{u'lat': 51.5166756, u'lon': -0.103946}",51.516676,-0.103946,restaurant,NaN,"{u'cuisine': u'japanese', u'amenity': u'restau..."
371,405576232,"{u'lat': 51.5169408, u'lon': -0.1041187}",51.516941,-0.104119,shelter,NaN,"{u'building': u'shelter', u'building:levels': ..."
372,412951755,"{u'lat': 51.5168616, u'lon': -0.1008042}",51.516862,-0.100804,parking,NaN,{u'amenity': u'parking'}
373,419452549,"{u'lat': 51.5179378, u'lon': -0.0942025}",51.517938,-0.094202,parking,NaN,{u'amenity': u'parking'}
374,421365974,"{u'lat': 51.5179915, u'lon': -0.1113779}",51.517992,-0.111378,cafe,NaN,"{u'addr:housenumber': u'337-338', u'building':..."
375,421365983,"{u'lat': 51.5177427, u'lon': -0.109916}",51.517743,-0.109916,restaurant,NaN,"{u'addr:housenumber': u'19', u'building': u'co..."
376,421365986,"{u'lat': 51.5178952, u'lon': -0.1107584}",51.517895,-0.110758,fast_food,NaN,"{u'addr:housenumber': u'6-7', u'cuisine': u'bu..."
377,421365988,"{u'lat': 51.5177656, u'lon': -0.1100614}",51.517766,-0.110061,pub,NaN,"{u'addr:housenumber': u'18', u'toilets': u'yes..."
378,421386547,"{u'lat': 51.5179515, u'lon': -0.111694}",51.517952,-0.111694,cafe,NaN,"{u'website': u'http://www.caffenero.com', u'op..."
379,421386551,"{u'lat': 51.5181069, u'lon': -0.1130294}",51.518107,-0.113029,cafe,NaN,"{u'website': u'http://www.costa.co.uk', u'amen..."
380,421386554,"{u'lat': 51.5179553, u'lon': -0.1117889}",51.517955,-0.111789,bank,NaN,"{u'website': u'http://www.natwest.com', u'amen..."
381,424600551,"{u'lat': 51.5148169, u'lon': -0.0975521}",51.514817,-0.097552,cafe,NaN,"{u'addr:housenumber': u'1', u'building': u'yes..."
382,424600552,"{u'lat': 51.5148618, u'lon': -0.0975541}",51.514862,-0.097554,cafe,NaN,"{u'addr:housenumber': u'2', u'building': u'yes..."
383,428976071,"{u'lat': 51.5179232, u'lon': -0.0819826}",51.517923,-0.081983,fast_food,NaN,{u'note': u'Railway station concourse lower (p...
384,430425941,"{u'lat': 51.5197079, u'lon': -0.0983858}",51.519708,-0.098386,dentist,NaN,"{u'building': u'yes', u'building:colour': u'br..."
385,430448024,"{u'lat': 51.5193253, u'lon': -0.0987778}",51.519325,-0.098778,pub,NaN,"{u'addr:housenumber': u'1', u'building': u'ret..."
386,430451200,"{u'lat': 51.5188716, u'lon': -0.1001497}",51.518872,-0.100150,restaurant,NaN,"{u'building': u'yes', u'building:colour': u'br..."
387,430451203,"{u'lat': 51.5191104, u'lon': -0.099853}",51.519110,-0.099853,pub,NaN,"{u'addr:housenumber': u'38', u'building': u're..."
388,434681394,"{u'lat': 51.5182249, u'lon': -0.0824157}",51.518225,-0.082416,restaurant,NaN,"{u'cuisine': u'south_african', u'amenity': u'r..."
389,434682403,"{u'lat': 51.5177986, u'lon': -0.0828539}",51.517799,-0.082854,pub,NaN,{u'website': u'http://www.iamthemerchant.com/'...
390,439335533,"{u'lat': 51.5170645, u'lon': -0.0983714}",51.517064,-0.098371,pub,NaN,"{u'building': u'yes', u'amenity': u'pub', u'na..."
391,439420454,"{u'lat': 51.5157564, u'lon': -0.0993134}",51.515756,-0.099313,dentist,NaN,"{u'building': u'yes', u'building:colour': u'br..."
392,440123087,"{u'lat': 51.5132539, u'lon': -0.101281}",51.513254,-0.101281,cafe,NaN,"{u'addr:housenumber': u'8', u'building': u'ret..."
393,440123088,"{u'lat': 51.5135521, u'lon': -0.1012032}",51.513552,-0.101203,restaurant,NaN,"{u'amenity': u'restaurant', u'name': u'The Cre..."
394,440123089,"{u'lat': 51.5131427, u'lon': -0.1014306}",51.513143,-0.101431,pub,NaN,"{u'addr:housenumber': u'61', u'building': u're..."
395,440257453,"{u'lat': 51.5129293, u'lon': -0.101306}",51.512929,-0.101306,fast_food,NaN,"{u'addr:housenumber': u'4', u'building': u'yes..."
396,440257455,"{u'lat': 51.5129699, u'lon': -0.1012815}",51.512970,-0.101281,cafe,NaN,"{u'addr:housenumber': u'3', u'building': u'com..."
397,440257457,"{u'lat': 51.5133848, u'lon': -0.1012452}",51.513385,-0.101245,pub,NaN,"{u'amenity': u'pub', u'name': u'Duke & Duchess'}"
398,440257462,"{u'lat': 51.5130901, u'lon': -0.1012089}",51.513090,-0.101209,cafe,NaN,"{u'addr:housenumber': u'59A', u'building': u'c..."
399,440257463,"{u'lat': 51.5132931, u'lon': -0.1013767}",51.513293,-0.101377,restaurant,NaN,"{u'addr:housenumber': u'9', u'cuisine': u'sush..."

In [27]:
df

,id,center,lat,lon,amenity,classification,tags
0,4076420,"{u'lat': 51.5137865, u'lon': -0.1054708}",51.513787,-0.105471,place_of_worship,NaN,"{u'building': u'yes', u'religion': u'christian..."
1,23107374,"{u'lat': 51.5197287, u'lon': -0.0806294}",51.519729,-0.080629,fountain,NaN,"{u'amenity': u'fountain', u'natural': u'water'}"
2,23263836,"{u'lat': 51.5175862, u'lon': -0.0829672}",51.517586,-0.082967,bus_station,NaN,"{u'amenity': u'bus_station', u'maxspeed': u'20..."
3,23988892,"{u'lat': 51.5129643, u'lon': -0.0824257}",51.512964,-0.082426,bank,NaN,"{u'building': u'yes', u'building:colour': u'8C..."
4,26183027,"{u'lat': 51.515462, u'lon': -0.1017694}",51.515462,-0.101769,courthouse,NaN,"{u'building': u'yes', u'loc_name': u'The Old B..."
5,30610281,"{u'lat': 51.5172647, u'lon': -0.1066078}",51.517265,-0.106608,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
6,30610289,"{u'lat': 51.5177859, u'lon': -0.1068288}",51.517786,-0.106829,fountain,NaN,"{u'amenity': u'fountain', u'area': u'yes'}"
7,31755869,"{u'lat': 51.5166722, u'lon': -0.102233}",51.516672,-0.102233,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
8,31755876,"{u'lat': 51.5188923, u'lon': -0.0994083}",51.518892,-0.099408,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
9,34038668,"{u'lat': 51.5186868, u'lon': -0.0938519}",51.518687,-0.093852,place_of_worship,NaN,"{u'building': u'church', u'amenity': u'place_o..."
10,34038669,"{u'lat': 51.5191439, u'lon': -0.0944929}",51.519144,-0.094493,school,NaN,"{u'building': u'yes', u'amenity': u'school', u..."
11,34038687,"{u'lat': 51.5198152, u'lon': -0.0939419}",51.519815,-0.093942,theatre,NaN,"{u'building': u'yes', u'website': u'http://www..."
12,35409660,"{u'lat': 51.5129567, u'lon': -0.0919681}",51.512957,-0.091968,bank,NaN,"{u'building': u'yes', u'operator': u'HSBC', u'..."
13,59213570,"{u'lat': 51.5092995, u'lon': -0.0792593}",51.509299,-0.079259,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
14,59541201,"{u'lat': 51.510054, u'lon': -0.0837172}",51.510054,-0.083717,place_of_worship,NaN,"{u'building': u'church', u'amenity': u'place_o..."
15,60186067,"{u'lat': 51.5143311, u'lon': -0.1071766}",51.514331,-0.107177,pub,NaN,"{u'addr:housenumber': u'145', u'building': u'y..."
16,60393508,"{u'lat': 51.5130148, u'lon': -0.1094984}",51.513015,-0.109498,library,NaN,"{u'building': u'yes', u'source': u'OS_OpenData..."
17,60856565,"{u'lat': 51.5126047, u'lon': -0.109008}",51.512605,-0.109008,parking,NaN,"{u'amenity': u'parking', u'surface': u'asphalt..."
18,60890308,"{u'lat': 51.5140511, u'lon': -0.1051921}",51.514051,-0.105192,pub,NaN,"{u'addr:housenumber': u'95', u'building': u'ye..."
19,60890329,"{u'lat': 51.5136958, u'lon': -0.1071725}",51.513696,-0.107173,pub,NaN,"{u'addr:housenumber': u'35', u'building': u'ye..."
20,62066926,"{u'lat': 51.5215776, u'lon': -0.0975536}",51.521578,-0.097554,fast_food,NaN,"{u'building': u'yes', u'amenity': u'fast_food'..."
21,64659697,"{u'lat': 51.5158629, u'lon': -0.0919945}",51.515863,-0.091995,townhall,NaN,"{u'building': u'yes', u'amenity': u'townhall',..."
22,65086093,"{u'lat': 51.5105001, u'lon': -0.0756575}",51.510500,-0.075658,parking,NaN,"{u'access': u'permissive', u'amenity': u'parki..."
23,77739560,"{u'lat': 51.5084205, u'lon': -0.1048024}",51.508420,-0.104802,pub,NaN,"{u'addr:housenumber': u'1', u'building': u'yes..."
24,85478887,"{u'lat': 51.5153198, u'lon': -0.0847529}",51.515320,-0.084753,bank,NaN,"{u'addr:housenumber': u'111', u'building': u'y..."
25,85478889,"{u'lat': 51.5154557, u'lon': -0.0855866}",51.515456,-0.085587,place_of_worship,NaN,"{u'building': u'yes', u'amenity': u'place_of_w..."
26,89678816,"{u'lat': 51.516672, u'lon': -0.0816095}",51.516672,-0.081610,place_of_worship,NaN,"{u'building': u'yes', u'religion': u'christian..."
27,89968893,"{u'lat': 51.5170743, u'lon': -0.0789938}",51.517074,-0.078994,pub,NaN,"{u'building': u'yes', u'amenity': u'pub', u'na..."
28,89970677,"{u'lat': 51.5174559, u'lon': -0.0794395}",51.517456,-0.079439,police,NaN,"{u'building': u'yes', u'amenity': u'police', u..."
29,89970679,"{u'lat': 51.5178322, u'lon': -0.0787624}",51.517832,-0.078762,pub,NaN,"{u'addr:housenumber': u'125', u'building': u'y..."
...,...,...,...,...,...,...,...
4362,1753138660,NaN,51.518043,-0.077770,NaN,NaN,NaN
4363,1753138662,NaN,51.518046,-0.077893,NaN,NaN,NaN
4364,1753138729,NaN,51.518047,-0.077932,NaN,NaN,NaN
4365,1753138731,NaN,51.518052,-0.078085,NaN,NaN,NaN
4366,2140125012,NaN,51.515952,-0.077271,NaN,NaN,NaN
4367,2140125018,NaN,51.515985,-0.076537,NaN,NaN,NaN
4368,2140125020,NaN,51.515989,-0.077218,NaN,NaN,NaN
4369,2140125026,NaN,51.516010,-0.077380,NaN,NaN,NaN
4370,2140125028,NaN,51.516015,-0.076593,NaN,NaN,NaN
4371,2140125040,NaN,51.516059,-0.076435,NaN,NaN,NaN
4372,2140125045,NaN,51.516086,-0.076483,NaN,NaN,NaN
4373,2140125069,NaN,51.516163,-0.077021,NaN,NaN,NaN
4374,2140125079,NaN,51.516201,-0.076972,NaN,NaN,NaN
4375,2918365199,NaN,51.515485,-0.077006,NaN,NaN,NaN
4376,2918365200,NaN,51.515596,-0.077228,NaN,NaN,NaN
4377,2918365401,NaN,51.515528,-0.077357,NaN,NaN,NaN
4378,2918365402,NaN,51.515612,-0.076920,NaN,NaN,NaN
4379,2918365403,NaN,51.515689,-0.076812,NaN,NaN,NaN
4380,2918365404,NaN,51.515487,-0.076688,NaN,NaN,NaN
4381,3208075908,NaN,51.518175,-0.078177,NaN,NaN,NaN
4382,3208075909,NaN,51.518105,-0.078181,NaN,NaN,NaN
4383,3208075910,NaN,51.518176,-0.078112,NaN,NaN,NaN
4384,3208075911,NaN,51.518105,-0.078110,NaN,NaN,NaN
4385,3215682614,NaN,51.515224,-0.078641,NaN,NaN,NaN
4386,3357584407,NaN,51.517970,-0.077924,NaN,NaN,NaN
4387,3735886879,NaN,51.518056,-0.078270,NaN,NaN,NaN
4388,3735886880,NaN,51.517985,-0.078269,NaN,NaN,NaN
4389,3735886881,NaN,51.517936,-0.078327,NaN,NaN,NaN
4390,3984132036,NaN,51.515573,-0.076848,NaN,NaN,NaN
4391,4422007928,NaN,51.515536,-0.076607,NaN,NaN,NaN

In [28]:
df.to_csv('city_way_amenity.csv')

In [70]:
shop_ways = api.query("""[out:json];area[name="London"]->.a; way(area.a)["shop"];out;""")

In [71]:
len(shop_ways.ways)

9781

In [29]:
with open('city_way_shop.json') as json_data: 
    json_dic_data = json.load(json_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'center','lat','lon', 'amenity','classification', 'tags']
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,center,lat,lon,amenity,classification,tags
0,36918240,"{u'lat': 51.5154748, u'lon': -0.0785857}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'bookmaker', u..."
1,60890312,"{u'lat': 51.5126223, u'lon': -0.1067448}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'newsagent', u..."
2,60890322,"{u'lat': 51.5140584, u'lon': -0.1055392}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'mobile_phone'..."
3,60890325,"{u'lat': 51.5126502, u'lon': -0.1067474}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'hairdresser',..."
4,142983954,"{u'lat': 51.5108259, u'lon': -0.0847963}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'bakery', u'na..."
5,143405870,"{u'lat': 51.5110905, u'lon': -0.0864806}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'department_st..."
6,146986815,"{u'lat': 51.5191061, u'lon': -0.1001658}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'building:levels': u'4'..."
7,146986824,"{u'lat': 51.5193299, u'lon': -0.0994609}",NaN,NaN,NaN,NaN,"{u'shop': u'bookmaker', u'source': u'Bing;phot..."
8,146986828,"{u'lat': 51.5190863, u'lon': -0.1002229}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'building:levels': u'4'..."
9,146989369,"{u'lat': 51.5193991, u'lon': -0.0993303}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'69', u'cuisine': u'vie..."
10,147495182,"{u'lat': 51.518068, u'lon': -0.1018704}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'16', u'shop': u'alcoho..."
11,154411119,"{u'lat': 51.5170988, u'lon': -0.0884565}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'43', u'building': u'ye..."
12,155419714,"{u'lat': 51.5123573, u'lon': -0.0931077}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'photo_studio'..."
13,155419719,"{u'lat': 51.5123186, u'lon': -0.0929529}",NaN,NaN,NaN,NaN,"{u'shop': u'newsagent', u'source': u'Bing;phot..."
14,155421455,"{u'lat': 51.5116625, u'lon': -0.0912088}",NaN,NaN,NaN,NaN,"{u'shop': u'convenience', u'name': u'Krystals ..."
15,155421456,"{u'lat': 51.5116629, u'lon': -0.0910011}",NaN,NaN,NaN,NaN,"{u'shop': u'hairdresser', u'description': u'Ge..."
16,155421461,"{u'lat': 51.5116804, u'lon': -0.0912832}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'68-70', u'shop': u'boo..."
17,155421465,"{u'lat': 51.5118633, u'lon': -0.0918734}",NaN,NaN,NaN,NaN,"{u'shop': u'mobile_phone', u'name': u'3 Store'..."
18,155428064,"{u'lat': 51.5106588, u'lon': -0.0863171}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
19,155428066,"{u'lat': 51.5116408, u'lon': -0.0849941}",NaN,NaN,NaN,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
20,155428069,"{u'lat': 51.511038, u'lon': -0.0893535}",NaN,NaN,NaN,NaN,"{u'shop': u'bookmaker', u'source': u'photograp..."
21,155428079,"{u'lat': 51.5104784, u'lon': -0.0864778}",NaN,NaN,NaN,NaN,"{u'shop': u'outdoor', u'name': u'Snow + Rock',..."
22,155428087,"{u'lat': 51.5105916, u'lon': -0.0854819}",NaN,NaN,NaN,NaN,"{u'shop': u'locksmith', u'amenity': u'locksmit..."
23,155428091,"{u'lat': 51.5115987, u'lon': -0.0909657}",NaN,NaN,NaN,NaN,"{u'building': u'yes', u'shop': u'clothes', u'n..."
24,155430496,"{u'lat': 51.5127313, u'lon': -0.0842844}",NaN,NaN,NaN,NaN,"{u'shop': u'healthfood', u'source': u'photogra..."
25,155430497,"{u'lat': 51.5133151, u'lon': -0.0836855}",NaN,NaN,NaN,NaN,"{u'building': u'no', u'shop': u'bag', u'name':..."
26,155430499,"{u'lat': 51.5124402, u'lon': -0.0843953}",NaN,NaN,NaN,NaN,"{u'shop': u'clothes', u'source': u'photograph;..."
27,155430502,"{u'lat': 51.5125372, u'lon': -0.0843736}",NaN,NaN,NaN,NaN,"{u'shop': u'hardware', u'source': u'photograph..."
28,155906191,"{u'lat': 51.5134812, u'lon': -0.0764626}",NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'88', u'shop': u'chemis..."
29,156167656,"{u'lat': 51.514037, u'lon': -0.0929037}",NaN,NaN,NaN,NaN,"{u'shop': u'optician', u'source': u'photograph..."
...,...,...,...,...,...,...,...
1599,2140125048,NaN,51.516096,-0.077068,NaN,NaN,NaN
1600,2140125051,NaN,51.516103,-0.077078,NaN,NaN,NaN
1601,2140125055,NaN,51.516117,-0.077059,NaN,NaN,NaN
1602,2140125061,NaN,51.516134,-0.077225,NaN,NaN,NaN
1603,2140125063,NaN,51.516144,-0.077021,NaN,NaN,NaN
1604,2140125066,NaN,51.516150,-0.077037,NaN,NaN,NaN
1605,2140125069,NaN,51.516163,-0.077021,NaN,NaN,NaN
1606,2140125071,NaN,51.516177,-0.076761,NaN,NaN,NaN
1607,2140125074,NaN,51.516183,-0.077187,NaN,NaN,NaN
1608,2140125075,NaN,51.516189,-0.076785,NaN,NaN,NaN
1609,2140125078,NaN,51.516200,-0.076771,NaN,NaN,NaN
1610,2140125081,NaN,51.516217,-0.076805,NaN,NaN,NaN
1611,2140125089,NaN,51.516259,-0.076851,NaN,NaN,NaN
1612,2140125092,NaN,51.516285,-0.076871,NaN,NaN,NaN
1613,2140125093,NaN,51.516306,-0.076915,NaN,NaN,NaN
1614,2140125094,NaN,51.516316,-0.076935,NaN,NaN,NaN
1615,2140125095,NaN,51.516326,-0.076921,NaN,NaN,NaN
1616,3208075890,NaN,51.518211,-0.078572,NaN,NaN,NaN
1617,3208075902,NaN,51.518097,-0.077908,NaN,NaN,NaN
1618,3208075903,NaN,51.518173,-0.077964,NaN,NaN,NaN
1619,3208075904,NaN,51.518101,-0.077979,NaN,NaN,NaN
1620,3208075905,NaN,51.518172,-0.077889,NaN,NaN,NaN
1621,3218826547,NaN,51.514773,-0.077954,NaN,NaN,NaN
1622,3218826548,NaN,51.514719,-0.078034,NaN,NaN,NaN
1623,3218826549,NaN,51.514746,-0.078082,NaN,NaN,NaN
1624,3218826550,NaN,51.514694,-0.078161,NaN,NaN,NaN
1625,3218826551,NaN,51.514637,-0.078063,NaN,NaN,NaN
1626,3461553677,NaN,51.516839,-0.078474,NaN,NaN,NaN
1627,3461553678,NaN,51.516793,-0.078253,NaN,NaN,NaN
1628,3461553679,NaN,51.516695,-0.078332,NaN,NaN,NaN

In [31]:
length_list = 50

for i in range(length_list): 
    new1 = json_list_data[i]['center']['lat']
    new2 = json_list_data[i]['center']['lon']
    new3 = json_list_data[i]['tags']['shop']
    df['lat'][i] = new1
    df['lon'][i] = new2
    df['amenity'][i] = new3
    
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [32]:
df

,id,center,lat,lon,amenity,classification,tags
0,36918240,"{u'lat': 51.5154748, u'lon': -0.0785857}",51.515475,-0.078586,bookmaker,NaN,"{u'building': u'yes', u'shop': u'bookmaker', u..."
1,60890312,"{u'lat': 51.5126223, u'lon': -0.1067448}",51.512622,-0.106745,newsagent,NaN,"{u'building': u'yes', u'shop': u'newsagent', u..."
2,60890322,"{u'lat': 51.5140584, u'lon': -0.1055392}",51.514058,-0.105539,mobile_phone,NaN,"{u'building': u'yes', u'shop': u'mobile_phone'..."
3,60890325,"{u'lat': 51.5126502, u'lon': -0.1067474}",51.512650,-0.106747,hairdresser,NaN,"{u'building': u'yes', u'shop': u'hairdresser',..."
4,142983954,"{u'lat': 51.5108259, u'lon': -0.0847963}",51.510826,-0.084796,bakery,NaN,"{u'building': u'yes', u'shop': u'bakery', u'na..."
5,143405870,"{u'lat': 51.5110905, u'lon': -0.0864806}",51.511091,-0.086481,department_store,NaN,"{u'building': u'yes', u'shop': u'department_st..."
6,146986815,"{u'lat': 51.5191061, u'lon': -0.1001658}",51.519106,-0.100166,newsagent,NaN,"{u'building': u'yes', u'building:levels': u'4'..."
7,146986824,"{u'lat': 51.5193299, u'lon': -0.0994609}",51.519330,-0.099461,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'Bing;phot..."
8,146986828,"{u'lat': 51.5190863, u'lon': -0.1002229}",51.519086,-0.100223,dry_cleaning,NaN,"{u'building': u'yes', u'building:levels': u'4'..."
9,146989369,"{u'lat': 51.5193991, u'lon': -0.0993303}",51.519399,-0.099330,hairdresser,NaN,"{u'addr:housenumber': u'69', u'cuisine': u'vie..."
10,147495182,"{u'lat': 51.518068, u'lon': -0.1018704}",51.518068,-0.101870,alcohol,NaN,"{u'addr:housenumber': u'16', u'shop': u'alcoho..."
11,154411119,"{u'lat': 51.5170988, u'lon': -0.0884565}",51.517099,-0.088456,optician,NaN,"{u'addr:housenumber': u'43', u'building': u'ye..."
12,155419714,"{u'lat': 51.5123573, u'lon': -0.0931077}",51.512357,-0.093108,photo_studio,NaN,"{u'building': u'yes', u'shop': u'photo_studio'..."
13,155419719,"{u'lat': 51.5123186, u'lon': -0.0929529}",51.512319,-0.092953,newsagent,NaN,"{u'shop': u'newsagent', u'source': u'Bing;phot..."
14,155421455,"{u'lat': 51.5116625, u'lon': -0.0912088}",51.511662,-0.091209,convenience,NaN,"{u'shop': u'convenience', u'name': u'Krystals ..."
15,155421456,"{u'lat': 51.5116629, u'lon': -0.0910011}",51.511663,-0.091001,hairdresser,NaN,"{u'shop': u'hairdresser', u'description': u'Ge..."
16,155421461,"{u'lat': 51.5116804, u'lon': -0.0912832}",51.511680,-0.091283,bookmaker,NaN,"{u'addr:housenumber': u'68-70', u'shop': u'boo..."
17,155421465,"{u'lat': 51.5118633, u'lon': -0.0918734}",51.511863,-0.091873,mobile_phone,NaN,"{u'shop': u'mobile_phone', u'name': u'3 Store'..."
18,155428064,"{u'lat': 51.5106588, u'lon': -0.0863171}",51.510659,-0.086317,chemist,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
19,155428066,"{u'lat': 51.5116408, u'lon': -0.0849941}",51.511641,-0.084994,chemist,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
20,155428069,"{u'lat': 51.511038, u'lon': -0.0893535}",51.511038,-0.089354,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'photograp..."
21,155428079,"{u'lat': 51.5104784, u'lon': -0.0864778}",51.510478,-0.086478,outdoor,NaN,"{u'shop': u'outdoor', u'name': u'Snow + Rock',..."
22,155428087,"{u'lat': 51.5105916, u'lon': -0.0854819}",51.510592,-0.085482,locksmith,NaN,"{u'shop': u'locksmith', u'amenity': u'locksmit..."
23,155428091,"{u'lat': 51.5115987, u'lon': -0.0909657}",51.511599,-0.090966,clothes,NaN,"{u'building': u'yes', u'shop': u'clothes', u'n..."
24,155430496,"{u'lat': 51.5127313, u'lon': -0.0842844}",51.512731,-0.084284,healthfood,NaN,"{u'shop': u'healthfood', u'source': u'photogra..."
25,155430497,"{u'lat': 51.5133151, u'lon': -0.0836855}",51.513315,-0.083685,bag,NaN,"{u'building': u'no', u'shop': u'bag', u'name':..."
26,155430499,"{u'lat': 51.5124402, u'lon': -0.0843953}",51.512440,-0.084395,clothes,NaN,"{u'shop': u'clothes', u'source': u'photograph;..."
27,155430502,"{u'lat': 51.5125372, u'lon': -0.0843736}",51.512537,-0.084374,hardware,NaN,"{u'shop': u'hardware', u'source': u'photograph..."
28,155906191,"{u'lat': 51.5134812, u'lon': -0.0764626}",51.513481,-0.076463,chemist,NaN,"{u'addr:housenumber': u'88', u'shop': u'chemis..."
29,156167656,"{u'lat': 51.514037, u'lon': -0.0929037}",51.514037,-0.092904,optician,NaN,"{u'shop': u'optician', u'source': u'photograph..."
...,...,...,...,...,...,...,...
1599,2140125048,NaN,51.516096,-0.077068,NaN,NaN,NaN
1600,2140125051,NaN,51.516103,-0.077078,NaN,NaN,NaN
1601,2140125055,NaN,51.516117,-0.077059,NaN,NaN,NaN
1602,2140125061,NaN,51.516134,-0.077225,NaN,NaN,NaN
1603,2140125063,NaN,51.516144,-0.077021,NaN,NaN,NaN
1604,2140125066,NaN,51.516150,-0.077037,NaN,NaN,NaN
1605,2140125069,NaN,51.516163,-0.077021,NaN,NaN,NaN
1606,2140125071,NaN,51.516177,-0.076761,NaN,NaN,NaN
1607,2140125074,NaN,51.516183,-0.077187,NaN,NaN,NaN
1608,2140125075,NaN,51.516189,-0.076785,NaN,NaN,NaN
1609,2140125078,NaN,51.516200,-0.076771,NaN,NaN,NaN
1610,2140125081,NaN,51.516217,-0.076805,NaN,NaN,NaN
1611,2140125089,NaN,51.516259,-0.076851,NaN,NaN,NaN
1612,2140125092,NaN,51.516285,-0.076871,NaN,NaN,NaN
1613,2140125093,NaN,51.516306,-0.076915,NaN,NaN,NaN
1614,2140125094,NaN,51.516316,-0.076935,NaN,NaN,NaN
1615,2140125095,NaN,51.516326,-0.076921,NaN,NaN,NaN
1616,3208075890,NaN,51.518211,-0.078572,NaN,NaN,NaN
1617,3208075902,NaN,51.518097,-0.077908,NaN,NaN,NaN
1618,3208075903,NaN,51.518173,-0.077964,NaN,NaN,NaN
1619,3208075904,NaN,51.518101,-0.077979,NaN,NaN,NaN
1620,3208075905,NaN,51.518172,-0.077889,NaN,NaN,NaN
1621,3218826547,NaN,51.514773,-0.077954,NaN,NaN,NaN
1622,3218826548,NaN,51.514719,-0.078034,NaN,NaN,NaN
1623,3218826549,NaN,51.514746,-0.078082,NaN,NaN,NaN
1624,3218826550,NaN,51.514694,-0.078161,NaN,NaN,NaN
1625,3218826551,NaN,51.514637,-0.078063,NaN,NaN,NaN
1626,3461553677,NaN,51.516839,-0.078474,NaN,NaN,NaN
1627,3461553678,NaN,51.516793,-0.078253,NaN,NaN,NaN
1628,3461553679,NaN,51.516695,-0.078332,NaN,NaN,NaN

In [33]:
df[:50]

,id,center,lat,lon,amenity,classification,tags
0,36918240,"{u'lat': 51.5154748, u'lon': -0.0785857}",51.515475,-0.078586,bookmaker,NaN,"{u'building': u'yes', u'shop': u'bookmaker', u..."
1,60890312,"{u'lat': 51.5126223, u'lon': -0.1067448}",51.512622,-0.106745,newsagent,NaN,"{u'building': u'yes', u'shop': u'newsagent', u..."
2,60890322,"{u'lat': 51.5140584, u'lon': -0.1055392}",51.514058,-0.105539,mobile_phone,NaN,"{u'building': u'yes', u'shop': u'mobile_phone'..."
3,60890325,"{u'lat': 51.5126502, u'lon': -0.1067474}",51.512650,-0.106747,hairdresser,NaN,"{u'building': u'yes', u'shop': u'hairdresser',..."
4,142983954,"{u'lat': 51.5108259, u'lon': -0.0847963}",51.510826,-0.084796,bakery,NaN,"{u'building': u'yes', u'shop': u'bakery', u'na..."
5,143405870,"{u'lat': 51.5110905, u'lon': -0.0864806}",51.511091,-0.086481,department_store,NaN,"{u'building': u'yes', u'shop': u'department_st..."
6,146986815,"{u'lat': 51.5191061, u'lon': -0.1001658}",51.519106,-0.100166,newsagent,NaN,"{u'building': u'yes', u'building:levels': u'4'..."
7,146986824,"{u'lat': 51.5193299, u'lon': -0.0994609}",51.519330,-0.099461,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'Bing;phot..."
8,146986828,"{u'lat': 51.5190863, u'lon': -0.1002229}",51.519086,-0.100223,dry_cleaning,NaN,"{u'building': u'yes', u'building:levels': u'4'..."
9,146989369,"{u'lat': 51.5193991, u'lon': -0.0993303}",51.519399,-0.099330,hairdresser,NaN,"{u'addr:housenumber': u'69', u'cuisine': u'vie..."
10,147495182,"{u'lat': 51.518068, u'lon': -0.1018704}",51.518068,-0.101870,alcohol,NaN,"{u'addr:housenumber': u'16', u'shop': u'alcoho..."
11,154411119,"{u'lat': 51.5170988, u'lon': -0.0884565}",51.517099,-0.088456,optician,NaN,"{u'addr:housenumber': u'43', u'building': u'ye..."
12,155419714,"{u'lat': 51.5123573, u'lon': -0.0931077}",51.512357,-0.093108,photo_studio,NaN,"{u'building': u'yes', u'shop': u'photo_studio'..."
13,155419719,"{u'lat': 51.5123186, u'lon': -0.0929529}",51.512319,-0.092953,newsagent,NaN,"{u'shop': u'newsagent', u'source': u'Bing;phot..."
14,155421455,"{u'lat': 51.5116625, u'lon': -0.0912088}",51.511662,-0.091209,convenience,NaN,"{u'shop': u'convenience', u'name': u'Krystals ..."
15,155421456,"{u'lat': 51.5116629, u'lon': -0.0910011}",51.511663,-0.091001,hairdresser,NaN,"{u'shop': u'hairdresser', u'description': u'Ge..."
16,155421461,"{u'lat': 51.5116804, u'lon': -0.0912832}",51.511680,-0.091283,bookmaker,NaN,"{u'addr:housenumber': u'68-70', u'shop': u'boo..."
17,155421465,"{u'lat': 51.5118633, u'lon': -0.0918734}",51.511863,-0.091873,mobile_phone,NaN,"{u'shop': u'mobile_phone', u'name': u'3 Store'..."
18,155428064,"{u'lat': 51.5106588, u'lon': -0.0863171}",51.510659,-0.086317,chemist,NaN,"{u'addr:housenumber': u'55', u'shop': u'chemis..."
19,155428066,"{u'lat': 51.5116408, u'lon': -0.0849941}",51.511641,-0.084994,chemist,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."
20,155428069,"{u'lat': 51.511038, u'lon': -0.0893535}",51.511038,-0.089354,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'photograp..."
21,155428079,"{u'lat': 51.5104784, u'lon': -0.0864778}",51.510478,-0.086478,outdoor,NaN,"{u'shop': u'outdoor', u'name': u'Snow + Rock',..."
22,155428087,"{u'lat': 51.5105916, u'lon': -0.0854819}",51.510592,-0.085482,locksmith,NaN,"{u'shop': u'locksmith', u'amenity': u'locksmit..."
23,155428091,"{u'lat': 51.5115987, u'lon': -0.0909657}",51.511599,-0.090966,clothes,NaN,"{u'building': u'yes', u'shop': u'clothes', u'n..."
24,155430496,"{u'lat': 51.5127313, u'lon': -0.0842844}",51.512731,-0.084284,healthfood,NaN,"{u'shop': u'healthfood', u'source': u'photogra..."
25,155430497,"{u'lat': 51.5133151, u'lon': -0.0836855}",51.513315,-0.083685,bag,NaN,"{u'building': u'no', u'shop': u'bag', u'name':..."
26,155430499,"{u'lat': 51.5124402, u'lon': -0.0843953}",51.512440,-0.084395,clothes,NaN,"{u'shop': u'clothes', u'source': u'photograph;..."
27,155430502,"{u'lat': 51.5125372, u'lon': -0.0843736}",51.512537,-0.084374,hardware,NaN,"{u'shop': u'hardware', u'source': u'photograph..."
28,155906191,"{u'lat': 51.5134812, u'lon': -0.0764626}",51.513481,-0.076463,chemist,NaN,"{u'addr:housenumber': u'88', u'shop': u'chemis..."
29,156167656,"{u'lat': 51.514037, u'lon': -0.0929037}",51.514037,-0.092904,optician,NaN,"{u'shop': u'optician', u'source': u'photograph..."
30,156167670,"{u'lat': 51.5140062, u'lon': -0.0927333}",51.514006,-0.092733,mobile_phone,NaN,"{u'shop': u'mobile_phone', u'source': u'photog..."
31,156167671,"{u'lat': 51.5140834, u'lon': -0.0931318}",51.514083,-0.093132,perfume,NaN,"{u'addr:housenumber': u'102', u'shop': u'perfu..."
32,156720839,"{u'lat': 51.5102661, u'lon': -0.0827888}",51.510266,-0.082789,clothes,NaN,"{u'shop': u'clothes', u'source': u'photograph'..."
33,156720855,"{u'lat': 51.5096374, u'lon': -0.0811424}",51.509637,-0.081142,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'photograp..."
34,156731576,"{u'lat': 51.5129039, u'lon': -0.0784361}",51.512904,-0.078436,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'photograp..."
35,156778753,"{u'lat': 51.5153522, u'lon': -0.0784235}",51.515352,-0.078423,hairdresser,NaN,"{u'shop': u'hairdresser', u'source': u'photogr..."
36,159922580,"{u'lat': 51.5131509, u'lon': -0.0939581}",51.513151,-0.093958,bookmaker,NaN,"{u'shop': u'bookmaker', u'source': u'photograp..."
37,159922585,"{u'lat': 51.5130152, u'lon': -0.0942787}",51.513015,-0.094279,hairdresser,NaN,"{u'shop': u'hairdresser', u'source': u'photogr..."
38,159922592,"{u'lat': 51.5130293, u'lon': -0.0934584}",51.513029,-0.093458,shoes,NaN,"{u'addr:housenumber': u'71', u'building': u'ye..."
39,159922601,"{u'lat': 51.5131057, u'lon': -0.0937219}",51.513106,-0.093722,shoes,NaN,"{u'building': u'yes', u'shop': u'shoes', u'nam..."
40,159922602,"{u'lat': 51.5128023, u'lon': -0.0935387}",51.512802,-0.093539,hairdresser,NaN,"{u'building': u'yes', u'shop': u'hairdresser',..."
41,159922606,"{u'lat': 51.5130465, u'lon': -0.0937667}",51.513047,-0.093767,butcher,NaN,"{u'addr:housenumber': u'72', u'building': u'ye..."
42,159924464,"{u'lat': 51.5132088, u'lon': -0.0934637}",51.513209,-0.093464,clothes,NaN,"{u'addr:housenumber': u'43', u'building': u'ye..."
43,159924466,"{u'lat': 51.5132575, u'lon': -0.0934338}",51.513258,-0.093434,clothes,NaN,"{u'shop': u'clothes', u'source': u'photograph'..."
44,159924467,"{u'lat': 51.5131429, u'lon': -0.0934778}",51.513143,-0.093478,hairdresser,NaN,"{u'shop': u'hairdresser', u'source': u'photogr..."
45,159924471,"{u'lat': 51.5131429, u'lon': -0.0934778}",51.513143,-0.093478,hairdresser,NaN,"{u'addr:housenumber': u'41', u'building': u'ye..."
46,159925744,"{u'lat': 51.5132035, u'lon': -0.0937065}",51.513204,-0.093706,jewellery,NaN,"{u'shop': u'jewellery', u'source': u'photograp..."
47,159925746,"{u'lat': 51.5134081, u'lon': -0.0933581}",51.513408,-0.093358,shoes,NaN,"{u'building': u'yes', u'shop': u'shoes', u'sou..."
48,159925756,"{u'lat': 51.5133131, u'lon': -0.093632}",51.513313,-0.093632,stationery,NaN,"{u'building': u'yes', u'shop': u'stationery', ..."
49,160093284,"{u'lat': 51.5141062, u'lon': -0.0932632}",51.514106,-0.093263,chemist,NaN,"{u'shop': u'chemist', u'amenity': u'pharmacy',..."

In [34]:
df.to_csv('city_way_shop.csv')

In [27]:
tourism_ways = api.query("""[out:json];area[name="London"]->.a; way(area.a)["tourism"];out;""")

In [29]:
len(tourism_ways.ways)

945

In [35]:
with open('city_way_tourism.json') as json_data: 
    json_dic_data = json.load(json_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'center','lat','lon', 'amenity','tags','classification']
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,center,lat,lon,amenity,tags,classification
0,29390379,"{u'lat': 51.5122618, u'lon': -0.1046417}",NaN,NaN,NaN,"{u'addr:housenumber': u'19', u'building': u'ye...",NaN
1,30806422,"{u'lat': 51.5173757, u'lon': -0.081576}",NaN,NaN,NaN,"{u'addr:housenumber': u'40', u'building': u'ye...",NaN
2,32455185,"{u'lat': 51.5107326, u'lon': -0.0764683}",NaN,NaN,NaN,"{u'addr:housenumber': u'8-14', u'building': u'...",NaN
3,43706245,"{u'lat': 51.5149096, u'lon': -0.1081642}",NaN,NaN,NaN,"{u'addr:housenumber': u'17', u'building': u'ye...",NaN
4,82677869,"{u'lat': 51.5155995, u'lon': -0.077336}",NaN,NaN,NaN,"{u'building': u'yes', u'name': u'Travelodge Lo...",NaN
5,118722497,"{u'lat': 51.5132428, u'lon': -0.1010222}",NaN,NaN,NaN,"{u'building': u'yes', u'building:colour': u'li...",NaN
6,141393955,"{u'lat': 51.5109487, u'lon': -0.0783423}",NaN,NaN,NaN,"{u'addr:housenumber': u'7', u'building': u'yes...",NaN
7,143426675,"{u'lat': 51.5127677, u'lon': -0.0758632}",NaN,NaN,NaN,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
8,156172966,"{u'lat': 51.5155184, u'lon': -0.0914123}",NaN,NaN,NaN,"{u'building': u'yes', u'name': u'Guildhall Art...",NaN
9,159646583,"{u'lat': 51.5136965, u'lon': -0.0900747}",NaN,NaN,NaN,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
10,160140566,"{u'lat': 51.516, u'lon': -0.088183}",NaN,NaN,NaN,"{u'building': u'yes', u'source': u'Bing', u'na...",NaN
11,161288702,"{u'lat': 51.5109748, u'lon': -0.0892392}",NaN,NaN,NaN,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
12,161420186,"{u'lat': 51.5137253, u'lon': -0.1109253}",NaN,NaN,NaN,"{u'building': u'yes', u'website': u'http://www...",NaN
13,161420212,"{u'lat': 51.5135946, u'lon': -0.1103049}",NaN,NaN,NaN,"{u'building': u'yes', u'website': u'http://www...",NaN
14,166769128,"{u'lat': 51.513335, u'lon': -0.0879669}",NaN,NaN,NaN,"{u'building': u'air_shaft', u'source': u'Bing'...",NaN
15,168325260,"{u'lat': 51.5126698, u'lon': -0.0752245}",NaN,NaN,NaN,"{u'building': u'yes', u'building:levels': u'12...",NaN
16,172664019,"{u'lat': 51.5126807, u'lon': -0.0997202}",NaN,NaN,NaN,"{u'addr:housenumber': u'10', u'building': u'ye...",NaN
17,225107436,"{u'lat': 51.5110227, u'lon': -0.0735352}",NaN,NaN,NaN,"{u'addr:housenumber': u'1', u'building': u'hot...",NaN
18,256568922,"{u'lat': 51.513467, u'lon': -0.0884174}",NaN,NaN,NaN,"{u'building': u'yes', u'name': u'Duke of Welli...",NaN
19,256570706,"{u'lat': 51.5135079, u'lon': -0.0880568}",NaN,NaN,NaN,"{u'building': u'yes', u'name': u'London Troops...",NaN
20,274709746,"{u'lat': 51.5139532, u'lon': -0.0853631}",NaN,NaN,NaN,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
21,435775218,"{u'lat': 51.5105757, u'lon': -0.0773292}",NaN,NaN,NaN,"{u'building': u'yes', u'name': u'Novotel Londo...",NaN
22,29390379,NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'19', u'building': u'ye...",NaN
23,30806422,NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'40', u'building': u'ye...",NaN
24,32455185,NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'8-14', u'building': u'...",NaN
25,43706245,NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'17', u'building': u'ye...",NaN
26,82677869,NaN,NaN,NaN,NaN,"{u'building': u'yes', u'name': u'Travelodge Lo...",NaN
27,118722497,NaN,NaN,NaN,NaN,"{u'building': u'yes', u'building:colour': u'li...",NaN
28,141393955,NaN,NaN,NaN,NaN,"{u'addr:housenumber': u'7', u'building': u'yes...",NaN
29,143426675,NaN,NaN,NaN,NaN,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
...,...,...,...,...,...,...,...
321,2339296942,NaN,51.511055,-0.074026,NaN,NaN,NaN
322,2339296943,NaN,51.511059,-0.074065,NaN,NaN,NaN
323,2339296944,NaN,51.511059,-0.074081,NaN,NaN,NaN
324,2339296945,NaN,51.511071,-0.073951,NaN,NaN,NaN
325,2339296946,NaN,51.511071,-0.073079,NaN,NaN,NaN
326,2339296947,NaN,51.511074,-0.072964,NaN,NaN,NaN
327,2339296948,NaN,51.511089,-0.073080,NaN,NaN,NaN
328,3314730029,NaN,51.510701,-0.076808,NaN,NaN,NaN
329,3314730036,NaN,51.510874,-0.076522,NaN,NaN,NaN
330,3314730040,NaN,51.510911,-0.076080,NaN,NaN,NaN
331,3314730041,NaN,51.510928,-0.076533,NaN,NaN,NaN
332,4336708530,NaN,51.510540,-0.077380,NaN,NaN,NaN
333,4336708531,NaN,51.510595,-0.077272,NaN,NaN,NaN
334,4336708532,NaN,51.510483,-0.077208,NaN,NaN,NaN
335,4336708533,NaN,51.510470,-0.077366,NaN,NaN,NaN
336,4336708534,NaN,51.510444,-0.077162,NaN,NaN,NaN
337,4336708536,NaN,51.510587,-0.077366,NaN,NaN,NaN
338,4336708538,NaN,51.510465,-0.077452,NaN,NaN,NaN
339,4336708539,NaN,51.510422,-0.077444,NaN,NaN,NaN
340,4336708540,NaN,51.510488,-0.077168,NaN,NaN,NaN
341,4336708541,NaN,51.510563,-0.077227,NaN,NaN,NaN
342,299521073,NaN,51.515796,-0.077597,NaN,NaN,NaN
343,377494063,NaN,51.515428,-0.077101,NaN,NaN,NaN
344,962270972,NaN,51.515737,-0.077676,NaN,NaN,NaN
345,962270974,NaN,51.515768,-0.077636,NaN,NaN,NaN
346,962270979,NaN,51.515492,-0.076996,NaN,NaN,NaN
347,962270982,NaN,51.515403,-0.077141,NaN,NaN,NaN
348,962273307,NaN,51.515440,-0.077081,NaN,NaN,NaN
349,2918365199,NaN,51.515485,-0.077006,NaN,NaN,NaN
350,2918365401,NaN,51.515528,-0.077357,NaN,NaN,NaN

In [36]:
length_list = 40

for i in range(length_list): 
    new1 = json_list_data[i]['center']['lat']
    new2 = json_list_data[i]['center']['lon']
    new3 = json_list_data[i]['tags']['tourism']
    df['lat'][i] = new1
    df['lon'][i] = new2
    df['amenity'][i] = new3
    
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

KeyError: 'center'

In [37]:
df[:21]

,id,center,lat,lon,amenity,tags,classification
0,29390379,"{u'lat': 51.5122618, u'lon': -0.1046417}",51.512262,-0.104642,hotel,"{u'addr:housenumber': u'19', u'building': u'ye...",NaN
1,30806422,"{u'lat': 51.5173757, u'lon': -0.081576}",51.517376,-0.081576,hotel,"{u'addr:housenumber': u'40', u'building': u'ye...",NaN
2,32455185,"{u'lat': 51.5107326, u'lon': -0.0764683}",51.510733,-0.076468,hotel,"{u'addr:housenumber': u'8-14', u'building': u'...",NaN
3,43706245,"{u'lat': 51.5149096, u'lon': -0.1081642}",51.514910,-0.108164,museum,"{u'addr:housenumber': u'17', u'building': u'ye...",NaN
4,82677869,"{u'lat': 51.5155995, u'lon': -0.077336}",51.515600,-0.077336,hotel,"{u'building': u'yes', u'name': u'Travelodge Lo...",NaN
5,118722497,"{u'lat': 51.5132428, u'lon': -0.1010222}",51.513243,-0.101022,hotel,"{u'building': u'yes', u'building:colour': u'li...",NaN
6,141393955,"{u'lat': 51.5109487, u'lon': -0.0783423}",51.510949,-0.078342,hotel,"{u'addr:housenumber': u'7', u'building': u'yes...",NaN
7,143426675,"{u'lat': 51.5127677, u'lon': -0.0758632}",51.512768,-0.075863,hotel,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
8,156172966,"{u'lat': 51.5155184, u'lon': -0.0914123}",51.515518,-0.091412,museum,"{u'building': u'yes', u'name': u'Guildhall Art...",NaN
9,159646583,"{u'lat': 51.5136965, u'lon': -0.0900747}",51.513697,-0.090075,hotel,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
10,160140566,"{u'lat': 51.516, u'lon': -0.088183}",51.516000,-0.088183,hotel,"{u'building': u'yes', u'source': u'Bing', u'na...",NaN
11,161288702,"{u'lat': 51.5109748, u'lon': -0.0892392}",51.510975,-0.089239,hotel,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN
12,161420186,"{u'lat': 51.5137253, u'lon': -0.1109253}",51.513725,-0.110925,museum,"{u'building': u'yes', u'website': u'http://www...",NaN
13,161420212,"{u'lat': 51.5135946, u'lon': -0.1103049}",51.513595,-0.110305,hotel,"{u'building': u'yes', u'website': u'http://www...",NaN
14,166769128,"{u'lat': 51.513335, u'lon': -0.0879669}",51.513335,-0.087967,artwork,"{u'building': u'air_shaft', u'source': u'Bing'...",NaN
15,168325260,"{u'lat': 51.5126698, u'lon': -0.0752245}",51.512670,-0.075224,hotel,"{u'building': u'yes', u'building:levels': u'12...",NaN
16,172664019,"{u'lat': 51.5126807, u'lon': -0.0997202}",51.512681,-0.099720,hotel,"{u'addr:housenumber': u'10', u'building': u'ye...",NaN
17,225107436,"{u'lat': 51.5110227, u'lon': -0.0735352}",51.511023,-0.073535,hotel,"{u'addr:housenumber': u'1', u'building': u'hot...",NaN
18,256568922,"{u'lat': 51.513467, u'lon': -0.0884174}",51.513467,-0.088417,artwork,"{u'building': u'yes', u'name': u'Duke of Welli...",NaN
19,256570706,"{u'lat': 51.5135079, u'lon': -0.0880568}",51.513508,-0.088057,artwork,"{u'building': u'yes', u'name': u'London Troops...",NaN
20,274709746,"{u'lat': 51.5139532, u'lon': -0.0853631}",51.513953,-0.085363,hotel,"{u'building': u'yes', u'tourism': u'hotel', u'...",NaN

In [38]:
df.to_csv('city_way_tourism.csv')

In [52]:
leisure_ways = api.query("""[out:json];area[name="London"]->.a; way(area.a)["leisure"];out;""")

In [39]:
with open('city_way_leisure.json') as json_data: 
    json_dic_data = json.load(json_data)
    
json_list_data = json_dic_data['elements']

labels = ['id', 'center','lat','lon', 'amenity','classification', 'tags']
df = pd.DataFrame.from_records(json_list_data, columns = labels)
df

,id,center,lat,lon,amenity,classification,tags
0,4270739,"{u'lat': 51.5194993, u'lon': -0.0956175}",NaN,NaN,NaN,NaN,"{u'access': u'private', u'leisure': u'park', u..."
1,4270744,"{u'lat': 51.5213423, u'lon': -0.0962222}",NaN,NaN,NaN,NaN,"{u'access': u'private', u'name': u'Fann Street..."
2,4969746,"{u'lat': 51.5118455, u'lon': -0.1095724}",NaN,NaN,NaN,NaN,"{u'access': u'permissive', u'name': u'Inner Te..."
3,23105395,"{u'lat': 51.5178132, u'lon': -0.0864543}",NaN,NaN,NaN,NaN,"{u'access': u'private', u'leisure': u'park'}"
4,23992321,"{u'lat': 51.5184149, u'lon': -0.1011278}",NaN,NaN,NaN,NaN,{u'leisure': u'park'}
5,27919354,"{u'lat': 51.5177371, u'lon': -0.0860082}",NaN,NaN,NaN,NaN,"{u'leisure': u'garden', u'area': u'yes'}"
6,29089421,"{u'lat': 51.5117977, u'lon': -0.0953741}",NaN,NaN,NaN,NaN,"{u'name': u'Cleary Gardens', u'leisure': u'gar..."
7,29089423,"{u'lat': 51.5130712, u'lon': -0.0960123}",NaN,NaN,NaN,NaN,"{u'name': u'25 Cannon Street Gardens', u'leisu..."
8,29206501,"{u'lat': 51.5161801, u'lon': -0.1098396}",NaN,NaN,NaN,NaN,"{u'note': u'Former graveyard.', u'leisure': u'..."
9,30313502,"{u'lat': 51.517422, u'lon': -0.1070642}",NaN,NaN,NaN,NaN,{u'leisure': u'park'}
10,30610284,"{u'lat': 51.5178465, u'lon': -0.1070182}",NaN,NaN,NaN,NaN,{u'leisure': u'park'}
11,34038680,"{u'lat': 51.5192243, u'lon': -0.0917277}",NaN,NaN,NaN,NaN,"{u'access': u'private', u'leisure': u'park'}"
12,34038686,"{u'lat': 51.5205095, u'lon': -0.0953279}",NaN,NaN,NaN,NaN,"{u'layer': u'1', u'name': u'Beech Gardens', u'..."
13,40498332,"{u'lat': 51.5131786, u'lon': -0.1023972}",NaN,NaN,NaN,NaN,{u'name': u'Churchyard of St. Ann Blackfriars'...
14,49775883,"{u'lat': 51.5175276, u'lon': -0.0890339}",NaN,NaN,NaN,NaN,{u'leisure': u'park'}
15,49780449,"{u'lat': 51.5130026, u'lon': -0.0981341}",NaN,NaN,NaN,NaN,"{u'name:ko': u'카터 레인 정원', u'name': u'Carter La..."
16,55421655,"{u'lat': 51.5099314, u'lon': -0.0755602}",NaN,NaN,NaN,NaN,"{u'name': u'Tower Hill Garden', u'leisure': u'..."
17,60206800,"{u'lat': 51.5134207, u'lon': -0.099007}",NaN,NaN,NaN,NaN,"{u'source': u'OS OpenData StreetView', u'leisu..."
18,74156797,"{u'lat': 51.5134839, u'lon': -0.1063144}",NaN,NaN,NaN,NaN,{u'note': u'Only a small open space in the mid...
19,90784595,"{u'lat': 51.5136665, u'lon': -0.097544}",NaN,NaN,NaN,NaN,"{u'name:ko': u'세인트 폴 대성당 구내', u'name': u'St Pa..."
20,111348808,"{u'lat': 51.5112338, u'lon': -0.1051038}",NaN,NaN,NaN,NaN,"{u'source': u'Bing', u'leisure': u'garden'}"
21,111354106,"{u'lat': 51.5129836, u'lon': -0.0978299}",NaN,NaN,NaN,NaN,"{u'source': u'Bing;local knowledge', u'leisure..."
22,115675615,"{u'lat': 51.5155331, u'lon': -0.0864728}",NaN,NaN,NaN,NaN,"{u'leisure': u'park', u'designation': u'Draper..."
23,116405293,"{u'lat': 51.5160961, u'lon': -0.0956316}",NaN,NaN,NaN,NaN,{u'leisure': u'park'}
24,116405294,"{u'lat': 51.5163833, u'lon': -0.0961138}",NaN,NaN,NaN,NaN,{u'leisure': u'park'}
25,128200292,"{u'lat': 51.5117666, u'lon': -0.1113238}",NaN,NaN,NaN,NaN,"{u'name': u'Middle Temple Garden', u'barrier':..."
26,128459713,"{u'lat': 51.5126444, u'lon': -0.1106552}",NaN,NaN,NaN,NaN,"{u'access': u'permissive', u'name': u'Elm Cour..."
27,141671238,"{u'lat': 51.5121625, u'lon': -0.0816559}",NaN,NaN,NaN,NaN,{u'note': u'There's no actual church here anym...
28,156190533,"{u'lat': 51.5180629, u'lon': -0.095004}",NaN,NaN,NaN,NaN,"{u'source': u'Bing;photographic_survey', u'lei..."
29,156197590,"{u'lat': 51.5179568, u'lon': -0.0925788}",NaN,NaN,NaN,NaN,"{u'foot': u'yes', u'operator': u'City of Londo..."
...,...,...,...,...,...,...,...
1381,4538716116,NaN,51.511622,-0.074725,NaN,NaN,NaN
1382,4538716117,NaN,51.511632,-0.074623,NaN,NaN,NaN
1383,4538716118,NaN,51.511654,-0.074379,NaN,NaN,NaN
1384,2140124999,NaN,51.515883,-0.076961,NaN,NaN,NaN
1385,2140125007,NaN,51.515938,-0.076886,NaN,NaN,NaN
1386,2140125010,NaN,51.515946,-0.077079,NaN,NaN,NaN
1387,2140125024,NaN,51.516001,-0.077003,NaN,NaN,NaN
1388,3068270481,NaN,51.516068,-0.078347,NaN,NaN,NaN
1389,3068270482,NaN,51.515977,-0.078169,NaN,NaN,NaN
1390,3068270483,NaN,51.515897,-0.078004,NaN,NaN,NaN
1391,3068270484,NaN,51.515823,-0.078007,NaN,NaN,NaN
1392,3068270485,NaN,51.515895,-0.078137,NaN,NaN,NaN
1393,3068270486,NaN,51.516034,-0.078387,NaN,NaN,NaN
1394,3186593723,NaN,51.516864,-0.078586,NaN,NaN,NaN
1395,3186593724,NaN,51.516853,-0.078544,NaN,NaN,NaN
1396,3186593725,NaN,51.516826,-0.078563,NaN,NaN,NaN
1397,3186593726,NaN,51.516837,-0.078605,NaN,NaN,NaN
1398,3220254045,NaN,51.514591,-0.078328,NaN,NaN,NaN
1399,4422007941,NaN,51.515415,-0.076955,NaN,NaN,NaN
1400,4422007942,NaN,51.515390,-0.076934,NaN,NaN,NaN
1401,4422007943,NaN,51.515403,-0.076889,NaN,NaN,NaN
1402,4422007944,NaN,51.515430,-0.076912,NaN,NaN,NaN
1403,4422007945,NaN,51.515362,-0.076873,NaN,NaN,NaN
1404,4422007946,NaN,51.515337,-0.076852,NaN,NaN,NaN
1405,4422007947,NaN,51.515350,-0.076808,NaN,NaN,NaN
1406,4422007948,NaN,51.515377,-0.076831,NaN,NaN,NaN
1407,4422007949,NaN,51.515295,-0.076765,NaN,NaN,NaN
1408,4422007950,NaN,51.515269,-0.076744,NaN,NaN,NaN
1409,4422007951,NaN,51.515282,-0.076700,NaN,NaN,NaN
1410,4422007952,NaN,51.515309,-0.076723,NaN,NaN,NaN

In [41]:
length_list = 50

for i in range(length_list): 
    new1 = json_list_data[i]['center']['lat']
    new2 = json_list_data[i]['center']['lon']
    new3 = json_list_data[i]['tags']['leisure']
    df['lat'][i] = new1
    df['lon'][i] = new2
    df['amenity'][i] = new3
    
    print i

/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mercedeslanda/Applications/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [42]:
df

,id,center,lat,lon,amenity,classification,tags
0,4270739,"{u'lat': 51.5194993, u'lon': -0.0956175}",51.519499,-0.095617,park,NaN,"{u'access': u'private', u'leisure': u'park', u..."
1,4270744,"{u'lat': 51.5213423, u'lon': -0.0962222}",51.521342,-0.096222,park,NaN,"{u'access': u'private', u'name': u'Fann Street..."
2,4969746,"{u'lat': 51.5118455, u'lon': -0.1095724}",51.511845,-0.109572,garden,NaN,"{u'access': u'permissive', u'name': u'Inner Te..."
3,23105395,"{u'lat': 51.5178132, u'lon': -0.0864543}",51.517813,-0.086454,park,NaN,"{u'access': u'private', u'leisure': u'park'}"
4,23992321,"{u'lat': 51.5184149, u'lon': -0.1011278}",51.518415,-0.101128,park,NaN,{u'leisure': u'park'}
5,27919354,"{u'lat': 51.5177371, u'lon': -0.0860082}",51.517737,-0.086008,garden,NaN,"{u'leisure': u'garden', u'area': u'yes'}"
6,29089421,"{u'lat': 51.5117977, u'lon': -0.0953741}",51.511798,-0.095374,garden,NaN,"{u'name': u'Cleary Gardens', u'leisure': u'gar..."
7,29089423,"{u'lat': 51.5130712, u'lon': -0.0960123}",51.513071,-0.096012,garden,NaN,"{u'name': u'25 Cannon Street Gardens', u'leisu..."
8,29206501,"{u'lat': 51.5161801, u'lon': -0.1098396}",51.516180,-0.109840,garden,NaN,"{u'note': u'Former graveyard.', u'leisure': u'..."
9,30313502,"{u'lat': 51.517422, u'lon': -0.1070642}",51.517422,-0.107064,park,NaN,{u'leisure': u'park'}
10,30610284,"{u'lat': 51.5178465, u'lon': -0.1070182}",51.517846,-0.107018,park,NaN,{u'leisure': u'park'}
11,34038680,"{u'lat': 51.5192243, u'lon': -0.0917277}",51.519224,-0.091728,park,NaN,"{u'access': u'private', u'leisure': u'park'}"
12,34038686,"{u'lat': 51.5205095, u'lon': -0.0953279}",51.520510,-0.095328,garden,NaN,"{u'layer': u'1', u'name': u'Beech Gardens', u'..."
13,40498332,"{u'lat': 51.5131786, u'lon': -0.1023972}",51.513179,-0.102397,park,NaN,{u'name': u'Churchyard of St. Ann Blackfriars'...
14,49775883,"{u'lat': 51.5175276, u'lon': -0.0890339}",51.517528,-0.089034,park,NaN,{u'leisure': u'park'}
15,49780449,"{u'lat': 51.5130026, u'lon': -0.0981341}",51.513003,-0.098134,park,NaN,"{u'name:ko': u'카터 레인 정원', u'name': u'Carter La..."
16,55421655,"{u'lat': 51.5099314, u'lon': -0.0755602}",51.509931,-0.075560,park,NaN,"{u'name': u'Tower Hill Garden', u'leisure': u'..."
17,60206800,"{u'lat': 51.5134207, u'lon': -0.099007}",51.513421,-0.099007,garden,NaN,"{u'source': u'OS OpenData StreetView', u'leisu..."
18,74156797,"{u'lat': 51.5134839, u'lon': -0.1063144}",51.513484,-0.106314,park,NaN,{u'note': u'Only a small open space in the mid...
19,90784595,"{u'lat': 51.5136665, u'lon': -0.097544}",51.513666,-0.097544,garden,NaN,"{u'name:ko': u'세인트 폴 대성당 구내', u'name': u'St Pa..."
20,111348808,"{u'lat': 51.5112338, u'lon': -0.1051038}",51.511234,-0.105104,garden,NaN,"{u'source': u'Bing', u'leisure': u'garden'}"
21,111354106,"{u'lat': 51.5129836, u'lon': -0.0978299}",51.512984,-0.097830,garden,NaN,"{u'source': u'Bing;local knowledge', u'leisure..."
22,115675615,"{u'lat': 51.5155331, u'lon': -0.0864728}",51.515533,-0.086473,park,NaN,"{u'leisure': u'park', u'designation': u'Draper..."
23,116405293,"{u'lat': 51.5160961, u'lon': -0.0956316}",51.516096,-0.095632,park,NaN,{u'leisure': u'park'}
24,116405294,"{u'lat': 51.5163833, u'lon': -0.0961138}",51.516383,-0.096114,park,NaN,{u'leisure': u'park'}
25,128200292,"{u'lat': 51.5117666, u'lon': -0.1113238}",51.511767,-0.111324,garden,NaN,"{u'name': u'Middle Temple Garden', u'barrier':..."
26,128459713,"{u'lat': 51.5126444, u'lon': -0.1106552}",51.512644,-0.110655,garden,NaN,"{u'access': u'permissive', u'name': u'Elm Cour..."
27,141671238,"{u'lat': 51.5121625, u'lon': -0.0816559}",51.512163,-0.081656,garden,NaN,{u'note': u'There's no actual church here anym...
28,156190533,"{u'lat': 51.5180629, u'lon': -0.095004}",51.518063,-0.095004,garden,NaN,"{u'source': u'Bing;photographic_survey', u'lei..."
29,156197590,"{u'lat': 51.5179568, u'lon': -0.0925788}",51.517957,-0.092579,garden,NaN,"{u'foot': u'yes', u'operator': u'City of Londo..."
...,...,...,...,...,...,...,...
1381,4538716116,NaN,51.511622,-0.074725,NaN,NaN,NaN
1382,4538716117,NaN,51.511632,-0.074623,NaN,NaN,NaN
1383,4538716118,NaN,51.511654,-0.074379,NaN,NaN,NaN
1384,2140124999,NaN,51.515883,-0.076961,NaN,NaN,NaN
1385,2140125007,NaN,51.515938,-0.076886,NaN,NaN,NaN
1386,2140125010,NaN,51.515946,-0.077079,NaN,NaN,NaN
1387,2140125024,NaN,51.516001,-0.077003,NaN,NaN,NaN
1388,3068270481,NaN,51.516068,-0.078347,NaN,NaN,NaN
1389,3068270482,NaN,51.515977,-0.078169,NaN,NaN,NaN
1390,3068270483,NaN,51.515897,-0.078004,NaN,NaN,NaN
1391,3068270484,NaN,51.515823,-0.078007,NaN,NaN,NaN
1392,3068270485,NaN,51.515895,-0.078137,NaN,NaN,NaN
1393,3068270486,NaN,51.516034,-0.078387,NaN,NaN,NaN
1394,3186593723,NaN,51.516864,-0.078586,NaN,NaN,NaN
1395,3186593724,NaN,51.516853,-0.078544,NaN,NaN,NaN
1396,3186593725,NaN,51.516826,-0.078563,NaN,NaN,NaN
1397,3186593726,NaN,51.516837,-0.078605,NaN,NaN,NaN
1398,3220254045,NaN,51.514591,-0.078328,NaN,NaN,NaN
1399,4422007941,NaN,51.515415,-0.076955,NaN,NaN,NaN
1400,4422007942,NaN,51.515390,-0.076934,NaN,NaN,NaN
1401,4422007943,NaN,51.515403,-0.076889,NaN,NaN,NaN
1402,4422007944,NaN,51.515430,-0.076912,NaN,NaN,NaN
1403,4422007945,NaN,51.515362,-0.076873,NaN,NaN,NaN
1404,4422007946,NaN,51.515337,-0.076852,NaN,NaN,NaN
1405,4422007947,NaN,51.515350,-0.076808,NaN,NaN,NaN
1406,4422007948,NaN,51.515377,-0.076831,NaN,NaN,NaN
1407,4422007949,NaN,51.515295,-0.076765,NaN,NaN,NaN
1408,4422007950,NaN,51.515269,-0.076744,NaN,NaN,NaN
1409,4422007951,NaN,51.515282,-0.076700,NaN,NaN,NaN
1410,4422007952,NaN,51.515309,-0.076723,NaN,NaN,NaN

In [55]:
df[:len(leisure_ways.ways)]

,id,center,lat,lon,amenity,classification,tags
0,2534762,"{u'lat': 51.3553314, u'lon': -0.142587}",51.355331,-0.142587,pitch,NaN,"{u'sport': u'cricket', u'leisure': u'pitch', u..."
1,2838058,"{u'lat': 51.6647854, u'lon': -0.0909083}",51.664785,-0.090908,park,NaN,{u'leisure': u'park'}
2,2903046,"{u'lat': 51.6672305, u'lon': -0.0786957}",51.667231,-0.078696,park,NaN,{u'leisure': u'park'}
3,2903368,"{u'lat': 51.6625095, u'lon': -0.0861302}",51.662509,-0.086130,park,NaN,{u'leisure': u'park'}
4,2903369,"{u'lat': 51.6612673, u'lon': -0.081628}",51.661267,-0.081628,park,NaN,"{u'leisure': u'park', u'created_by': u'Potlatc..."
5,2903398,"{u'lat': 51.6487967, u'lon': -0.0681805}",51.648797,-0.068181,park,NaN,"{u'name': u'Bush Hill Park', u'leisure': u'park'}"
6,2914274,"{u'lat': 51.5974717, u'lon': -0.1938597}",51.597472,-0.193860,park,NaN,"{u'wikipedia': u'en:Avenue House Grounds', u'n..."
7,2926821,"{u'lat': 51.6412092, u'lon': -0.1205715}",51.641209,-0.120571,park,NaN,"{u'name': u'Oakwood Park', u'leisure': u'park'}"
8,2939009,"{u'lat': 51.6492745, u'lon': -0.0863456}",51.649274,-0.086346,park,NaN,{u'leisure': u'park'}
9,2939140,"{u'lat': 51.6526132, u'lon': -0.1702798}",51.652613,-0.170280,park,NaN,"{u'name': u'Victoria Park', u'leisure': u'park'}"
10,2953350,"{u'lat': 51.5956972, u'lon': -0.2294052}",51.595697,-0.229405,park,NaN,"{u'wikipedia': u'en:Sunny Hill Park', u'alt_na..."
11,2954253,"{u'lat': 51.6384289, u'lon': -0.1537009}",51.638429,-0.153701,park,NaN,"{u'alt_name': u'Oakhill Park', u'leisure': u'p..."
12,2955990,"{u'lat': 51.6268709, u'lon': -0.1823357}",51.626871,-0.182336,park,NaN,"{u'name': u'Whetstone Stray', u'leisure': u'pa..."
13,2956123,"{u'lat': 51.4358835, u'lon': -0.0080297}",51.435884,-0.008030,pitch,NaN,"{u'sport': u'bowls', u'name': u'Bowling Club',..."
14,2956125,"{u'lat': 51.4344718, u'lon': -0.0063073}",51.434472,-0.006307,park,NaN,"{u'leisure': u'park', u'created_by': u'JOSM'}"
15,2956783,"{u'lat': 51.4531221, u'lon': -0.0132006}",51.453122,-0.013201,park,NaN,{u'leisure': u'park'}
16,3178749,"{u'lat': 51.5158996, u'lon': -0.1734133}",51.515900,-0.173413,park,NaN,"{u'source:name': u'survey', u'name': u'Norfolk..."
17,3241371,"{u'lat': 51.5216943, u'lon': -0.126069}",51.521694,-0.126069,park,NaN,"{u'name': u'Russell Square', u'barrier': u'fen..."
18,3241840,"{u'lat': 51.5250414, u'lon': -0.1290244}",51.525041,-0.129024,park,NaN,"{u'name': u'Tavistock Square', u'barrier': u'f..."
19,3322449,"{u'lat': 51.4682574, u'lon': -0.3204209}",51.468257,-0.320421,nature_reserve,NaN,"{u'source': u'PGS + Yahoo', u'place': u'island..."
20,3385169,"{u'lat': 51.4507877, u'lon': -0.4111599}",51.450788,-0.411160,park,NaN,"{u'name': u'Feltham Park', u'leisure': u'park'}"
21,3400436,"{u'lat': 51.6187503, u'lon': -0.1624319}",51.618750,-0.162432,park,NaN,"{u'wikipedia': u'en:Friary Park', u'leisure': ..."
22,3401837,"{u'lat': 51.4208938, u'lon': -0.3848714}",51.420894,-0.384871,park,NaN,"{u'name': u'Hatherop Park', u'fire': u'no', u'..."
23,3430579,"{u'lat': 51.4209803, u'lon': -0.3676262}",51.420980,-0.367626,park,NaN,"{u'name': u'Carlisle Park', u'leisure': u'park'}"
24,3541791,"{u'lat': 51.4069397, u'lon': -0.3432559}",51.406940,-0.343256,common,NaN,{u'leisure': u'common'}
25,3595906,"{u'lat': 51.4534389, u'lon': -0.215437}",51.453439,-0.215437,park,NaN,{u'leisure': u'park'}
26,3664747,"{u'lat': 51.6535159, u'lon': -0.0418287}",51.653516,-0.041829,park,NaN,"{u'name': u'Durants Park', u'leisure': u'park'}"
27,3667185,"{u'lat': 51.4623149, u'lon': -0.2041321}",51.462315,-0.204132,park,NaN,"{u'wikipedia': u'en:Wandsworth Park', u'name':..."
28,3678121,"{u'lat': 51.4558684, u'lon': -0.2292115}",51.455868,-0.229212,garden,NaN,"{u'leisure': u'garden', u'created_by': u'JOSM'}"
29,3687942,"{u'lat': 51.4572048, u'lon': -0.2362618}",51.457205,-0.236262,common,NaN,{u'leisure': u'common'}
...,...,...,...,...,...,...,...
12236,490911654,"{u'lat': 51.4999329, u'lon': 0.1144146}",51.499933,0.114415,park,NaN,"{u'name': u'Birchmere Park', u'leisure': u'park'}"
12237,491088335,"{u'lat': 51.4239917, u'lon': -0.3528099}",51.423992,-0.352810,pitch,NaN,"{u'sport': u'tennis', u'leisure': u'pitch'}"
12238,491166164,"{u'lat': 51.4919978, u'lon': 0.0500574}",51.491998,0.050057,playground,NaN,{u'leisure': u'playground'}
12239,491304501,"{u'lat': 51.5391314, u'lon': -0.0723523}",51.539131,-0.072352,playground,NaN,{u'leisure': u'playground'}
12240,491533940,"{u'lat': 51.4056256, u'lon': -0.2227052}",51.405626,-0.222705,sports_centre,NaN,"{u'building': u'no', u'name': u'David Lloyd Ra..."
12241,491592931,"{u'lat': 51.5784983, u'lon': -0.427921}",51.578498,-0.427921,park,NaN,"{u'name': u'Manor Farm', u'leisure': u'park'}"
12242,491600817,"{u'lat': 51.4829914, u'lon': -0.2123388}",51.482991,-0.212339,park,NaN,{u'description': u'Gardens with trees and gras...
12243,491619624,"{u'lat': 51.5921486, u'lon': -0.2622098}",51.592149,-0.262210,park,NaN,"{u'name:en': u'Grove Park', u'landuse': u'mead..."
12244,491619866,"{u'lat': 51.5916151, u'lon': -0.2621296}",51.591615,-0.262130,park,NaN,"{u'landuse': u'recreation_ground', u'leisure':..."
12245,491802250,"{u'lat': 51.5441934, u'lon': 0.0042499}",51.544193,0.004250,garden,NaN,"{u'access': u'private', u'garden:type': u'mona..."
12246,491827999,"{u'lat': 51.5219083, u'lon': -0.1518082}",51.521908,-0.151808,garden,NaN,"{u'access': u'public', u'leisure': u'garden'}"
12247,492152796,"{u'lat': 51.4691551, u'lon': -0.220026}",51.469155,-0.220026,sports_centre,NaN,"{u'building': u'yes', u'sport': u'rowing', u'n..."
12248,492568978,"{u'lat': 51.5458505, u'lon': 0.0029981}",51.545851,0.002998,park,NaN,{u'leisure': u'park'}
12249,492653998,"{u'lat': 51.6064823, u'lon': 0.1821288}",51.606482,0.182129,pitch,NaN,"{u'sport': u'soccer', u'leisure': u'pitch'}"
12250,492655666,"{u'lat': 51.6220517, u'lon': -0.0467487}",51.622052,-0.046749,park,NaN,{u'leisure': u'park'}
12251,492774802,"{u'lat': 51.4892007, u'lon': -0.0841888}",51.489201,-0.084189,playground,NaN,{u'leisure': u'playground'}
12252,492859642,"{u'lat': 51.4752761, u'lon': 0.0402571}",51.475276,0.040257,swimming_pool,NaN,{u'leisure': u'swimming_pool'}
12253,492862614,"{u'lat': 51.4797947, u'lon': 0.0542296}",51.479795,0.054230,pitch,NaN,"{u'sport': u'equestrian', u'leisure': u'pitch'}"
12254,493000594,"{u'lat': 51.5023434, u'lon': -0.3257604}",51.502343,-0.325760,park,NaN,"{u'name': u'April Cottages', u'leisure': u'park'}"
12255,493001390,"{u'lat': 51.5002858, u'lon': -0.3197556}",51.500286,-0.319756,park,NaN,"{u'name': u'Fielding Walk', u'leisure': u'park'}"
12256,493001391,"{u'lat': 51.4993173, u'lon': -0.3268591}",51.499317,-0.326859,park,NaN,{u'leisure': u'park'}
12257,493026401,"{u'lat': 51.4996931, u'lon': -0.0454259}",51.499693,-0.045426,garden,NaN,"{u'access': u'private', u'name': u'Wolfe Cresc..."
12258,493033758,"{u'lat': 51.4896848, u'lon': -0.1126604}",51.489685,-0.112660,park,NaN,{u'leisure': u'park'}
12259,493045044,"{u'lat': 51.4332488, u'lon': -0.1459957}",51.433249,-0.145996,pitch,NaN,"{u'access': u'customers', u'website': u'http:/..."
12260,493216253,"{u'lat': 51.3521658, u'lon': -0.0798775}",51.352166,-0.079878,park,NaN,"{u'name': u'Croham Hurst', u'leisure': u'park'}"
12261,493339932,"{u'lat': 51.3345047, u'lon': -0.137418}",51.334505,-0.137418,park,NaN,"{u'name': u'Woodcote Village Green', u'leisure..."
12262,493346025,"{u'lat': 51.4661078, u'lon': 0.021115}",51.466108,0.021115,pitch,NaN,"{u'name': u'Abandoned sport pitch', u'leisure'..."
12263,493346028,"{u'lat': 51.4666264, u'lon': 0.02434}",51.466626,0.024340,pitch,NaN,{u'leisure': u'pitch'}
12264,493346029,"{u'lat': 51.4660613, u'lon': 0.0233772}",51.466061,0.023377,pitch,NaN,{u'leisure': u'pitch'}
12265,493346030,"{u'lat': 51.4671557, u'lon': 0.0236434}",51.467156,0.023643,pitch,NaN,{u'leisure': u'pitch'}

In [43]:
df.to_csv('city_way_leisure.csv')

In [11]:
len(amenity_ways.ways) + len(shop_ways.ways) + len(tourism_ways.ways) + len(leisure_ways.ways)

43790

## Import CSVs and concatenate

In [44]:
a = pd.read_csv("city_node_amenity.csv")
b = pd.read_csv("city_node_shop.csv")
e = pd.concat([a, b], join = 'inner')

In [45]:
c = pd.read_csv("city_node_tourism.csv")
d = pd.read_csv("city_node_leisure.csv")
f = pd.concat([c, d], join = 'inner')

In [46]:
g = pd.concat([e,f], join = 'inner')

In [47]:
g

            id        lat       lon         amenity             type
0     21392280  51.515484 -0.104929             pub  Food and Drinks
1     21686579  51.515403 -0.104335             pub  Food and Drinks
2     21693791  51.515074 -0.099733             pub  Food and Drinks
3     25473538  51.509682 -0.078508             pub  Food and Drinks
4     25474641  51.519776 -0.093756          cinema    Entertainment
5     25475187  51.511416 -0.077698             pub  Food and Drinks
6     25496840  51.516754 -0.110371             pub  Food and Drinks
7     32921722  51.513788 -0.109219             pub  Food and Drinks
8     32921723  51.513639 -0.109035         parking   Transportation
9    116097320  51.514928 -0.077875             pub  Food and Drinks
10   116097730  51.514828 -0.078119             pub  Food and Drinks
11   180391012  51.518873 -0.078600            cafe  Food and Drinks
12   248074287  51.512429 -0.104016             pub  Food and Drinks
13   255396262  51.517820 -0.109078            bank         Services
14   255396266  51.514647 -0.098110            bank         Services
15   255396267  51.514642 -0.098229            bank         Services
16   259246781  51.515859 -0.102402             pub  Food and Drinks
17   259247147  51.514016 -0.102142             pub  Food and Drinks
18   259247148  51.514044 -0.102310             pub  Food and Drinks
19   259248888  51.510891 -0.081185             pub  Food and Drinks
20   259253467  51.511014 -0.084766             pub  Food and Drinks
21   263679615  51.513045 -0.091298             pub  Food and Drinks
22   266560384  51.509393 -0.091624             pub  Food and Drinks
23   276920899  51.515713 -0.089445             pub  Food and Drinks
24   277906484  51.513200 -0.087178             pub  Food and Drinks
25   280546902  51.511697 -0.081985            bank         Services
26   280547869  51.512255 -0.080059            bank         Services
27   280547870  51.512045 -0.079483            bank         Services
28   288045288  51.514228 -0.074251             pub  Food and Drinks
29   289830212  51.513226 -0.086750             pub  Food and Drinks
..         ...        ...       ...             ...              ...
16  4513341393  51.514299 -0.088251          museum    Entertainment
0   3061197975  51.511570 -0.086307  fitness_centre           Health
1   4369519196  51.517128 -0.098451  fitness_centre           Health
2   4378043280  51.514839 -0.100430  fitness_centre           Health
3    697037338  51.509958 -0.075637      playground    Entertainment
4   1685281116  51.519259 -0.091825      playground    Entertainment
5    666918630  51.511876 -0.074605   sports_centre           Health
6    668842793  51.512664 -0.078879   sports_centre           Health
7    694471389  51.511247 -0.076255   sports_centre           Health
8   1141415201  51.519728 -0.085068   sports_centre           Health
9   1150003439  51.519957 -0.081858   sports_centre           Health
10  1268874626  51.511738 -0.097037   sports_centre           Health
11  1713257252  51.509675 -0.091484   sports_centre           Health
12  1787108615  51.514732 -0.085371   sports_centre           Health
13  2389890389  51.514894 -0.084197   sports_centre           Health
14  2545451248  51.518569 -0.084027   sports_centre           Health
15  2793892926  51.513267 -0.084890   sports_centre           Health
16  2914392296  51.516972 -0.078804   sports_centre           Health
17  3018116500  51.515042 -0.082971   sports_centre           Health
18  3164383488  51.515532 -0.079915   sports_centre           Health
19  3248473472  51.511188 -0.084675   sports_centre           Health
20  3596425484  51.511709 -0.090266   sports_centre           Health
21  3794345288  51.517502 -0.080786   sports_centre           Health
22  3906391799  51.515173 -0.079798   sports_centre           Health
23  3936798451  51.518357 -0.090725   sports_centre           Health
24  3998968424  51.517855 -0.097464   sports_centre           Health
25  4061331467  51.515492 -0.078740   sports_centre           Health
26  4075042399  51.518561 -0.083692   sports_centre           Health
27  4136266962  51.514519 -0.077114   sports_centre           Health
28  4569700105  51.514506 -0.104243   tanning_salon           Health

[1176 rows x 5 columns]

In [48]:
h = pd.read_csv("city_way_amenity.csv")
i = pd.read_csv("city_way_shop.csv")
l = pd.concat([h, i], join = 'inner')

In [49]:
j = pd.read_csv("city_way_tourism.csv")
k = pd.read_csv("city_way_leisure.csv")
m = pd.concat([j, k], join = 'inner')

In [50]:
n = pd.concat([l,m], join = 'inner')

In [51]:
n

            id        lat       lon        amenity      type
0     23988892  51.512964 -0.082426           bank  Services
1     35409660  51.512957 -0.091968           bank  Services
2     85478887  51.515320 -0.084753           bank  Services
3    142173274  51.509966 -0.082225           bank  Services
4    142300245  51.514063 -0.110664           bank  Services
5    142983951  51.510798 -0.085126           bank  Services
6    148677449  51.514019 -0.106373           bank  Services
7    155421448  51.511754 -0.091597           bank  Services
8    155428071  51.511097 -0.088542           bank  Services
9    155428076  51.510977 -0.085221           bank  Services
10   155428080  51.510596 -0.085578           bank  Services
11   155434163  51.513584 -0.081130           bank  Services
12   156167653  51.514255 -0.092035           bank  Services
13   156167663  51.513590 -0.092077           bank  Services
14   156167669  51.514709 -0.091952           bank  Services
15   156720834  51.510824 -0.085305           bank  Services
16   156720857  51.510603 -0.085154           bank  Services
17   156778765  51.515592 -0.078792           bank  Services
18   159844951  51.514996 -0.089945           bank  Services
19   160093287  51.513686 -0.092501           bank  Services
20   160093290  51.513763 -0.092916           bank  Services
21   160093296  51.513684 -0.092492           bank  Services
22   160096669  51.514923 -0.089346           bank  Services
23   160096673  51.515029 -0.089193           bank  Services
24   160138923  51.516555 -0.088548           bank  Services
25   160138934  51.516746 -0.088617           bank  Services
26   161386036  51.517251 -0.107636           bank  Services
27   161420160  51.513731 -0.110750           bank  Services
28   161420167  51.513883 -0.109771           bank  Services
29   161420187  51.513531 -0.111806           bank  Services
..         ...        ...       ...            ...       ...
71   315898004        NaN       NaN         garden     Other
72   317679674        NaN       NaN         garden     Other
73   317679677        NaN       NaN         garden     Other
74   317679679        NaN       NaN         garden     Other
75   317679681        NaN       NaN         garden     Other
76   318390944        NaN       NaN  sports_centre    Health
77   320247370        NaN       NaN         garden     Other
78   326053616        NaN       NaN         garden     Other
79   327242732        NaN       NaN         garden     Other
80   333576081        NaN       NaN         garden     Other
81   356671948        NaN       NaN  sports_centre    Health
82   357203210        NaN       NaN         garden     Other
83   357203755        NaN       NaN         garden     Other
84   366444255        NaN       NaN         garden     Other
85   376553754        NaN       NaN         garden     Other
86   419452548        NaN       NaN         garden     Other
87   419452550        NaN       NaN         garden     Other
88   419696196        NaN       NaN         garden     Other
89   424725976        NaN       NaN         garden     Other
90   442587480        NaN       NaN         garden     Other
91   444741871        NaN       NaN         garden     Other
92   444741872        NaN       NaN         garden     Other
93   444741873        NaN       NaN         garden     Other
94   457771757        NaN       NaN         garden     Other
95   468562259        NaN       NaN         garden     Other
96   470093550        NaN       NaN         garden     Other
97   485034272        NaN       NaN         garden     Other
98   490033582        NaN       NaN         garden     Other
99   490033584        NaN       NaN         garden     Other
100  490033585        NaN       NaN         garden     Other

[588 rows x 5 columns]

In [52]:
o = pd.concat([g,n], join = 'inner')

In [53]:
o

            id        lat       lon        amenity             type
0     21392280  51.515484 -0.104929            pub  Food and Drinks
1     21686579  51.515403 -0.104335            pub  Food and Drinks
2     21693791  51.515074 -0.099733            pub  Food and Drinks
3     25473538  51.509682 -0.078508            pub  Food and Drinks
4     25474641  51.519776 -0.093756         cinema    Entertainment
5     25475187  51.511416 -0.077698            pub  Food and Drinks
6     25496840  51.516754 -0.110371            pub  Food and Drinks
7     32921722  51.513788 -0.109219            pub  Food and Drinks
8     32921723  51.513639 -0.109035        parking   Transportation
9    116097320  51.514928 -0.077875            pub  Food and Drinks
10   116097730  51.514828 -0.078119            pub  Food and Drinks
11   180391012  51.518873 -0.078600           cafe  Food and Drinks
12   248074287  51.512429 -0.104016            pub  Food and Drinks
13   255396262  51.517820 -0.109078           bank         Services
14   255396266  51.514647 -0.098110           bank         Services
15   255396267  51.514642 -0.098229           bank         Services
16   259246781  51.515859 -0.102402            pub  Food and Drinks
17   259247147  51.514016 -0.102142            pub  Food and Drinks
18   259247148  51.514044 -0.102310            pub  Food and Drinks
19   259248888  51.510891 -0.081185            pub  Food and Drinks
20   259253467  51.511014 -0.084766            pub  Food and Drinks
21   263679615  51.513045 -0.091298            pub  Food and Drinks
22   266560384  51.509393 -0.091624            pub  Food and Drinks
23   276920899  51.515713 -0.089445            pub  Food and Drinks
24   277906484  51.513200 -0.087178            pub  Food and Drinks
25   280546902  51.511697 -0.081985           bank         Services
26   280547869  51.512255 -0.080059           bank         Services
27   280547870  51.512045 -0.079483           bank         Services
28   288045288  51.514228 -0.074251            pub  Food and Drinks
29   289830212  51.513226 -0.086750            pub  Food and Drinks
..         ...        ...       ...            ...              ...
71   315898004        NaN       NaN         garden            Other
72   317679674        NaN       NaN         garden            Other
73   317679677        NaN       NaN         garden            Other
74   317679679        NaN       NaN         garden            Other
75   317679681        NaN       NaN         garden            Other
76   318390944        NaN       NaN  sports_centre           Health
77   320247370        NaN       NaN         garden            Other
78   326053616        NaN       NaN         garden            Other
79   327242732        NaN       NaN         garden            Other
80   333576081        NaN       NaN         garden            Other
81   356671948        NaN       NaN  sports_centre           Health
82   357203210        NaN       NaN         garden            Other
83   357203755        NaN       NaN         garden            Other
84   366444255        NaN       NaN         garden            Other
85   376553754        NaN       NaN         garden            Other
86   419452548        NaN       NaN         garden            Other
87   419452550        NaN       NaN         garden            Other
88   419696196        NaN       NaN         garden            Other
89   424725976        NaN       NaN         garden            Other
90   442587480        NaN       NaN         garden            Other
91   444741871        NaN       NaN         garden            Other
92   444741872        NaN       NaN         garden            Other
93   444741873        NaN       NaN         garden            Other
94   457771757        NaN       NaN         garden            Other
95   468562259        NaN       NaN         garden            Other
96   470093550        NaN       NaN         garden            Other
97   485034272        NaN       NaN         garden            Other
98   490033582        NaN       NaN         garden            Other
99   490033584        NaN       NaN         garden            Other
100  490033585        NaN       NaN         garden            Other

[1764 rows x 5 columns]

In [54]:
#to find out if there are duplicate values and delete them
o.id.value_counts()

4684958739    2
155428066     2
567843761     2
441966150     2
350404899     2
3339836556    2
2876062102    2
748091223     2
3735864419    2
155428064     2
471488493     2
155428087     2
160093284     2
3143551226    2
622062081     2
3341683469    2
902513135     2
155906191     2
3362467163    1
365651246     1
2496113494    1
4317179189    1
1141415223    1
3218826552    1
3195444561    1
2389890388    1
833668418     1
289830212     1
2914392296    1
3794345289    1
             ..
3985642227    1
1669495358    1
2574301884    1
295975606     1
159922602     1
295975604     1
534907516     1
4518593704    1
748087934     1
421365974     1
854473346     1
100835971     1
1150003215    1
3636961931    1
1816038212    1
350370448     1
4270744       1
4333851289    1
161710616     1
23988892      1
4559217309    1
560751263     1
311974562     1
4519912099    1
1535778603    1
4623137046    1
295975600     1
4691514033    1
295975602     1
4691826689    1
Name: id, dtype: int64

In [55]:
p = o.drop_duplicates(subset = 'id',keep = 'first')

In [56]:
p

            id        lat       lon        amenity             type
0     21392280  51.515484 -0.104929            pub  Food and Drinks
1     21686579  51.515403 -0.104335            pub  Food and Drinks
2     21693791  51.515074 -0.099733            pub  Food and Drinks
3     25473538  51.509682 -0.078508            pub  Food and Drinks
4     25474641  51.519776 -0.093756         cinema    Entertainment
5     25475187  51.511416 -0.077698            pub  Food and Drinks
6     25496840  51.516754 -0.110371            pub  Food and Drinks
7     32921722  51.513788 -0.109219            pub  Food and Drinks
8     32921723  51.513639 -0.109035        parking   Transportation
9    116097320  51.514928 -0.077875            pub  Food and Drinks
10   116097730  51.514828 -0.078119            pub  Food and Drinks
11   180391012  51.518873 -0.078600           cafe  Food and Drinks
12   248074287  51.512429 -0.104016            pub  Food and Drinks
13   255396262  51.517820 -0.109078           bank         Services
14   255396266  51.514647 -0.098110           bank         Services
15   255396267  51.514642 -0.098229           bank         Services
16   259246781  51.515859 -0.102402            pub  Food and Drinks
17   259247147  51.514016 -0.102142            pub  Food and Drinks
18   259247148  51.514044 -0.102310            pub  Food and Drinks
19   259248888  51.510891 -0.081185            pub  Food and Drinks
20   259253467  51.511014 -0.084766            pub  Food and Drinks
21   263679615  51.513045 -0.091298            pub  Food and Drinks
22   266560384  51.509393 -0.091624            pub  Food and Drinks
23   276920899  51.515713 -0.089445            pub  Food and Drinks
24   277906484  51.513200 -0.087178            pub  Food and Drinks
25   280546902  51.511697 -0.081985           bank         Services
26   280547869  51.512255 -0.080059           bank         Services
27   280547870  51.512045 -0.079483           bank         Services
28   288045288  51.514228 -0.074251            pub  Food and Drinks
29   289830212  51.513226 -0.086750            pub  Food and Drinks
..         ...        ...       ...            ...              ...
71   315898004        NaN       NaN         garden            Other
72   317679674        NaN       NaN         garden            Other
73   317679677        NaN       NaN         garden            Other
74   317679679        NaN       NaN         garden            Other
75   317679681        NaN       NaN         garden            Other
76   318390944        NaN       NaN  sports_centre           Health
77   320247370        NaN       NaN         garden            Other
78   326053616        NaN       NaN         garden            Other
79   327242732        NaN       NaN         garden            Other
80   333576081        NaN       NaN         garden            Other
81   356671948        NaN       NaN  sports_centre           Health
82   357203210        NaN       NaN         garden            Other
83   357203755        NaN       NaN         garden            Other
84   366444255        NaN       NaN         garden            Other
85   376553754        NaN       NaN         garden            Other
86   419452548        NaN       NaN         garden            Other
87   419452550        NaN       NaN         garden            Other
88   419696196        NaN       NaN         garden            Other
89   424725976        NaN       NaN         garden            Other
90   442587480        NaN       NaN         garden            Other
91   444741871        NaN       NaN         garden            Other
92   444741872        NaN       NaN         garden            Other
93   444741873        NaN       NaN         garden            Other
94   457771757        NaN       NaN         garden            Other
95   468562259        NaN       NaN         garden            Other
96   470093550        NaN       NaN         garden            Other
97   485034272        NaN       NaN         garden            Other
98   490033582        NaN       NaN         garden            Other
99   490033584        NaN       NaN         garden            Other
100  490033585        NaN       NaN         garden            Other

[1746 rows x 5 columns]

In [117]:
p.id.value_counts()

3625977855    1
176575327     1
852122520     1
401787724     1
291650386     1
4497218390    1
534670168     1
1600414553    1
2328642397    1
1360505696    1
655338144     1
225726607     1
336051042     1
324121443     1
432769892     1
27892582      1
283218791     1
3357928296    1
24830793      1
271641416     1
2879556420    1
39893826      1
611967785     1
225442602     1
154792747     1
128568108     1
4986436       1
3375577906    1
2933457717    1
192355126     1
             ..
108863049     1
58000970      1
383979083     1
454668058     1
160902735     1
1331703687    1
119004753     1
2356266578    1
459667028     1
1492770152    1
11845181      1
288316282     1
210085406     1
218331258     1
272084511     1
175639155     1
259276860     1
448420162     1
3741478439    1
1322784296    1
240387626     1
221646379     1
773334574     1
372256303     1
4438283824    1
188646195     1
335779060     1
304938549     1
402456582     1
290457601     1
Name: id, dtype: int64

In [57]:
p.to_csv("city_amenities_subtotally.csv", index = False)

In [59]:
p = pd.read_csv("city_amenities_subtotally.csv")
q = pd.read_csv("final_amenities.csv")
r = pd.concat([p, q], join = 'inner')

In [60]:
r

               id        lat       lon             amenity             type
0        21392280  51.515484 -0.104929                 pub  Food and Drinks
1        21686579  51.515403 -0.104335                 pub  Food and Drinks
2        21693791  51.515074 -0.099733                 pub  Food and Drinks
3        25473538  51.509682 -0.078508                 pub  Food and Drinks
4        25474641  51.519776 -0.093756              cinema    Entertainment
5        25475187  51.511416 -0.077698                 pub  Food and Drinks
6        25496840  51.516754 -0.110371                 pub  Food and Drinks
7        32921722  51.513788 -0.109219                 pub  Food and Drinks
8        32921723  51.513639 -0.109035             parking   Transportation
9       116097320  51.514928 -0.077875                 pub  Food and Drinks
10      116097730  51.514828 -0.078119                 pub  Food and Drinks
11      180391012  51.518873 -0.078600                cafe  Food and Drinks
12      248074287  51.512429 -0.104016                 pub  Food and Drinks
13      255396262  51.517820 -0.109078                bank         Services
14      255396266  51.514647 -0.098110                bank         Services
15      255396267  51.514642 -0.098229                bank         Services
16      259246781  51.515859 -0.102402                 pub  Food and Drinks
17      259247147  51.514016 -0.102142                 pub  Food and Drinks
18      259247148  51.514044 -0.102310                 pub  Food and Drinks
19      259248888  51.510891 -0.081185                 pub  Food and Drinks
20      259253467  51.511014 -0.084766                 pub  Food and Drinks
21      263679615  51.513045 -0.091298                 pub  Food and Drinks
22      266560384  51.509393 -0.091624                 pub  Food and Drinks
23      276920899  51.515713 -0.089445                 pub  Food and Drinks
24      277906484  51.513200 -0.087178                 pub  Food and Drinks
25      280546902  51.511697 -0.081985                bank         Services
26      280547869  51.512255 -0.080059                bank         Services
27      280547870  51.512045 -0.079483                bank         Services
28      288045288  51.514228 -0.074251                 pub  Food and Drinks
29      289830212  51.513226 -0.086750                 pub  Food and Drinks
...           ...        ...       ...                 ...              ...
62344  4847613701  51.508692 -0.131614          restaurant  Food and Drinks
62345  4847672883  51.460524 -0.075479              beauty         Shopping
62346  4847771821  51.445962 -0.085816                cafe  Food and Drinks
62347  4848974988  51.507713 -0.295076          playground    Entertainment
62348  4849880313  51.453429 -0.174425          restaurant  Food and Drinks
62349  4849928822  51.513712 -0.135703          restaurant  Food and Drinks
62350  4851419432  51.509368 -0.131027             parking   Transportation
62351  4851757058  51.509022 -0.131881             clothes         Shopping
62352  4851783041  51.509335 -0.131934          restaurant  Food and Drinks
62353  4851783412  51.509309 -0.131983          restaurant  Food and Drinks
62354  4851789828  51.509357 -0.131877          restaurant  Food and Drinks
62355  4851792812  51.509385 -0.131813          restaurant  Food and Drinks
62356  4852113227  51.511617 -0.132521           fast_food  Food and Drinks
62357  4852140001  51.513960 -0.149291                cafe  Food and Drinks
62358  4852324357  51.513731 -0.151295  musical_instrument         Shopping
62359  4852324358  51.512975 -0.150962         hairdresser         Services
62360  4852324359  51.513540 -0.150945             florist         Shopping
62361  4852324360  51.513603 -0.150972             clothes         Shopping
62362  4852324361  51.513664 -0.151000             clothes         Shopping
62363  4852324362  51.513739 -0.151030               shoes         Shopping
62364  4852324363  51.513801 -0.151048         hairdresser         Services
62365  4852330084  51.513842 -0.151075                cafe  Food and Drinks
62366  4852330085  51.513896 -0.151097             clothes         Shopping
62367  4853495566  51.528174 -0.091067          restaurant  Food and Drinks
62368  4853495567  51.528154 -0.090971          restaurant  Food and Drinks
62369  4853531835  51.369578 -0.180830         convenience         Shopping
62370  4853841277  51.510009 -0.128845          restaurant  Food and Drinks
62371  4853841278  51.510162 -0.129319          restaurant  Food and Drinks
62372  4853856034  51.510306 -0.128544          restaurant  Food and Drinks
62373  4854005322  51.523036 -0.136843                cafe  Food and Drinks

[64120 rows x 5 columns]

In [63]:
s = r.drop_duplicates(subset = 'id',keep = 'first')

In [66]:
s.type.value_counts()

Food and Drinks    16482
Shopping           14551
Services            8719
Other               8300
Transportation      6628
Education           4190
Entertainment       2371
Health              2356
Government           511
health                 1
Name: type, dtype: int64

In [152]:
s = r.amenity.value_counts()

In [153]:
s.to_csv("amenity_valuecounts.csv")

In [154]:
r.to_csv("amenity_subtotally2.csv", index = False)

In [155]:
r

,Unnamed: 0,id,lat,lon,amenity,classification,tags
0,0,108042,51.523544,-0.135599,pub,NaN,"{u'addr:housenumber': u'31', u'toilets': u'yes..."
1,1,108539,51.529125,-0.093388,bicycle_rental,NaN,"{u'amenity': u'bicycle_rental', u'capacity': u..."
3,3,451152,51.600840,-0.194608,pub,NaN,"{u'addr:housenumber': u'363', u'real_ale': u'3..."
4,4,451153,51.602031,-0.193503,restaurant,NaN,"{u'amenity': u'restaurant', u'name': u'Central..."
5,5,451154,51.599586,-0.196005,pub,NaN,"{u'addr:housenumber': u'319', u'real_ale': u'3..."
6,6,451156,51.599632,-0.197601,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
7,7,451271,51.614104,-0.176505,pub,NaN,"{u'addr:housenumber': u'749', u'website': u'ht..."
8,8,469648,51.632361,-0.200258,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
9,9,699763,51.505071,-0.216417,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
10,10,10806290,51.350991,-0.161645,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
11,11,12185812,51.488822,-0.388452,parking,NaN,"{u'amenity': u'parking', u'name': u'Heston Ser..."
12,12,12242503,51.592016,0.027962,pub,NaN,"{u'toilets:access': u'customers', u'real_ale':..."
13,13,12243302,51.575987,0.028219,pub,NaN,"{u'real_ale': u'yes', u'amenity': u'pub', u'ad..."
14,14,12245485,51.583120,0.020594,pub,NaN,"{u'addr:housenumber': u'73', u'cuisine': u'bri..."
15,15,13799212,51.521079,-0.115632,library,NaN,"{u'amenity': u'library', u'name': u'Holborn Li..."
17,17,13878265,51.444626,-0.020698,library,NaN,{u'website': u'http://www.lewisham.gov.uk/myse...
19,19,15262028,51.516395,-0.169763,pub,NaN,"{u'addr:housenumber': u'30', u'toilets': u'yes..."
20,20,15415851,51.538065,-0.149594,public_building,NaN,"{u'amenity': u'public_building', u'name': u'Ce..."
21,21,16602396,51.450011,-0.417451,fuel,NaN,{u'amenity': u'fuel'}
22,22,16602730,51.450714,-0.420837,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
23,23,16602745,51.450834,-0.421166,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
24,24,17345465,51.651878,-0.064593,parking,NaN,{u'amenity': u'parking'}
25,25,17806374,51.449221,-0.237121,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
26,26,17806375,51.453407,-0.221599,pub,NaN,{u'website': u'http://www.greenmanputney.co.uk...
27,27,17978996,51.574614,-0.335578,parking,NaN,"{u'amenity': u'parking', u'wheelchair': u'limi..."
28,28,18235090,51.462859,-0.226697,pub,NaN,"{u'addr:housenumber': u'289', u'amenity': u'pu..."
29,29,18301609,51.467159,-0.228769,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
32,32,20821133,51.500393,-0.177711,pub,NaN,"{u'amenity': u'pub', u'name': u'The Union Bar'}"
33,33,20849687,51.411171,-0.333917,cafe,NaN,"{u'note': u'is a trailer parked there, serving..."
34,34,20917317,51.468548,-0.211762,place_of_worship,NaN,"{u'religion': u'christian', u'amenity': u'plac..."
...,...,...,...,...,...,...,...
12220,12220,490090204,51.316130,-0.133593,playground,NaN,{u'leisure': u'playground'}
12223,12223,490090458,51.314413,-0.133906,miniature_golf,NaN,{u'leisure': u'miniature_golf'}
12229,12229,490107661,51.404143,0.018324,playground,NaN,{u'leisure': u'playground'}
12231,12231,490347122,51.605521,-0.283146,park,NaN,"{u'leisure': u'park', u'barrier': u'fence', u'..."
12232,12232,490724406,51.550159,-0.038310,playground,NaN,"{u'access': u'private', u'leisure': u'playgrou..."
12233,12233,490854584,51.479910,-0.150220,playground,NaN,{u'leisure': u'playground'}
12234,12234,490872038,51.515282,-0.027995,playground,NaN,{u'leisure': u'playground'}
12235,12235,490872039,51.515113,-0.027992,playground,NaN,{u'leisure': u'playground'}
12236,12236,490911654,51.499933,0.114415,park,NaN,"{u'name': u'Birchmere Park', u'leisure': u'park'}"
12238,12238,491166164,51.491998,0.050057,playground,NaN,{u'leisure': u'playground'}
12239,12239,491304501,51.539131,-0.072352,playground,NaN,{u'leisure': u'playground'}
12240,12240,491533940,51.405626,-0.222705,sports_centre,NaN,"{u'building': u'no', u'name': u'David Lloyd Ra..."
12241,12241,491592931,51.578498,-0.427921,park,NaN,"{u'name': u'Manor Farm', u'leisure': u'park'}"
12242,12242,491600817,51.482991,-0.212339,park,NaN,{u'description': u'Gardens with trees and gras...
12243,12243,491619624,51.592149,-0.262210,park,NaN,"{u'name:en': u'Grove Park', u'landuse': u'mead..."
12244,12244,491619866,51.591615,-0.262130,park,NaN,"{u'landuse': u'recreation_ground', u'leisure':..."
12245,12245,491802250,51.544193,0.004250,garden,NaN,"{u'access': u'private', u'garden:type': u'mona..."
12246,12246,491827999,51.521908,-0.151808,garden,NaN,"{u'access': u'public', u'leisure': u'garden'}"
12247,12247,492152796,51.469155,-0.220026,sports_centre,NaN,"{u'building': u'yes', u'sport': u'rowing', u'n..."
12248,12248,492568978,51.545851,0.002998,park,NaN,{u'leisure': u'park'}
12250,12250,492655666,51.622052,-0.046749,park,NaN,{u'leisure': u'park'}
12251,12251,492774802,51.489201,-0.084189,playground,NaN,{u'leisure': u'playground'}
12252,12252,492859642,51.475276,0.040257,swimming_pool,NaN,{u'leisure': u'swimming_pool'}
12254,12254,493000594,51.502343,-0.325760,park,NaN,"{u'name': u'April Cottages', u'leisure': u'park'}"
12255,12255,493001390,51.500286,-0.319756,park,NaN,"{u'name': u'Fielding Walk', u'leisure': u'park'}"
12256,12256,493001391,51.499317,-0.326859,park,NaN,{u'leisure': u'park'}
12257,12257,493026401,51.499693,-0.045426,garden,NaN,"{u'access': u'private', u'name': u'Wolfe Cresc..."
12258,12258,493033758,51.489685,-0.112660,park,NaN,{u'leisure': u'park'}
12260,12260,493216253,51.352166,-0.079878,park,NaN,"{u'name': u'Croham Hurst', u'leisure': u'park'}"
12261,12261,493339932,51.334505,-0.137418,park,NaN,"{u'name': u'Woodcote Village Green', u'leisure..."

# Add classification column in Excel

# Check final and upload to SQL

In [13]:
s = pd.read_csv("final_amenities2.csv")

In [14]:
s.type.value_counts()

Food and Drinks    16365
Services           15208
Shopping           14524
Other               8236
Education           4179
Entertainment       2472
Health              2340
Government           509
Name: type, dtype: int64

In [15]:
s.amenity.value_counts()

parking                6528
restaurant             5313
cafe                   3947
pub                    3354
school                 3166
park                   3032
fast food              2797
place of worship       2677
convenience            2614
clothes                2147
garden                 1934
hairdresser            1756
playground             1635
supermarket            1130
hotel                  1044
bank                   1015
pharmacy                839
bar                     758
beauty                  712
sports centre           648
bicycle rental          631
estate agent            594
bookmaker               523
dry cleaning            501
fuel                    460
dentist                 399
jewellery               395
community centre        375
doctors                 370
bakery                  367
                       ...
childcare                69
tattoo                   68
car rental               67
kitchen                  66
musical instrument       66
social club              61
music                    60
track                    60
boutique                 59
cosmetics                58
car parts                57
garden centre            56
fitness centre           56
houseware                54
nursing home             53
Health                   53
outdoor                  47
stadium                  47
courthouse               47
motorcycle               43
seafood                  43
locksmith                41
bathroom furnishing      41
money transfer           40
perfume                  37
townhall                 34
erotic                   34
post depot               34
nursery                  31
health food              30
Name: amenity, dtype: int64

In [16]:
#Delete every row with amenity count less than 30 occurrences
t = s[s.groupby('amenity').id.transform(len) > 29]
t.amenity.value_counts()

parking                6528
restaurant             5313
cafe                   3947
pub                    3354
school                 3166
park                   3032
fast food              2797
place of worship       2677
convenience            2614
clothes                2147
garden                 1934
hairdresser            1756
playground             1635
supermarket            1130
hotel                  1044
bank                   1015
pharmacy                839
bar                     758
beauty                  712
sports centre           648
bicycle rental          631
estate agent            594
bookmaker               523
dry cleaning            501
fuel                    460
dentist                 399
jewellery               395
community centre        375
doctors                 370
bakery                  367
                       ...
childcare                69
tattoo                   68
car rental               67
kitchen                  66
musical instrument       66
social club              61
music                    60
track                    60
boutique                 59
cosmetics                58
car parts                57
garden centre            56
fitness centre           56
houseware                54
nursing home             53
Health                   53
outdoor                  47
stadium                  47
courthouse               47
motorcycle               43
seafood                  43
locksmith                41
bathroom furnishing      41
money transfer           40
perfume                  37
townhall                 34
erotic                   34
post depot               34
nursery                  31
health food              30
Name: amenity, dtype: int64

In [8]:
t

,id,lat,lon,amenity,type,points
0,108042,51.523544,-0.135599,pub,Food and Drinks,POINT(-0.1355991 51.5235442)
1,108539,51.529125,-0.093388,bicycle rental,Services,POINT(-0.09338780000000001 51.5291251)
2,283885,51.494987,0.015537,park,Other,POINT(0.0155375 51.4949874)
3,451152,51.600840,-0.194608,pub,Food and Drinks,POINT(-0.1946078 51.6008404)
4,451153,51.602031,-0.193503,restaurant,Food and Drinks,POINT(-0.1935029 51.6020306)
5,451154,51.599586,-0.196005,pub,Food and Drinks,POINT(-0.1960052 51.5995863)
6,451156,51.599632,-0.197601,place of worship,Other,POINT(-0.197601 51.5996316)
7,451271,51.614104,-0.176505,pub,Food and Drinks,POINT(-0.1765046 51.6141038)
8,469648,51.632361,-0.200258,place of worship,Other,POINT(-0.2002582 51.6323613)
9,699763,51.505071,-0.216417,place of worship,Other,POINT(-0.2164171 51.5050712)
10,2838058,51.664785,-0.090908,park,Other,POINT(-0.0909083 51.6647854)
11,2903046,51.667231,-0.078696,park,Other,POINT(-0.07869569999999999 51.6672305)
12,2903368,51.662509,-0.086130,park,Other,POINT(-0.0861302 51.6625095)
13,2903369,51.661267,-0.081628,park,Other,POINT(-0.08162800000000001 51.6612673)
14,2903398,51.648797,-0.068180,park,Other,POINT(-0.0681805 51.6487967)
15,2914274,51.597472,-0.193860,park,Other,POINT(-0.1938597 51.5974717)
16,2926821,51.641209,-0.120571,park,Other,POINT(-0.1205715 51.6412092)
17,2939009,51.649274,-0.086346,park,Other,POINT(-0.08634559999999999 51.6492745)
18,2939140,51.652613,-0.170280,park,Other,POINT(-0.1702798 51.6526132)
19,2953350,51.595697,-0.229405,park,Other,POINT(-0.2294052 51.5956972)
20,2954253,51.638429,-0.153701,park,Other,POINT(-0.1537009 51.6384289)
21,2955990,51.626871,-0.182336,park,Other,POINT(-0.1823357 51.6268709)
22,2956081,51.436729,-0.020784,parking,Services,POINT(-0.0207837 51.4367288)
23,2956125,51.434472,-0.006307,park,Other,POINT(-0.0063073 51.4344718)
24,2956183,51.445593,-0.022167,parking,Services,POINT(-0.0221666 51.4455933)
25,2956184,51.444460,-0.018232,parking,Services,POINT(-0.0182316 51.4444599)
26,2956185,51.448370,-0.018738,parking,Services,POINT(-0.0187379 51.4483696)
27,2956473,51.457840,-0.005893,parking,Services,POINT(-0.0058934 51.4578397)
28,2956783,51.453122,-0.013201,park,Other,POINT(-0.0132006 51.4531221)
29,3042477,51.423092,-0.022383,parking,Services,POINT(-0.022383 51.4230922)
...,...,...,...,...,...,...
63803,4847613701,51.508692,-0.131614,restaurant,Food and Drinks,POINT(-0.131614 51.5086924)
63804,4847672883,51.460524,-0.075479,beauty,Shopping,POINT(-0.0754787 51.4605243)
63805,4847771821,51.445962,-0.085816,cafe,Food and Drinks,POINT(-0.0858163 51.4459616)
63806,4848974988,51.507713,-0.295076,playground,Entertainment,POINT(-0.2950758 51.5077128)
63807,4849880313,51.453429,-0.174425,restaurant,Food and Drinks,POINT(-0.174425 51.4534294)
63808,4849928822,51.513712,-0.135703,restaurant,Food and Drinks,POINT(-0.1357031 51.5137116)
63809,4851419432,51.509368,-0.131027,parking,Services,POINT(-0.1310265 51.509368)
63810,4851757058,51.509022,-0.131881,clothes,Shopping,POINT(-0.1318811 51.509022)
63811,4851783041,51.509335,-0.131934,restaurant,Food and Drinks,POINT(-0.1319337 51.5093353)
63812,4851783412,51.509309,-0.131983,restaurant,Food and Drinks,POINT(-0.1319833 51.5093089)
63813,4851789828,51.509357,-0.131877,restaurant,Food and Drinks,POINT(-0.1318771 51.5093573)
63814,4851792812,51.509385,-0.131813,restaurant,Food and Drinks,POINT(-0.1318134 51.5093849)
63815,4852113227,51.511617,-0.132521,fast food,Food and Drinks,POINT(-0.1325212 51.5116171)
63816,4852140001,51.513960,-0.149291,cafe,Food and Drinks,POINT(-0.1492913 51.5139601)
63817,4852324357,51.513731,-0.151295,musical instrument,Shopping,POINT(-0.1512949 51.5137308)
63818,4852324358,51.512975,-0.150962,hairdresser,Services,POINT(-0.1509617 51.5129749)
63819,4852324359,51.513540,-0.150945,florist,Shopping,POINT(-0.1509451 51.5135401)
63820,4852324360,51.513603,-0.150972,clothes,Shopping,POINT(-0.1509719 51.5136026)
63821,4852324361,51.513664,-0.151000,clothes,Shopping,POINT(-0.151 51.5136636)
63822,4852324362,51.513739,-0.151030,shoes,Shopping,POINT(-0.1510295 51.5137387)
63823,4852324363,51.513801,-0.151048,hairdresser,Services,POINT(-0.1510483 51.5138013)
63824,4852330084,51.513842,-0.151075,cafe,Food and Drinks,POINT(-0.1510751 51.5138422)
63825,4852330085,51.513896,-0.151097,clothes,Shopping,POINT(-0.1510966 51.5138956)
63826,4853495566,51.528174,-0.091067,restaurant,Food and Drinks,POINT(-0.0910675 51.5281744)
63827,4853495567,51.528154,-0.090971,restaurant,Food and Drinks,POINT(-0.090971 51.5281544)
63828,4853531835,51.369578,-0.180830,convenience,Shopping,POINT(-0.1808296 51.3695785)
63829,4853841277,51.510009,-0.128845,restaurant,Food and Drinks,POINT(-0.1288445 51.5100094)
63830,4853841278,51.510162,-0.129319,restaurant,Food and Drinks,POINT(-0.1293187 51.5101625)
63831,4853856034,51.510306,-0.128544,restaurant,Food and Drinks,POINT(-0.1285436 51.5103056)
63832,4854005322,51.523036,-0.136843,cafe,Food and Drinks,POINT(-0.1368433 51.5230363)

In [17]:
t.to_csv("final_amenities_andCity_andPOINTS.csv", index = False)

# TO SQL

In [18]:
from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://ucfnlan:wubumimevu@128.40.150.34:3306/ucfnlan')

In [19]:
conn=engine
t.to_sql('final_amenities', conn, index=False)

In [11]:
t.to_csv("final_amenities.csv")

In [17]:
london_info = pd.read_csv("london_info.csv")
london_info

,Ward name,Old code,New code,Population 2015,In employment 2011,Number of jobs 2013,Median House Price 2014,Median Household income 2012,Average Public Transport Accessibility score 2014
0,City of London,00AA,E09000001,8100,4555,392400,765000,63620,7.9
1,Barking and Dagenham Abbey,00ABFX,E05000026,14750,5444,9500,173000,33920,6.0
2,Barking and Dagenham Alibon,00ABFY,E05000027,10600,4143,1000,215000,32470,3.1
3,Barking and Dagenham Becontree,00ABFZ,E05000028,12700,4598,1300,210000,33000,2.9
4,Barking and Dagenham Chadwell Heath,00ABGA,E05000029,10400,3819,1900,240500,33920,2.3
5,Barking and Dagenham Eastbrook,00ABGB,E05000030,10750,4592,4000,240000,37400,2.3
6,Barking and Dagenham Eastbury,00ABGC,E05000031,11900,4546,1200,220000,32870,2.7
7,Barking and Dagenham Gascoigne,00ABGD,E05000032,15850,4382,2900,200000,29480,3.2
8,Barking and Dagenham Goresbrook,00ABGE,E05000033,11450,4544,1300,205000,33250,2.5
9,Barking and Dagenham Heath,00ABGF,E05000034,11150,4043,3100,215000,31340,2.7
10,Barking and Dagenham Longbridge,00ABGG,E05000035,11900,4894,1300,312750,40570,3.1
11,Barking and Dagenham Mayesbrook,00ABGH,E05000036,10550,3978,1100,212000,31530,2.5
12,Barking and Dagenham Parsloes,00ABGJ,E05000037,10050,3785,700,213000,31860,2.7
13,Barking and Dagenham River,00ABGK,E05000038,11950,4420,5100,205500,33490,3.0
14,Barking and Dagenham Thames,00ABGL,E05000039,18950,4081,9700,219000,32580,2.1
15,Barking and Dagenham Valence,00ABGM,E05000040,10250,3873,1900,215000,33200,3.2
16,Barking and Dagenham Village,00ABGN,E05000041,11050,4242,1200,202500,31960,2.7
17,Barking and Dagenham Whalebone,00ABGP,E05000042,11150,4617,2700,235000,37180,2.9
18,Barnet Brunswick Park,00ACFX,E05000043,17550,7603,3900,435000,39800,2.9
19,Barnet Burnt Oak,00ACFY,E05000044,19650,7674,2800,250000,29400,3.6
20,Barnet Childs Hill,00ACFZ,E05000045,21100,9309,7000,507500,38960,4.5
21,Barnet Colindale,00ACGA,E05000046,26600,7344,9000,302500,30170,2.5
22,Barnet Coppetts,00ACGB,E05000047,18050,8630,3800,335000,38090,2.9
23,Barnet East Barnet,00ACGC,E05000048,17100,7566,3700,368000,39870,2.8
24,Barnet East Finchley,00ACGD,E05000049,16850,8153,4200,437500,41160,2.6
25,Barnet Edgware,00ACGE,E05000050,17600,7259,6900,455000,38410,3.0
26,Barnet Finchley Church End,00ACGF,E05000051,16800,7386,6000,528000,45030,2.9
27,Barnet Garden Suburb,00ACGG,E05000052,16950,7373,6000,825000,53090,2.7
28,Barnet Golders Green,00ACGH,E05000053,24950,7635,6200,555250,40800,3.4
29,Barnet Hale,00ACGJ,E05000054,18250,7828,3000,397250,38590,2.6
...,...,...,...,...,...,...,...,...,...
628,Bexley,00AD,E09000004,237000,107274,69400,250000,44430,2.6
629,Brent,00AE,E09000005,326350,144030,111600,385000,39630,3.7
630,Bromley,00AF,E09000006,320100,146448,105000,335000,55140,2.8
631,Camden,00AG,E09000007,230300,105123,327600,675000,67990,5.7
632,Croydon,00AH,E09000008,381150,168680,113100,265000,45120,3.2
633,Ealing,00AJ,E09000009,349350,161259,124400,388000,45690,3.3
634,Enfield,00AK,E09000010,322150,133872,98500,285000,41250,3.0
635,Greenwich,00AL,E09000011,281550,115561,74700,317000,44370,3.4
636,Hackney,00AM,E09000012,262700,116980,108500,433000,42690,4.9
637,Hammersmith and Fulham,00AN,E09000013,189850,97453,130500,661000,62910,4.7
638,Haringey,00AP,E09000014,269100,121835,65100,405000,45860,4.3
639,Harrow,00AQ,E09000015,247500,110158,71700,370000,49060,2.9
640,Havering,00AR,E09000016,250350,109624,77000,250000,44430,2.5
641,Hillingdon,00AS,E09000017,289500,127046,200000,307000,44950,2.4
642,Hounslow,00AT,E09000018,263600,124325,143400,319950,44490,3.0
643,Islington,00AU,E09000019,220800,104767,208600,530000,54950,5.7
644,Kensington and Chelsea,00AW,E09000020,161700,77998,125300,1195000,116350,5.8
645,Kingston upon Thames,00AX,E09000021,167200,79777,74100,385000,56920,2.9
646,Lambeth,00AY,E09000022,320450,164113,143100,420000,48610,5.0
647,Lewisham,00AZ,E09000023,293050,133650,65200,315000,43360,4.1
648,Merton,00BA,E09000024,206200,102354,81200,385000,57160,3.4
649,Newham,00BB,E09000025,338000,131093,90100,250000,34260,3.9
650,Redbridge,00BC,E09000026,292450,121539,72200,301500,45380,3.0
651,Richmond upon Thames,00BD,E09000027,191600,95862,77600,535000,76610,3.1
652,Southwark,00BE,E09000028,308650,145248,203400,420000,48000,4.9
653,Sutton,00BF,E09000029,196400,94912,70000,285000,49170,2.9
654,Tower Hamlets,00BG,E09000030,284300,119774,255200,383000,45720,5.0
655,Waltham Forest,00BH,E09000031,271450,118931,69800,320000,39460,3.6
656,Wandsworth,00BJ,E09000032,322750,175423,112400,532500,66220,4.3
657,Westminster,00BK,E09000033,230550,107239,693100,875000,80760,6.5

In [18]:
london_info.to_sql('london_info', conn, index=False)