In [79]:
import scipy as sc
import collections
import numpy as np
import math
import collections
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import entropy as Entropy

### Data Preparation

In [80]:
file_name = "/Users/June/urbanDNA/Ele-June/ids_3clusterLabels.csv"

df = pd.read_csv(file_name)

In [81]:
df = df.drop(['Unnamed: 0','lat','lon','type','points','DBSCAN2','HIDALGO'],axis=1)

df.columns=['id','amenity','label']

df.head()

       id         amenity  label
0  108042             pub     -1
1  108539  bicycle rental     -1
2  283885            park     -1
3  451152             pub     27
4  451153      restaurant     27

In [82]:
num_clusters = len(collections.Counter(df['label']).keys())
num_clusters

84

### Define Functions
#### To calculate Shannon's diversity index

In [83]:
def shannon(data):
    p_data= data.value_counts()/float(len(data)) # calculates the probabilities
    entropy=Entropy(p_data)  # input probabilities to get the entropy 
    return entropy

#### To Format dataframe and produce shannon's diversity index for one cluster

In [84]:
def OneCluster(cluster_label):
    one_cluster = df[df.label ==cluster_label]
    keys = pd.DataFrame(collections.Counter(one_cluster.amenity.values).keys())
    values =pd.DataFrame(collections.Counter(one_cluster.amenity.values).values())

    df_c = pd.concat([keys.reset_index(drop=True), values], axis=1)

    df_c.columns =['amenity','count']
    return(shannon(df_c['count']))

#### Compute and get results for all clusters

In [91]:
shannons_clusters = []
for x in range(0,num_clusters-1): #-1 because we don't include diversity index for the outliers
    shannons_clusters.append(OneCluster(x))
#     print x, OneCluster(x)

In [105]:
shannons_results = pd.DataFrame(range(0,num_clusters-1))
shannons_results['values']=shannons_clusters
shannons_results.columns=['cluster_label','values']

In [112]:
shannons_results.head()

   cluster_label    values
0              0  2.008847
1              1  2.294477
2              2  2.123581
3              3  2.208246
4              4  1.996362

In [108]:
shannons_results.to_csv('shannon.csv')

In [111]:
from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://ucfnlan:wubumimevu@128.40.150.34:3306/ucfnlan')

conn=engine
shannons_results.to_sql('shannons_results', conn, index=False)